[2022-10-12 23:07] bwheelz36 commented on #3529
Anyone have any ideas on this? otherwise we can just close the issue I guess...

[2022-10-13 02:06] laoyaoer commented on #2583
+1

[2022-10-13 06:35] sidharthv96 commented on #3597
You can see which all files have changed in docs by running
[code]

I think it'll be easier for you to go with Option 2. Replace `packages/mermaid/src/docs/` with your docs and then add relevant changes you find with the above command to that.

This will also help us track what changes you've made instead of having a completely new folder like we had in vdocs, which made change tracking hard.

Alt

[2022-10-13 07:29] #3603 closed

[2022-10-13 08:28] sidharthv96 commented on #3650
This could also enable the generation of diagram previews when linking to live editor.

[2022-10-13 09:52] antoinelucas commented on #1604
any update ?

[2022-10-13 11:33] martinbonnin opened #3663 "Support dash in class diagrams"
The following [![test](https://mermaid.ink/img/pako:eNo1zTsOAjEQA9CrRK43F0hBBSegnWbIDBCRD8qnQMvenRShs6VneYcvonDwkVs7B35UTpRTkRHVsrH2ezKr3ShjQ9KaOMic7JSNIfSnJiW4GYXri0D5mG68hbteJPRS4e4cm27g0cv1kz1cr0P_aN0udfwAqi0zHg)](https://mermaid.live/edit#pako:eNo1zTsOAjEQA9CrRK43F0hBBSegnWbIDBCRD8qnQMvenRShs6VneYcvonDwkVs7B35UTpRTkRHVsrH2ezKr3ShjQ9KaOMic7JSNIfSnJiW4GYXri0D5mG68hbteJPRS4e4cm27g0cv1kz1cr0P_aN0u

[2022-10-13 12:14] xavier-rodet commented on #2629
Yep I would need that too :+1:

[2022-10-13 13:36] knsv commented on #3659
Hi! The height attribute was removed as a part of fixing #3262.

You can see a reference to the fixed bug below. I am returning the height in the for the case where you are not using maxWidth.

When using maxWidth though the width is set to 100% and the height is calculated from that by the browser after the diagram is rendered. Here the browser sets the real height after the rendering. I can add

[2022-10-13 14:59] silverwind commented on #3659
My use case can be seen [here](https://github.com/go-gitea/gitea/blob/b6117eab12d2d2d43a5b3ac2114cb58912dc5978/web_src/js/markup/mermaid.js#L52-L60). The SVG is inserted in an `<iframe>` with `100%` width and as far as I know, iframes need a explicit height in all cases, e.g. it's impossible to let them naturally "expand" with content.

My current workaround is to just parse the height out of `vie

[2022-10-13 17:51] silverwind commented on #3659
I just tried with `flowchart: {useMaxWidth: false}` and it does change `width` from previously `100%` to a pixel value. But it does not help my use case, because I want `100%` width, with an pixel value for `height` so I can size the `<iframe>`. `viewBox` does seem to give what I want currently.

[2022-10-13 18:23] huineng opened #3666 "d3-color vulnerable to ReDoS - https://github.com/advisories/GHSA-36jr-mh4h-2g58"
There's a vulnerability reported on packages that dagre-d3 uses

Unfortunately that repo is no longer supported https://github.com/dagrejs/dagre-d3

Are there any plans to mitigate this ..
This is reported by npm audit , but npm install will also display

This will cause serious issues for mermaid going forward as these are reported as high

Thanks

[code]

[2022-10-13 21:28] yurtsiv opened #3667 "`scale` keyword in state diagrams"
The [parser](https://github.com/mermaid-js/mermaid/blob/develop/packages/mermaid/src/diagrams/state/parser/stateDiagram.jison) for state diagrams [accepts](https://github.com/mermaid-js/mermaid/blob/develop/packages/mermaid/src/diagrams/state/parser/stateDiagram.jison#L60) `scale <number> width` statements, however it [doesn't do anything](https://github.com/mermaid-js/mermaid/blob/develop/package

[2022-10-14 04:35] #3654 closed

[2022-10-14 05:17] flmelody commented on #1945
+1

[2022-10-14 05:39] knsv commented on #3659
Yes, that would have been a more clear separation of concern. 😄

Glad that you get what you need from the viewport. It was still good to look at this as the height should be set when not using maxWidth, will update that.

[2022-10-14 06:21] knsv commented on #3650
Lots of possibilities with this one.

[2022-10-14 09:55] KartikSoneji commented on #1969
Another issue with depending on dagre-d3 is it needs a browser env to run.
This means a fully headless cli is not possible, and a chrome or chromium instance will always be launched in the background, which is very resource intensive.

Migrating away from dagre might solve this issue.

[2022-10-14 13:10] knsv commented on #448
Sorry, I don't know.

[2022-10-14 13:24] danangtomo opened #3675 "Add OpenGraph meta tags"
**Is your feature request related to a problem? Please describe.**

Not a problem. Just add Open Graph meta tags for title, URL, image, decs, and type to the website.

*The Goals*
- Make the content more eye-catching in social media feeds.
- Tell people what the content is about at a glance.
- Sharing via social media helps this project grow bigger

[2022-10-14 13:25] danangtomo commented on #3675
I'd love to work on it if assigned

[2022-10-14 14:28] knsv commented on #3675
Much appreciated, assigned you are!

[2022-10-14 14:54] hoang-himself commented on #177
Is there any public roadmap or plan? I see some diagrams from this issue getting released already, but top requests like use case have no progress.

[2022-10-14 15:27] brunolnetto commented on #177
@hoang-himself I shall call your complain as the horse walk dilema: many people want to take a walk on the horse, but few want to put the saddle. A while ago there was some effort to compile the past suggestions on a list. You will find it on a past comment of mine. To concretize these wishes, we require further effort and will of other people to assign and develop these diagrams further. For that

[2022-10-14 15:37] slorber commented on #3650
We just finished the integration of Mermaid in Docusauurs (https://github.com/facebook/docusaurus/pull/7490)

We would also really like to have SSR support:
- mermaid increases the bundle size, but doc sites should rather remain light
- rendering the SVG only on the client produces layout shifts
- progressive enhancement: if js loads slowly (or not at all), the doc page does not display any diagra

[2022-10-14 15:56] jonas-lomholdt commented on #2583
+1

[2022-10-14 16:28] jwyza-pi commented on #3124
What icons would actually get embedded? The v4 set that is fairly limited or the bigger v6 free set? or some curated subset therein? (since the full free set of SVGs is 1.8MB (uncompressed) and 2000 icons. Even compressed it's 1.2MB which nearly doubles the output size of MJS's JS atm.  (this might be acceptable for the ability to us FA inline without needing to depend on external resources)

Defi

[2022-10-14 16:39] weedySeaDragon commented on #3582
I like your idea of having a foreign key notation of `FK_[entity-name]`.
And yes, adding the ability for an attribute/row to have multiple key notations is definitely critical.

We would need to also add a composite key.  By definition, a _primary key_ is only 1 attribute/row.  So in your example above, your PK for the ORDERLINE entity is actually a _composite key,_ as is your PK for the RESERVATI

[2022-10-14 16:50] weedySeaDragon commented on #3626
@brennanyoung FYI I've looked at the code and this will be a really easy thing to implement.  (It's just a few lines in mermaidAPI.ts.) I'm going to first do #3648 and then I'll do this.

[2022-10-15 04:00] emersonbottero commented on #2910
https://github.com/mermaid-js/mermaid/pull/3678. It should shows conflicts but I can't see them.

[2022-10-15 06:32] knsv opened #3680 "Theme variables in initialize is not taking effect whenalso changing font family"
When adding themeVariables in the initialize call these changes are not being applied if you also change the font-family in the root.

[2022-10-15 08:40] aloisklink commented on #3650
Exciting stuff! I'm looking forwards to the next Docusaurus release then! :rocket:

I do have a server-side rendering (SSR) plugin for remark called [remark-mermaid-dataurl](https://github.com/aloisklink/remark-mermaid-dataurl) that works for docusaurus, but the way it works is by using `puppeteer` to render the SVGs, so it's very slow and heavy (puppeteer downloads a copy of the chromium browser

[2022-10-15 13:08] kcfnmi opened #3681 "Diagrams not being generated on SublimeText with MarkdownPreview"
While playing with mermaid and [MarkdownPreview][2] (with gitlab) on sublimetext I observed something intriguing.

The following doesn't work:

[code]

But the following does work:

[code]

By doesn't work I mean it does not generate the diagram in the browser. I use chrome on macOS.

Also noticed the following doesn't work:

[code]

[code]

[code]

[code]

[code]

So it seems only the following w

[2022-10-15 17:00] mishugana commented on #3663
Would love to take this on

[2022-10-15 17:04] mishugana commented on #3666
Would love to take this on

[2022-10-15 17:08] emersonbottero commented on #3597
https://github.com/mermaid-js/mermaid/pull/3678

an gh-pages branch is required. (and you need to configure pages to use this branch

[2022-10-15 17:12] mishugana commented on #3508
Would love to tackle this

[2022-10-15 17:17] mishugana commented on #3296
Would love to try and solve this

[2022-10-15 18:16] weedySeaDragon commented on #2910
I can't see them iether @emersonbottero .
Perhaps one of the maintainers can help out:  @sidharthv96 ? @knsv ?

[2022-10-15 18:35] weedySeaDragon commented on #3491
Something to consider meanwhile:
Add some information to the contributing document to explain how to run e2e tests on their local machine. (New to cypress, I needed to figure out how to generate the 'correct' snapshots to compare my code to.)

_Perhaps something along the lines of:_

Update the current cypress snapshots with the develop branch.  When you run the e2e (end-to-end) tests against your

[2022-10-15 18:50] Yash-Singh1 commented on #1983
The location of the problem seems to be the following lines:

https://github.com/mermaid-js/mermaid/blob/8dd82839cb8ef660fbe3295c820b57e2a7f9e763/packages/mermaid/src/diagrams/pie/pieRenderer.js#L43

https://github.com/mermaid-js/mermaid/blob/8dd82839cb8ef660fbe3295c820b57e2a7f9e763/packages/mermaid/src/diagrams/pie/pieRenderer.js#L69

[2022-10-15 18:55] weedySeaDragon opened #3682 "(docs) duplicated info in Contributing.md and docs/development.md"
**Describe the bug**
Developer documentation:
Confusingly, there are 2 write-ups about how to contribute to the project: `CONTRIBUTING.md`
and `docs/development.md`.

There should be only 1 document that explains how to contribute to the project.

`CONTRIBUTING.md` is the established, typical file that explains how to contribute to a project.  If all of the documentation is going to live under a d

[2022-10-16 02:22] toridoriv commented on #3680
I don't know if this is the expected behavior or not, but I made it work passing the "fontFamily" property inside "themeVariables":

[code]

[2022-10-16 10:38] utsavs22 commented on #3593
Hello, I am **Utsav Sinha**. I can solve this issue by allowing **custom labelling** which will result in the flexibility for the user to select the order according to their need.

[2022-10-16 11:22] Xyz00777 commented on #1665
In addition to the above, when you add text in between, then there are no arrows at all

[code]
[Live editor](https://mermaid-js.github.io/mermaid-live-editor/edit#pako:eNqdl1tv4jgUgP-KldFIXSmg3C_VaqSBlic0I22rfeLFiZ1gYWLGcaawVf_7OgGK7ZDArpEQtr9z8fHxsXm3coaw9WgVlL3la8gFWP61qoBs3wGbTL6BmdIDAtfCBcrwDOwnEwbmSq-DPKAMz8Gfk8kePCm9DvKBMvzcDn8DC6XXQUFnbmHZ1hbzLSRIOvveQitLrPEWr6xH-RPhAjZUrCxbmfobcgIziuuWeT8

[2022-10-16 14:32] LuisBL commented on #2345
having the same Pb, it is a bug worth prioritizing

[2022-10-16 18:52] weedySeaDragon commented on #2395
@amitkumariiit @aardrian @brennanyoung  Can we start a discussion on this, perhaps in [Discussions:Ideas ](https://github.com/mermaid-js/mermaid/discussions/categories/ideas)?
Then all of the (great and pertinent) information you all have written won't be buried in this issue.

I'd really like to work on improving accessibility in mermaid.  (I'll start with #3626 as soon as PR #3684 is merged.)  I

[2022-10-16 23:03] weedySeaDragon commented on #2395
meanwhile (unless/until this is moved into a discussion)....

Given the example flowchart, how could we show the possible sequence?
It seems that `aria-flow` is intended for this purpose but is not well supported.  (Is that correct?)

Could `aria-owns` be used?

In a simple example:  How should the sequence for a choice and the options be represented? ex:
[code]

I think that if we can come up wit

[2022-10-17 00:10] emersonbottero commented on #3610
I can also add it to the nem docs version.
should this color be the primary color used in the docs? links tab group depends on main color..
![image](https://user-images.githubusercontent.com/12377432/196065694-3b9673dc-e1f6-400c-9a56-0f458c841d40.png)
![image](https://user-images.githubusercontent.com/12377432/196065723-9e2bcecd-47a6-4492-aba5-d0104619e43e.png)
![image](https://user-images.githubu

[2022-10-17 08:44] knsv opened #3687 "Mindmap: Clearing data for parsing also clears render data used in rendeing"
When performing async operations this can lead to unexpected error during rendering.

[2022-10-17 08:49] knsv commented on #3680
Thanks for the work-around. Meanwhile I will push a fix.

[2022-10-17 10:06] brennanyoung commented on #2395
Hi there,

Yes, if `aria-flowto` behaved according to spec, this would be a solved problem. The spec permits multiple space-separated IDs to be included in `aria-flowto`. Seems ideal for a flowchart choicebox!

Unfortunately it doesn't really do anything in any assistive tech except JAWS, and (worse still) [the ARIA folks are threatening to deprecate the attribute because of poor usage stats](http

[2022-10-17 12:44] isinek commented on #3655
It seems that this can be solved by using dateFormat Z and value like -01:00.

[2022-10-17 13:58] weedySeaDragon commented on #2395
I went ahead and created a discussion: #3689 .

Thanks for your really complete and informative posts about all of this @brennanyoung .  I'm going to try to put something together.  I feel like I need to think about this more and do a bit more reading before commenting on the aria standard. (Though I am going to try to head towards doing that.)

[2022-10-17 16:45] #3675 closed

[2022-10-17 16:55] sidharthv96 commented on #3682
@weedySeaDragon, yes, we should only have one document.
Can you check https://github.com/mermaid-js/mermaid/pull/3678 and suggest the necessary changes?

I believe it would be better to have contribution guideline inside the main docs site as most people would be referring to that. A link should suffice in contributing.md.

[2022-10-17 18:56] weedySeaDragon commented on #3682
@sidharthv96  I don't want to hold up #3678.  (I'm looking forward to seeing it merged!)
I'll merge the two documents into a document that lives in the main docs site (where-ever that is after #3678 is merged) and would like to improve it some.
(Maybe that's what you meant, anyway)

And I'll just put a sentence into CONTRIBUTING.md that points people to the right place in the documentation site.

[2022-10-17 20:19] weedySeaDragon opened #3691 "a11y: Ensure all themes for all diagrams pass WCAG contrast AA checks including dark mode"
**Describe the bug**
Based on [the comment made by @aardrian ](https://github.com/mermaid-js/mermaid/issues/2732#issuecomment-1042343249) in #2732:
There are some themes and diagrams that fail WCAG contrast checks:

We need to ensure that _all_ diagrams using _all_themes in both light (normal) and dark mode pass the minimal (AA) WCAG contrast checks.

There are tools that make checking this _easy_

[2022-10-17 21:04] Mogztter commented on #3650
Would you be open to integrate a mechanism to convert text to SVG paths (such as https://maker.js.org/ or https://github.com/vercel/satori)?

It would solve font cut-off issues when a diagram is generated server-side because the font is very likely not going to be rendered identically on the client side.

[2022-10-18 11:34] koppor commented on #177
I would love to see support for FMC Block Diagrams

Example diagram (taken from the Corona Warn App) - https://github.com/corona-warn-app/cwa-documentation/blob/main/solution_architecture.md#introduction

![Figure 1: High-level architecture overview](https://github.com/corona-warn-app/cwa-documentation/raw/main/images/solution_architecture/high_level_architecture.svg "Figure 1: High-level architec

[2022-10-18 12:00] igorpereirabr1 opened #3692 "Gantt , boxes of the tasks disappear"
Hello Community,

I've been using the Gantt for a while, but for some reason, it's not working as expected, the boxes around the tasks just disappeared.

[code]
[![](https://mermaid.ink/img/pako:eNplUk1v2zAM_SuCht3sxB-Lm-jWNiuyQ04FOgzwhZEYW4glGRK91gjy36c4W5BmPEmP7z0SJI9cOoVc8AYsUW0VEL44b4DYrxjpdpuu12yzEcbUFj50-Jv8uml9qC1p6pA9NhiF8ecUjFvwB_QskHcHTN-1olYU_UdyAcSXbJ8lrgepaRTZbFHb2gaUpJ1lBpG0baLvi5NDY

[2022-10-18 15:36] weedySeaDragon commented on #3692
You have the duration times set using `mm` Ex:
[code]

If I change them to just "m"
[code]

It works.
Have you been using "mm" previously?

(The documentation is not clear on this at all.)

[2022-10-18 18:48] #3601 closed

[2022-10-18 19:10] sobitp59 commented on #3691
Hey! I would love to do this. Can you please assign me this?

[2022-10-19 02:06] MasonM commented on #3153
I looked into this and I'm pretty sure it was fixed in https://github.com/mermaid-js/mermaid/commit/9a0d5e31b77fcea6b20338078e46c78d5a8a7c3c, which hasn't been released yet

[2022-10-19 04:18] atkawa7 commented on #2028
Checkout actdiag for example no how this could be acchieved http://blockdiag.com/en/actdiag/demo.html
![svgviewer-output](https://user-images.githubusercontent.com/5673828/196596615-67b643fe-4b2a-4d11-8b89-0a91b4c02e38.svg)

[2022-10-19 08:39] Manishgupta200 commented on #3593
Assign it to me. I would like to work on this issue.

[2022-10-19 12:56] igorpereirabr1 commented on #3692
Thanks for helping! Now it's working! Yeah, before this "mm" works without issues...

[2022-10-19 12:56] #3692 closed

[2022-10-19 13:16] michalspano commented on #2238
Please _fix_ this, I nearly **failed** my assignment because of the issue; the **solid triangle** represents a **directed association**, not **inheritance**.

[2022-10-19 13:28] michalspano commented on #3527
+1; please revisit this issue and the **PR** associated.

[2022-10-19 15:02] sidharthv96 opened #3694 "Standardize Error handling"
**Describe the bug**
Currently, many different items are thrown, strings, objects, errors, etc.
These are then handled using if conditions and type checks.
Errors should be standardized, and new Error classes derived from `Error` should be thrown.

[2022-10-19 17:32] sidharthv96 commented on #3691
Hi @sobitp59, you don't have to ask for issues to be assigned.

All issues without Open PRs are up for everyone. :)

[2022-10-19 17:34] #3655 closed

[2022-10-19 17:46] sidharthv96 opened #3697 "Add 'curly' eslint rule."
- [ ] Add the "curly" rule into eslintrc.
- [ ] Auto fix all corresponding errors

[2022-10-19 17:48] jeroenekkelkamp commented on #3697
Can i work on this one? :)

[2022-10-19 18:14] xenoterracide opened #3699 "UML comments (notes)"
UML prescribes a [standard](https://www.omg.org/spec/UML/2.5.1/PDF) (sorry only available in PDF), comments, or notes. See section 7.2.3.2. This should be available on all UML Diagrams.

I noticed the absence in class diagrams, but this is not a feature specific to those.

Related (sub issue) #821

suggestion for syntax.

[code]

an alternative I like better

[code]

I think this is problematic fo

[2022-10-19 18:15] sidharthv96 commented on #3697
Hi,

You don't have to ask for issues to be assigned 😄
All issues without Active PRs are open for everyone.

[2022-10-19 18:17] xenoterracide commented on #821
this is not a flowchart specific feature, should be available in all UML diagrams, see #3699 for UML spec.

[2022-10-19 18:18] jeroenekkelkamp commented on #3697
Ah ok, got it ;)

[2022-10-19 20:40] xenoterracide opened #3700 "nested state grouping works improperly"
[code]

[2022-10-20 00:49] flywire commented on #3260
[Linear Curve](https://stackoverflow.com/a/73757144/4539999) is better:

![image](https://user-images.githubusercontent.com/11288701/196830696-6f969b91-61da-42f2-80d9-b2e64f06a7f4.png)

[2022-10-20 06:36] sidharthv96 opened #3701 "Bundling external diagrams"
**Is your feature request related to a problem? Please describe.**
With the new lazyLoadedDiagrams, there is the requirement for an extra web request to fetch diagrams.
This might not be feasible in all environments (corporate firewalls, plugin limitations, etc).

**Describe the solution you'd like**
We should allow an option to pass diagrams directly to mermaid so it can avoid the network call.
T

[2022-10-20 10:29] pvgmenegasso commented on #2112
Anybody working on this ? Thinking about starting to implement this feature

[2022-10-20 10:41] pvgmenegasso commented on #2112
https://github.com/pvgmenegasso/mermaid/tree/feature-2112-electrical-circuits

[2022-10-20 11:06] #3697 closed

[2022-10-20 12:15] YDX-2147483647 opened #3703 "Docs: Broken links about `defaultConfig.js`"
Years passed. `src/defaultConfig.js` becomes `packages/mermaid/src/defaultConfig.ts`, but the doc doesn't.

## Problem

There are 3 links from [_Directives_](https://mermaid-js.github.io/mermaid/#/./directives) to the old `defaultConfig.js`.

1. The note in [_Types of Directives options_](https://mermaid-js.github.io/mermaid/#/./directives?id=types-of-directives-options).

https://github.com/merma

[2022-10-20 12:50] michalspano commented on #1687
Any updates on this one? I like the tool a lot; it's just this inconsistency makes it harder to use, regarding the solid triangle for **inheritance**.

[2022-10-20 20:07] danielmarbach commented on #2136
Running into the same issue. For us, it was caused by having markdown linting enabled that stripped away the last whitespace. Which then broke the diagram as mentioned above.

[2022-10-21 08:58] gaelmotte commented on #1838
Duplicate of https://github.com/mermaid-js/mermaid/issues/1838

[2022-10-21 08:59] gaelmotte commented on #1246
Duplicated By https://github.com/mermaid-js/mermaid/issues/1838

[2022-10-21 08:59] gaelmotte commented on #1246
+1 :)

[2022-10-21 09:56] anchal0997 commented on #2583
I would like to work on this issue.

[2022-10-21 11:06] DoktorMike commented on #2494
I think this is a great idea. I use mermaid a lot for graph generation in presentations. Would be great to have a larger set of possible "smart art" features. How much work is it typically to add another visualization to mermaid? Are there any tutorials on how to do it?

[2022-10-21 12:59] nie7321 commented on #3217
It looks like they've updated. The example C4 diagram from the docs is [rendering on gist](https://gist.github.com/nie7321/90b3a1039b9b8c06b9e43fd5e40af898).

[2022-10-21 14:13] xenoterracide opened #3704 "bidirectional class diagram support"
UML class diagrams should support bidirectional relationships. This seems to be very common in UML class diagram tools (though I don't think it's actually in the spec.

I would suggest allowing an inverse arrow like

[code]

[2022-10-21 14:30] rbirkgit opened #3705 "Multiple npm security warnings"
**Describe the bug**
When running npm audit you get multiple high security warnings.

**To Reproduce**
Run npm /yarn audit.

**Expected behavior**
No security warnings

**Additional context**
This comes from dagre-d3 that uses a very old d3 version and where the security issues are coming from.

[2022-10-21 20:51] AbhayKatoch commented on #3610
Could you assign me to this please.

[2022-10-21 20:56] emersonbottero commented on #3610
It Is already done. The way we add It is different in vitepress since we dont have an HTML file to edit.

[2022-10-22 11:03] callmetushar123 commented on #3703
Assign me, I will do it

[2022-10-23 11:23] Abhishekjoshi7 commented on #3593
Please assign this to me, will solve it within 48 hours.

[2022-10-23 17:29] xXMarcinatorXx opened #3711 "Fill doesn't seem to work for ER Diagrams"
**Describe the bug**
The fill config for the ER Diagram seems to not be applied

**To Reproduce**
Set ER diagram fill config though a directive or in config

**Expected behavior**
Expected behavior was for the background of an attribute

**Screenshots**
If applicable, add screenshots to help explain your problem.

[![](https://mermaid.ink/img/pako:eNp1UDFuwzAM_ArBwvDiIJ61tmu7ZNWiWkwqWBILhRoK2X8vlT

[2022-10-23 20:10] CalebUsadi commented on #3705
I submitted my first pull request. I've never done this before, so let me know if I've done anything wrong. Tests all run fine and I don't appear to have broken anything.

[2022-10-23 22:21] Ar-Kareem commented on #2495
Is there still no fix for this?

This #2388 seems to be fixed by putting the reserved word inside a name for that node. i.e. `id[foo_default]` instead of `foo_default`

But for `call` this doesn't seem to work. i.e. `id[call api]` and `call api` both break

[2022-10-24 08:58] axelssonHakan opened #3715 "gitGraph: Doesn't seem like branches can start with a number"
**Describe the bug**
Rendering fails if a branch name/id starts with a number
Tries different escaping but unsuccessfully

(Git supports branches that start with a number)

**To Reproduce**
[code]

**Expected behaviour**
Should be possible to use branches that start with a number

**Screenshots**
<img width="746" alt="Screenshot 2022-10-24 at 10 36 43" src="https://user-images.githubusercontent.co

[2022-10-24 15:40] marc-guenther commented on #2629
Any news on this? Sounds like a very easy change. `---`, `-->` and `<-->` already exist, why not `<--`?

Unfortunately, one cannot simply reverse the nodes, as that completely destroys the layout, eg. when I want `4<--2`, I cannot simply write `2-->4`.

[2022-10-25 01:11] fenixnet-net commented on #2352
I need this for a presentation I'm working on, and I am dismayed to find that there is no other graph type than a pie chart.

[2022-10-25 03:47] CalebUsadi commented on #3711
I can help with this. The fill is being set as an attribute rather than as a style in the [erRenderer.js](https://github.com/CalebUsadi/mermaid/blob/fc24373667ce5fdf73d5199129db6fb8da3f4053/packages/mermaid/src/diagrams/er/erRenderer.js) file, and is being overridden by subsequent CSS. I have made a small fix on a [branch here](https://github.com/CalebUsadi/mermaid/tree/fix/3711_er_fill_attribute)

[2022-10-25 10:58] DarkNami commented on #1598
I have implemented `tickInterval` in mermaid.
But I can't speak English very well, so I can't finish section of 'Content of a pull request' in CONTRIBUTING.md.
'Add documentation for it' is hard for me.

Supported: minute, hour, day, week, month

[code]

![TickOneDay](https://user-images.githubusercontent.com/5100919/197755393-b41a7dd9-568d-41c5-9f31-3236b9810b91.png)
![TickOneWeek](https://user-i

[2022-10-25 12:24] #3593 closed

[2022-10-25 12:30] #3263 closed

[2022-10-25 12:45] #1414 closed

[2022-10-25 12:46] #3247 closed

[2022-10-25 12:48] #3651 closed

[2022-10-25 12:48] #3659 closed

[2022-10-25 13:01] #3711 closed

[2022-10-26 01:02] wnoise commented on #1682
Doesn't quite work because of #2410 (and duplicates #2509, #2767).

[2022-10-26 01:03] wnoise commented on #2767
Duplicate of #2509, #2410.

[2022-10-26 10:09] CAFxX opened #3723 "Support specifying that two nodes should be at the same level/rank"
This is basically a clone of https://github.com/mermaid-js/mermaid/issues/418 that was automatically closed as stale without resolution.

**Is your feature request related to a problem? Please describe.**

I need a way to specify that two or more nodes should be placed at the same level/rank

For example, in the following graph I would like `b` and `c` to be on the same level

[code]

this current

[2022-10-26 10:16] CAFxX commented on #418
I opened a new issue for this problem: https://github.com/mermaid-js/mermaid/issues/3723

[2022-10-26 10:31] SpacyRicochet commented on #3700
I came across the same issue. It looks like if you add an edge inside a subgraph, both of the connected nodes are added/inserted into the subgraph.

Here is a simple example of the issue;

[code]
![mermaid-diagram-2022-10-26-123046](https://user-images.githubusercontent.com/904596/198003976-f8a12b90-7eb1-468c-bcb0-4aefd958212c.png)

[2022-10-26 10:47] SpacyRicochet commented on #3723
To take this one step further, I would love it to see if this also applies to subgraphs themselves.

[code]

![mermaid-diagram-2022-10-26-124710](https://user-images.githubusercontent.com/904596/198007158-f803dd30-ff22-4a29-aa8d-24ac84230058.svg)

It would be great if the subgraphs here could be on the same rank, allowing A to be a very obvious start, and F a very obvious end.

[code]

[2022-10-26 19:22] #1952 closed

[2022-10-26 20:30] gibson042 commented on #3715
I think this is a duplicate of #3347 that has already been resolved by #3392 in 0dca4d3393fcbea357522e037f00cee2ea186c0d.

[2022-10-26 20:53] gibson042 opened #3725 "gitGraph: branch names cannot be grammar keywords"
**Describe the bug**
Similar to #3347, gitGraph branch names like "branch" and "cherry-pick" and "merge" are incorrectly rejected.

**To Reproduce**
1. Go to https://mermaid-js.github.io/mermaid-live-editor/
2. Use this sample:
[code]

**Expected behavior**
A valid git branch name, especially if alphabetical, should be allowed.

**Actual behavior**
The following error:
[code]

**Code Sample**
[liv

[2022-10-26 21:13] #3527 closed

[2022-10-26 22:07] axelssonHakan commented on #3715
Sorry, I actually tried to search for similar

[2022-10-26 22:07] #3715 closed

[2022-10-27 03:17] nharsch commented on #3530
+1

@lastlink I had a similar use case, I'm generating Mermaid ERD diagrams to represent data relationships in CSV files: https://github.com/nharsch/mermaid-erd-generator
I'm looking into using the mermaid library parsers directly in order to `getEntities` `getRelationships`, etc. That way I could generate SQL output given an ERD string.

[2022-10-27 06:23] weedySeaDragon opened #3728 "state diagram: cannot put comments in composite states"
**Describe the bug**
Cannot put a comment within a composite state.  It's not recognized as a comment.

**To Reproduce**
[code]
[Here is a link to the live editor.](https://mermaid.live/edit#pako:eNplksFugzAMhl8lirTLRMsKG2057LLt2FNvGzsYYiASJCgxrbqKd19IVqZpOTmfnf93nFx5pQXynFsCwlcJjYF-dUoKxdz6uP9kq9UzO-iTVE1gIfb4SLLr_tEXA7YN1IceOqWA7u5YpfseFbEWDTJpWS0VsnIkpjSxs6RWKkYtznWDtpKQ-eZuHiV2-uyUgt6f1DWwYON0

[2022-10-27 10:32] reedsutliff commented on #3723
would love to see this feature as well.

[2022-10-28 07:14] #3725 closed

[2022-10-28 07:43] avijit1258 commented on #2583
I am also interested to grab this one and happy to collaborate with others. Wondering what will be the closest Diagram type among the existing ones. We can start from there. Also any resource suggestion to better understand how the parser, render, detector works for diagram is highly appreciated.

[2022-10-28 07:44] avijit1258 commented on #3728
looking into this one.

[2022-10-28 14:57] weedySeaDragon commented on #3728
@avijit1258 FYI: I've been working with state diagrams and parsing (working on classDefs). Let me know if you have any questions.

[2022-10-28 16:49] weedySeaDragon opened #3732 "state diagram: cannot define or use classDef on state within a composite"
**Describe the bug**
Follow up to PR #3644 / issue #1952 :
1. (nested) states within a composite are unable to have `classDef` styles applied.
2. unable to have `classDef` and `class` statement within a composite state

**To Reproduce**
Using the `develop` branch with PR #3644 merged:

[code]

**Expected behavior**
1. A state within a composite should be able to have a `classDef` style applied
2.

[2022-10-29 01:09] shadowlift commented on #3228
I found a way to make this work; use "---" instead of "-->" as your node connections.
Then arrange your nodes like "A---B, A---C, B---D, C---D" for four node graph, or "A---B, A---C;  B---D, C---F;  D---E, F---E" for six, etc.

This doesn't create a perfect circle but is at least neater than the asymmetry you get when doing something like "A-->B-->C-->D-->A"

[2022-10-29 17:55] weedySeaDragon opened #3733 "(doc) State diagram: Explain that concurrency only works within a composite"
**Describe the bug**
In [the documentation for state diagram concurrency](https://mermaid-js.github.io/mermaid/#/stateDiagram?id=concurrency), concurrency is shown within a _composite._

State Diagram cannot parse a diagram if concurrency (`--`)  is _not_ within a composite.

The documentation should be updated to explain:
1.  _why concurrency has to be within a composite_
2. a diagram cannot be p

[2022-10-29 17:58] aloisklink commented on #3715
It's probably because the issue was called `num names` and the PR was called `numeric branch names`, so they never had `number` in the name!

https://github.com/mermaid-js/mermaid/commit/0dca4d3393fcbea357522e037f00cee2ea186c0d should soon be released in Mermaid 9.2.0

[2022-10-30 14:47] secnigma commented on #3228
Though we still can't use directions without breaking the diagram, and the result is not fully a circular one, what @shadowlift said can be used as an interim solution.
Still, full ciruclar diagram with directions support would be nice though.
![image](https://user-images.githubusercontent.com/78214540/198884746-66295699-e4ce-4a5a-ae97-df0fafb6dea1.png)

[2022-10-30 19:15] mitcom commented on #3208
@daniporr @ajh0912 your both replies are more than enough :D
actually such example would be sufficient for me:
[code]
but mermaid.live link won the competition 🤯

let me check what I can find in the code :)

[2022-10-31 07:19] kaovilai opened #3739 "Adding subgraph to draw a square around the right most column result in unexpected formatting."
**Describe the bug**
A clear and concise description of what the bug is.
Adding subgraph to draw a square around the right most column result in unexpected formatting.

This is before adding said problematic subgraph
[code]
**To Reproduce**
Steps to reproduce the behavior:
Add the diff in green
[code]
[code]

Notice pod status subgraph is pretty ugly looking now.

**Code Sample**
Live version: A l

[2022-10-31 07:37] AnteeHub opened #3740 "Docs: a incorrect link of README in zh-CN version"
**Describe the bug**

It happen only in `README.zh-CN.md`. The main `README.md` is correct.

The link to the live-editor of User Journey diagram(用户体验旅程图) is incorrect. The editor's hyperlink actually links to state diagram.

**To Reproduce**

You can check it [here](https://github.com/mermaid-js/mermaid/blob/develop/README.zh-CN.md#%E7%94%A8%E6%88%B7%E4%BD%93%E9%AA%8C%E6%97%85%E7%A8%8B%E5%9B%BE-%E

[2022-10-31 08:17] avijit1258 commented on #3728
I am looking into the jison grammer for state diagrams. I am not familiar with jison grammar at all. Any suggestion to make my journey with jison grammer easier?

[2022-10-31 14:12] MgenGlder commented on #3666
👋🏾 As a dedicated user of MermaidJS user and a power user of the library, I would also love for this to looked into as well🙇🏾 . It's tripping our security alerts with high priority and seems like an important vulnerability to address. Would love to assist in any way if possible.

[2022-10-31 15:05] huineng commented on #3666
https://github.com/mermaid-js/mermaid/pull/3712

[2022-10-31 16:34] weedySeaDragon commented on #3728
**jison grammar and parsing**
Lexing (breaking up things into tokens) is generally the top part of the file. It uses _regular expressions_ (with a very few changes). The result are then fed into the parser -- which uses them to evaluate the entire strings with the _grammar_ rules -- the lower half of the .jison file.

(Not sure if you already know that ^, so there it is.)

Hope you've found the ge

[2022-11-01 05:42] ozalpmurat commented on #3532
I need this, too

[2022-11-01 13:20] brennanyoung commented on #3691
Guidance note: If more than one color scheme is available to end users, **only one of them needs to be compliant** with these color/contrast SCs, as long as users can perceive the switch back from the non-compliant version.

Ideally, "all" of the color schemes will be compliant, but in practice there can be some contradictory requirements in this space, where some users find very high contrast dif

[2022-11-01 13:28] brennanyoung commented on #3691
FYI Windows High Contrast Mode (often "HCM") is a very popular assistive tech that converts the display into a high-contrast version at the host-system level. I am mentioning it here because HCM is likely to come up in this context.

HCM works ok, but there are often problems displaying content that has no stroke/border. CSS background images used as "real" content are also unlikely to display in

[2022-11-01 13:38] #3740 closed

[2022-11-01 16:03] #3610 closed

[2022-11-01 20:20] Emruur opened #3742 "Styling State Diagrams"
I'm struggling to style state diagrams. I don't think the documentation is any helpful for styling state diagrams. It only says use css classes.  How??

[2022-11-01 21:03] weedySeaDragon commented on #3742
If you have a state diagram embedded in a web page, you can use CSS to style it.

In the next version of mermaid you will be able to define styles using **classDef** statements and then **class** statements to apply a style to _states_.  It will work just like [classDef and class statements work for Flowcharts.](https://mermaid-js.github.io/mermaid/#/flowchart?id=classes)

Sorry that it's not work

[2022-11-01 22:41] JamWils commented on #523
@aadamsx I have actually never contributed to this codebase.  I am closing in on needing to make these changes though if no one has tackled them yet.  There are a few things I need to take care of in my project before I turn my attention here.  I would need to start from ground zero again now that so much time has passed.  I believe at a high level that it is really being able to parse the css tha

[2022-11-02 06:29] stevedep commented on #1209
Any news on this one?

[2022-11-02 07:05] Kochise opened #3743 "[FEAT] Graphviz support inside Mermaid"
**Is your feature request related to a problem? Please describe.**

`Mermaid` gets more and more supported by many websites/applications :

https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/
https://www.mindforger.com/
...

**Describe the solution you'd like**

Add `Graphviz` support so that websites/applications using `Mermaid` gets it supported as well :

![graphviz](https:/

[2022-11-02 08:57] sidharthv96 opened #3744 "Errors in new documentation"
![image](https://user-images.githubusercontent.com/6032561/199066693-ad857577-8097-4d92-93a9-4a9f0363ca87.png)

On flowchart ans Sequence Diagram

![image](https://user-images.githubusercontent.com/6032561/199066873-916fd1ee-00cc-4c1b-8ebc-4069ecf77759.png)

On Class Diagram

![image](https://user-images.githubusercontent.com/6032561/199066983-d5b87f13-bfb4-46e9-b071-54e1f4335409.png)

On ER Diagr

[2022-11-02 09:45] almmechanics opened #3745 "Gantt Demos no longer working"
Any duration measured in minutes no longer can be rendered properly in a gantt chart, this can be checked with both `min` and `m` as the suffix

The defect can be seen within the mermaid documentation for gantt charts: [gantt documentation]( https://mermaid-js.github.io/mermaid/#/gantt)

This has been tested with both chrome 107.0.5304.88  and edge 107.0.1418.26

[2022-11-02 14:46] sjackson0109 opened #3746 "HTML IMG tag not working"
I'm trying to use a HTML <IMG> tag, with a SVG (or PNG, or any other image type)
Trying a mixture of using HTML with Mermaid Scripts, Visual Studio with Markdown and Mermaid preview panes, and the mermaid.live editor.. i cannot get images to load properly within the mermaid code:

Markdown file:
[code]

Screenshot:
![image](https://user-images.githubusercontent.com/38080190/199519919-dfa508af-d3ec

[2022-11-02 15:05] sjackson0109 commented on #3746
More relevant screenshot showing the image placeholder..
![image](https://user-images.githubusercontent.com/38080190/199525177-169a5410-7016-46ff-91cb-9396ac44eef0.png)

[2022-11-02 15:30] slorber opened #3747 "9.1.7 => 9.2: can't build with TypeScript - TS1471: Module 'mermaid' cannot be imported using this construct"
**Describe the bug**

Docusaurus introduced Mermaid support last week: https://docusaurus.io/blog/releases/2.2

On 9.1.7 it works fine, but on 9.2.0 it fails, and users installing our Mermaid plugin started to report failures: https://github.com/facebook/docusaurus/issues/8274

**To Reproduce**
Steps to reproduce the behavior:

1. clone https://github.com/facebook/docusaurus
2. try to force upgrad

[2022-11-02 16:41] sjackson0109 commented on #3746
Observed behaviour:

`
| Example | Status
|----------|----------|
| vNetIcon["<img src='../images/networking/vnet.svg' />"] | Missing icon, likely off-set somewhere with CSS |
| vNetIcon["<img src='../images/networking/vnet.svg' />..."] | Right-Sized icon |
| vNetIcon["<img src='../images/networking/vnet.svg' />.."] | Smaller than expected icon |
| vNetIcon["<img src='../images/networking/vnet.svg

[2022-11-03 05:09] DanGustafssonTelgeEnergi opened #3748 "Using scandinavian/german letters does not allow å ä ö ü"
**Describe the bug**
A clear and concise description of what the bug is.

The bug is when I try to include åäö or other non-english letters in my erDiagram.

Not working :
[code]

But removing any "foreign" letters passes the live-editor.

**To Reproduce**
[link ](https://mermaid.live/edit#pako:eNo1jk0OgjAQha8ymbVcoDvExJAQMNq46qahAzSW1tQ2xADH8SRezBr0rd7iez8ztk4RMiR_0LL3chQWkvIrzytYlixbZtiXVVXWx1NT

[2022-11-03 05:18] DanGustafssonTelgeEnergi commented on #3748
I found that putting the text after colon : into " " would completely solve all error messages. I'm closing this issue.
`
erDiagram
    AVTAL ||--|{ BILLINGPOINT : "innehåller"
    CONTRACT ||--|{ AVTAL : "now working with åäöü"
`

[2022-11-03 05:19] #3748 closed

[2022-11-03 10:38] sjackson0109 commented on #548
is it possible to apply images cleanly with mermaid styles?

[code]

[2022-11-03 12:55] iclodq commented on #1674
Watching  and thanks first for support!     :+1:

[2022-11-03 13:11] sjackson0109 commented on #3742
I must say i agree with @Emruur .

@weedySeaDragon shared a link showing how to define and assign a classDef, quite simple really.

What is NOT covered in the article, is:

- List of all the supported CSS properties, and property values supported.

EG:
html use of css boarder properties would be `style='border:1px, border-color:#fff;'` becomes mermaid `classDef <NAME> stroke:#fff,stroke-width:1px;

[2022-11-03 13:13] sjackson0109 commented on #3036
this would be useful.

classDef would be logical; but how do you assign a link to a class would be the next obvious problem :)

[2022-11-03 13:52] brunolnetto commented on #3036
I am not aware of the implementation details: Is a node a renderable object? "What one fool can do, another can"

[2022-11-03 14:43] fredrkl commented on #177
I would love to see support for _Event Models_. https://eventmodeling.org/

[2022-11-03 15:18] brunolnetto commented on #177
@fredrkl I watch the Intro video, a very cozy description of software development by a tech guy. It made me remember my company's effort to bring flow diagrams into development: https://flow-build.github.io/ . They need as much help as they can get. :-)

[2022-11-03 17:14] weedySeaDragon commented on #3742
@sjackson0109 -- I agree.
As someone that's just recently volunteered and jumped in to do some coding on the project, I don't know why the decisions were made to have `classDef` just handle a subset of CSS (or why it's not better documented).

I think it'd be helpful if you opened a new issue specifically for the documentation so that it can be clarified and updated.  I find your questions really

[2022-11-03 17:33] weedySeaDragon opened #3749 "(chore) cSpell: How should it be used? what to ignore, what to add?"
### Description

What are the guidelines for using cSpell?
When should  terms should be added, and when should they be ignored?

What's the intention for adding cSpell?  A sentence or two as a comment at the top of the cSpell.json file would be helpful.

Every time someone adds new jsdoc parameters, won't the parameter names need to be added to cSpell.json?  (This may be OK.  If so, should they be

[2022-11-03 17:40] weedySeaDragon opened #3750 "(bug) cSpell: misspelled word added to words list "mermiad'"
### Description

'mermiad' was added to the `words` list in cSpell.json
That is not spelled correctly. It should be removed _and_ anyplace in the code or documentation that uses that misspelling should be corrected.

### Steps to reproduce

I needed to merge the updated cSpell.json file from the current `develop` branch into my PR and noticed this.

### Screenshots

_No response_

### Code Sample

[2022-11-03 19:03] #3750 closed

[2022-11-03 19:34] sidharthv96 commented on #3749
I had done a pass at formatting & sorting it.

https://github.com/mermaid-js/mermaid/pull/3684/commits/3e76edcbac7659181a66be1a4a537a5d076dc5e7

I'm going through https://cspell.org/configuration/ and seems like ignoreWords shouldn't be used in our case.
Everything should be in words?

Raising a PR.

[2022-11-03 21:07] sjackson0109 commented on #3742
Thanks @weedySeaDragon  (excellent name btw)..

I’d help out too with coding because I can write JavaScript. Just not to any professional standard. Am an old school infra guy.. slowly moving into DevOps.

I appreciate your suggestion and I will get on it soon.

[2022-11-03 21:29] sgerace opened #3754 "Mermaid 9.2.0 fails to require properly with Webpack"
### Description

We've been using Mermaid without issue for some time now and the latest version (9.2.0) breaks our application. We're utilizing webpack to bundle our application and requiring and initializing mermaid with:
[code]
After updating to 9.2.0, we are getting the following warnings from webpack:
[code]
And `mermaid.initialize` fails with the following error in the browser:
[code]

It se

[2022-11-03 21:45] weedySeaDragon commented on #3742
@sjackson0109  I am old school as well. (Since the 80s). Lots of programming languages thru the years (and infrastructure); have only relatively recently picked up javascript.
Chip in where you want; I'm happy to help.  (Another dev here has been really patient as I come up to speed on the JS  environment.)
Meanwhile -- definitely submit the issues so your good thoughts aren't lost.

(Have always

[2022-11-04 00:55] avijit1258 commented on #3728
@weedySeaDragon that was so helpful to get started locally. I think some part of the previous comment can go to the contribution.md file which will definetely help new folks. Although `\%\%(?!\{)[^\n]*` regex is grabbing all the comments with `%%` including inside `state` when I put it in online regex checker, our JISON lexer is not able to grab comments inside the composite state. I tried putting

[2022-11-04 04:48] sidharthv96 commented on #3754
We are doing a lazy load internally, wonder if it's related.

https://stackoverflow.com/a/73359606/2212355

[2022-11-04 04:56] weedySeaDragon commented on #3728
Glad it helped!  Yes - let's get it into the documentation if you think it'll be helpful.

Glancing at the .jison file again....
This line is suspicious to me:

[code]

That has a comment starting with a `#` (and skipping everything from that to the end.

That line can be applied if the lexer is in a `struct` state (among others).
I wonder if that is somehow taking precedence over  `\%%[^\n]*`  or

[2022-11-04 05:52] weedySeaDragon commented on #3744
Um - what happened to the `vdocs` directory and the `doc:` and `vdoc:` tasks
@emersonbottero & @sidharthv96 ?

I was ready to merge my draft changes to the `community/development.md` file and create a (draft) PR, expecting the new docs to be under `vdoc` but that directory doesn't exist anymore.
(Didn't know where else to ask.)

You both have put in a lot of excellent work on this, BTW! 👍 👍 👍

[2022-11-04 05:58] sidharthv96 commented on #3744
Everything should go into [packages/mermaid/src/docs](https://github.com/mermaid-js/mermaid/tree/develop/packages/mermaid/src/docs).

`docs:dev` task can be used to preview changes.
Live preview PR coming soon.

[2022-11-04 09:32] siajam opened #3756 "Add flow animation from start to end in flowcharts"
### Proposal

graph TD animation 3s -- defines flowchart as an animation with the speed of 3 seconds
[*] --  defines the start and end points.

### Example

graph TD animation 3s

    A[*][Christmas] -->|Get money| B(Go shopping)
    B --> C{Let me think}
    C -->|One| D[Laptop]
    C -->|Two| E[iPhone]
    C[*] -->|Three| F[fa:fa-car Car]

### Screenshots

Something like this: https://codepen.io

[2022-11-04 12:53] matchaxnb opened #3757 "Mermaid 9.2.0 triggers webpack import warning"
### Description

When I import Mermaid in my Webpack project (based on [backstage](https://github.com/backstage/backstage) with plugin [techdocs-addon-mermaid](https://github.com/johanneswuerbach/backstage-plugin-techdocs-addon-mermaid), 9.2.0 triggers a warning.

[code]
After investigating, it seems this is due to uses of `await import(url)` and `await import(diagram)`, `url` and `diagram` being

[2022-11-04 14:41] sjackson0109 commented on #2977
Same question for ICONS/images:

[code]

This is what it looks like:
![image](https://user-images.githubusercontent.com/38080190/200002023-b128eb53-5aeb-45a5-b3f2-ec979d5fd0a7.png)

don't really mind which corner it anchors too, but CSS would normally be used, like so:
- Style='position:absolute,bottom:10px, right:10px;'

What is the mermaid syntax for this.. i've spent hours trying and cannot fig

[2022-11-04 15:29] Just-Sieb commented on #3757
I was having the same problem with our Backstage instance and trying to add that plugin in. I resolved the issue for now by setting the resolution in the top level package.json to lock it to Mermaid v9.1.1. It seems that this change
[code]
I am guessing PR #3591 broke Webpack being able to import Mermaid

[2022-11-04 15:30] Just-Sieb commented on #3757
This is also probably a duplicate of #3754

[2022-11-04 16:26] weedySeaDragon commented on #3744
thanks. :-)

[2022-11-04 16:59] ppseprus opened #3758 "Aliases for sequence diagrams create a new instance instead of a reference"
### Description

This might be just me expecting something based on the name "alias", but as such, I think a participant and its alias should be rendered as one single actor instead of two.

### Steps to reproduce

1. Create a `sequenceDiagram` with two participants
2. Give those participants each an alias
3. Use these participants and their aliases in a mixed setup

**Expected Behaviour**
An "ali

[2022-11-04 20:39] emersonbottero opened #3759 "Pie Chart Scale is wrong"
### Description

Pie charts size and texts are really small.

### Steps to reproduce

Render any Pie Cart

### Screenshots

How does it shows..
![image](https://user-images.githubusercontent.com/12377432/200069802-c0288053-4f5f-488b-8ab1-3342a6a2c7a6.png)

How Should it be...
![image](https://user-images.githubusercontent.com/12377432/200070061-89f53e1c-a4b6-4ef1-ac73-570e40b2de65.png)

### Code S

[2022-11-04 21:37] flywire commented on #2977
Intuitively this type of manipulation seems easy but impossible in practice. The user guide should give more detail/examples of what _is_ possible.

[2022-11-05 09:06] iclodq commented on #3170
Yes, this is demo on doc. But it is too redundancy.

[2022-11-05 18:55] mario-bermonti commented on #1824
I'm experiencing the sane thing as @malmarz

The "boxes" are smaller than the text so they can't be used.

[2022-11-06 01:11] weedySeaDragon commented on #3170
@chris-randall-qol Great suggestion to update the documentation. (Documentation site is being upgraded; will be easier to make documentation updates soon.)

Choices  _could_ be labelled, but aren't  right now only because the parser doesn't parse `state "Some::call()" as one <<choice>>` correctly. There's no technical reason why it couldn't be changed, though.

I think the documentation should be

[2022-11-06 07:00] gerukin opened #3761 "Dates in `excludes` are ignored in Gantt diagrams"
### Description

In Gantt diagrams, while excluding `Saturdays` or `Weekends` works, specific dates (ex: `2022-11-10`) are ignored. Both with no styling and with no impact on task end dates.

### Steps to reproduce

1. Add a Gantt diagram with an excluded date:
[code]
[code]
3. Unexpectedly matches the same diagram without the excluded date:
[code]
[code]

### Screenshots

_No response_

### Code

[2022-11-06 10:59] sidharthv96 opened #3764 "[Blocker v10] Redirect old doc links"
### Description

There will be tons of links to mermaid docs across various sites.
We should figure out a way to redirect the old URL's to new ones.

### Steps to reproduce

eg: https://github.com/mermaid-js/mermaid-live-editor/pull/1076

Although this is a different issue, it's still relevant.

PS @emersonbottero

[2022-11-06 15:22] ScalaWilliam commented on #518
@NewToStuff  @aadamsx Mermaid uses GraphLib behind the scenes, which has serialization.

See: https://github.com/dagrejs/graphlib/wiki/API-Reference#json-write

I was also looking at visualising programatically.

[2022-11-06 22:02] Bra1nsen opened #3766 "Flow Charts API Grafana"
### Proposal

Guys we need more tools for sketching technical systems.
P&ID Basics Symbols as library would be a great start! I try to fire this project..Thank you

### Use Cases

I work in the renewable energy industrie, we try to improve the efficiency of solar power plants like solar thermie..

### Screenshots

![Screenshot 2022-11-06 224240](https://user-images.githubusercontent.com/58213050/2

[2022-11-07 00:21] aloisklink commented on #3747
I'm not really 100% sure why this issue is occurring. From what I can see, the v9.2.0 Mermaid `package.json` file looks exactly the same as the recommended TypeScript `package.json` file for a dual ESM/CommonJS package, see

https://github.com/mermaid-js/mermaid/blob/e78ac9b92a75223df728b4a1866a8d7d460a4691/packages/mermaid/package.json#L8-L16

and

However, switching to `"type": "commonjs"` seems

[2022-11-07 07:43] natbusa commented on #3258
RankSpacing and NodeSpacing are not passed to subgraphs. Confirmed

[2022-11-07 08:37] yannmiquel opened #3771 "ER diagram : add string length"
### Proposal

It is useful to see the string length for the table definition. But one cannot use the parenthesis in the erDiagram yet. Could the use of the parenthesis be added ?

### Example

_No response_

### Screenshots

_No response_

[2022-11-07 08:40] #3749 closed

[2022-11-08 03:53] natbusa opened #3773 "flowchart: add minNodeWidth, minNodeHeight"
### Proposal

Sometimes it’s good to have all nodes of the same size.
If the labelText bbox is bigger than it should extend the minNodeWidth or minNodeHeight.
Default set to undefined is back compatible with current rendering

### Example

[code]

The picture below has been generated with the following

[code]

### Screenshots

[code]

[2022-11-08 17:24] owensco commented on #3363
+1 looks like this is in progress? 🤩

[2022-11-08 18:18] boldt commented on #3757
FYI: Even with [9.2.1](https://github.com/mermaid-js/mermaid/releases/tag/v9.2.1), I still see `Critical dependency: the request of a dependency is an expression`.

[2022-11-08 18:33] sidharthv96 commented on #3757
But the fix for that is in https://github.com/mermaid-js/mermaid/pull/3774, which hasn't been merged yet due to pnpm issue.

[2022-11-08 22:16] amolshinde2010 commented on #2585
Idea [#3772](https://github.com/mermaid-js/mermaid/discussions/3772) has been added by DamienCassou in discussion section for gitGraph vertical rendering enhancement, you may vote.

[2022-11-08 23:04] boldt commented on #3757
Thanks, but the release notes say, that this MR ist fixed:

[2022-11-08 23:19] difosfor commented on #2903
I would love to see this as well! 🤞 But am also afraid I won't find time to work on this myself.

PS: I've also asked here https://github.com/prettier/prettier/issues/13821, but they indicated this should be implemented as a prettier plugin by the mermaid community.

[2022-11-09 03:39] sidharthv96 commented on #3757
<img width="658" alt="image" src="https://user-images.githubusercontent.com/10703445/200731838-fed077f4-3248-46fd-a2d9-856157fe44ce.png">

Must've been a mistake, Struck it off.

[2022-11-09 05:34] sidharthv96 opened #3775 "Improve Changelogs"
### Description

We could use something like https://github.com/changesets/changesets/ to improve our changelogs and releasenotes.

### Steps to reproduce

...

### Screenshots

_No response_

### Code Sample

_No response_

### Setup

**Desktop**

- OS and Version: [Windows, Linux, Mac, ...]
- Browser and Version: [Chrome, Edge, Firefox]

**Smartphone**

- Device: [Samsung, iPhone, ...]
- OS and

[2022-11-09 09:42] sidharthv96 commented on #3757
Can you please test `9.2.2-rc.2`

[2022-11-09 09:42] sidharthv96 commented on #3754
Can you please test `9.2.2-rc.2`

[2022-11-09 09:42] sidharthv96 commented on #3747
Can you please test `9.2.2-rc.2`

[2022-11-09 11:07] fkohrt commented on #3764
Just stumbled over the following broken link and thought it might be relevant for this issue:

https://github.com/mermaid-js/mermaid/blob/c8b377bf74a55b8fdfa3ed2af25987d6301346f9/packages/mermaid/src/docs/community/development.md#L9

The rendered documentation page containing the broken link is [here](https://mermaid-js.github.io/mermaid/#/development).

[2022-11-09 11:23] spier commented on #3764
It doesn't solve the issue of possibly having to redirect old URLs so that inbound links keep working.

However I have fixed some of the broken links, including the example provided by @fkohrt, as part of https://github.com/mermaid-js/mermaid/pull/3765.

[2022-11-09 15:39] boldt commented on #3757
9.2.2 works.

[2022-11-09 15:46] #3757 closed

[2022-11-09 16:11] roharrin opened #3776 "Typescript compile error in mermaid.d.ts for import { type DetailedError } from './utils';"
### Description

Trying to compile after importing mermaid into a component fails with

[code]

If I manually change this from
import { type DetailedError } from './utils';
to
import type { DetailedError } from './utils';
it works.  But it's an npm package so I need it updated in the repo.

### Steps to reproduce

Install angular
ng new mermaid-test
yes to routing

npm i mermaid

in app.component.

[2022-11-09 16:55] aloisklink commented on #3775
See also https://github.com/mermaid-js/mermaid/issues/3022

Ideally we'd want to sync up the `CHANGELOG.md` with the release notes too.

[2022-11-09 18:41] weedySeaDragon commented on #3700
This is a minimal state diagram that shows the problem:

[code]

[Link to the above in Mermaid Live online editor](https://mermaid.live/edit#pako:eNpFkE1vgzAMhv9K5OMEpcBGWw6Tum7HnXbb2MEkASIBQcGpVCH--4KndRfL7-NvLyCt0lDCTEj61WDrcIivWTUKIb4evkUcP4szqzP7dcqC08WLWFgFKjh6YbmyvTAJPSCCQbsBjQpzuKAC6vSgKyiDq3SDvqcKqnENqejJftxGCSU5ryPwk_rfDMoG-_lO35Qh6-6wt6h0kAvQbdqOas1MoaW0Y2PajXvXB9wRTXOZJFt41xrqfL2Tdkhmoz

[2022-11-09 18:42] weedySeaDragon commented on #3700
I can work on this.
(It is related to being able to define and/or  a classDef  within a nested composite (child state section).

[2022-11-09 18:46] weedySeaDragon commented on #3700
@SpacyRicochet Your example is for a flowchart.  Although the error is happening in both, the code is different (there is no reason you would necessarily know that).
It would be best if you copied your example and opened a new bug report specifically for _flowcharts._

[2022-11-09 19:06] knsv opened #3778 "Feature: Add more shape types to mindmaps"
### Proposal

Hexagon shape:
id1{{This is the text in the box}}

[2022-11-09 22:22] dpal opened #3779 "Can't find a way to add spacing between the top node of the subgraph and the subgraph name"
### Description

Consider the following graph:
[code]

I could not find any way to add a space in such a graph.

Styling with "margin" does not work.
The vertical "margin" style setting is ignored.
The horizontal margin setting sort of works but works incorrectly (probably a separate bug). The margin adds space between the text inside a node and its border rather than to be a margin around the nod

[2022-11-09 23:05] Kochise opened #3793 "[Gantt] Display task's start/end date (as Gantt or table)"
**Is your feature request related to a problem? Please describe.**

(generated by GitHub)

[code]

**Describe the solution you'd like**

Real life projects aren't always that "simple" though. You can add "constraints" like excluded dates, task dependencies, but all you get is rounded squares on a chart.

It would be great to display the calculated start/end dates for each tasks as well. Inner or o

[2022-11-10 03:16] yishenggudou commented on #1624
+1

[2022-11-10 05:25] sidharthv96 commented on #3776
Which Typescript version are you using?

[2022-11-10 08:47] maxkoretskyi opened #3781 "mermaid.core.mjs : Critical dependency: the request of a dependency is an expression"
### Description

When I use 9.2.1 mermaid in my webpack project (nx workspace), React tsx component

[code]
I see this warning:

[code]

it's this part in the code:

[code]

I'm wondering if this can somehow be fixed? or maybe I'm loading the lib incorrectly?

### Steps to reproduce

Import 9.2.1 like this:
[code]

### Screenshots

_No response_

### Code Sample

_No response_

### Setup

**Deskto

[2022-11-10 12:21] knsv commented on #3781
Hey, @maxkoretskyi.

Could you try with version 9.2.2?
We are working with this and it should be resolved with the new version.
Thanks,
/Knut

[2022-11-10 14:20] slorber commented on #3747
Thanks for your reactivity

I can confirm 9.2.2 works fine now 👍

Not sure exactly what is happening either 😅

[2022-11-10 14:20] #3747 closed

[2022-11-10 15:57] maxkoretskyi commented on #3781
@knsv , seems to be gone in 9.2.2. Thanks!

[2022-11-10 17:06] roharrin commented on #3776
Installed 4.8.4
In angular dev dependencies ~4.3.5

That was it.  I've updated to
"typescript": "~4.6.4"
and build passes now.

Thanks.

[2022-11-10 17:06] #3776 closed

[2022-11-10 17:17] jfontsaballs opened #3782 "On State Diagrams, notes are placed above or below the states instead of left and right"
### Description

On State Diagrams, notes "right of" are placed below the state and notes "left of" are placed avobe the state

### Steps to reproduce

Add provided code sample to mermaid.live

### Screenshots

![imagen](https://user-images.githubusercontent.com/25230616/201162748-14cb8f19-e91f-4843-92fe-af55588c205c.png)

### Code Sample

[code]

### Setup

mermaid.live on Firefox 106.0.5 Windows

[2022-11-10 19:30] sidharthv96 commented on #3754
Fixed in 9.2.2

[2022-11-10 19:30] #3754 closed

[2022-11-10 19:33] #3701 closed

[2022-11-10 19:33] #3597 closed

[2022-11-10 20:01] danarrib commented on #177
Please, add bars chart!

![image](https://user-images.githubusercontent.com/17026744/201194226-2e885d4b-54ea-4cd1-b9b3-ce35b8ebfcc1.png)

![image](https://user-images.githubusercontent.com/17026744/201194291-b4f2f81c-b214-4eea-be02-a10a25e6f5e8.png)

[2022-11-10 20:50] sgerace commented on #3754
Hi @sidharthv96, sorry I wasn't able to confirm the fix yesterday. I can confirm that the fixed published in 9.2.2 does indeed fix the issue for us. Thanks!

[2022-11-11 02:30] sjackson0109 commented on #2977
For those of you who can't wait to get an answer...
I did actually manage to align it, but it's not pretty...
![image](https://user-images.githubusercontent.com/38080190/201249070-afc3c243-79e6-4b45-923a-849c5870286d.png)

[code]

The use of `<br />` gave me the vertical height, width attribute on the Icon classDef worked nicely too; and i changed the alignment with `position:absolute, right:0, bo

[2022-11-11 02:44] sjackson0109 opened #3785 "Inline text only works on one end"
### Description

I am trying to use mermaid to draw a single solid line with labels on left and right, like so:
![image](https://user-images.githubusercontent.com/38080190/201250800-08133a81-91ca-45ac-aeef-d0c322695f6d.png)

of course this in mermaid should be written as follows:
[code]

I've tried many different combinations, and none of these render:
`A|1.1.1.1|---|4.4.4.4|B` or `A|1.1.1.1|---vp

[2022-11-11 02:45] sjackson0109 commented on #3785
By comparison, these all work:

- `A---vpn1.tun0---|4.4.4.4|B`
- `A|1.1.1.1|---vpn1.tun0---B`
- `A---|4.4.4.4|B`

[2022-11-11 02:56] ileixe commented on #3307
Definitely :+1:

[2022-11-11 06:27] flywire commented on #2977
Your example does not render in the [Live Editor](https://mermaid.live/edit#pako:eNqFVF1v2yAU_SuIPGSTPH8lcRN3mbQ1fYhUVVWTh031HrABGw2DBThtFOW_D38kjZdpQ5aFz72cezhcfICZxATGkHL5mhVIGfDwnAhwGrpOc4WqAqxX94_b9fbHSwLXmAjDzB58ThXwvoDAd7vH98JpAn9eLLcDM0Uyw6QA22_DyJk7mL6AP1YNVw4k9WO92tSpICb4kMCVLBET4E4KoyTnROm_aVsk8OM1z-bp6939c-g_fR_GiMBDYL3aPRKzzqSwHnT0_ZuVOcg40no5bsJjoFW2HLuexb2dlejqXW5Bs-dkOU6lMbKM_ertVrG

[2022-11-11 09:01] sjackson0109 commented on #2977
@flywire you are funny :)

(Of course you need a public facing URL inside the IMG tag, to an appropriate SVG image... try this)
`https://symbols.getvecta.com/stencil_28/71_virtual-network.8cd684329b.svg`

[code]

Clearly live-editor doesn't do a good job of applying the styles/classes properly, especially the iconDef class, with colour and fill transparency:
![image](https://user-images.githubuser

[2022-11-11 09:18] mnlin0905 opened #3786 "Flowchart cannot display the string "\n""
### Description

Due to actual needs, the flowchart needs to display the string "\n";
But no matter what way I do it, "\\" and "n" don't show up together；

### Steps to reproduce

I've tried various combinations and I can't find it to display correctly：

[code]

### Screenshots

This is the result of the page rendering：
![image](https://user-images.githubusercontent.com/17874282/201306668-ec9a9898

[2022-11-11 14:23] cmorganBE commented on #3307
I'll have some time off around the holidays and will dig in then, so if someone has the work planned before then please reach out (chmorgan@gmail.com), or give me until end of year :-)

[2022-11-11 18:37] craigmac commented on #2756
Can recreate: here's a small [sample live on mermaid site](https://mermaid.live/edit?gist=#pako:eNp1Us1qwzAMfhXh0wbdds-hMNbsWALtxg65qLaSijl25tgtpfTdJzft2nVMEJJI-n4ktFfaG1KFqt1AX4mcphljG7CrHUig1kuOlgqA3uJuhfrzpzCjQYcCFiccmGtgjyGy5h5dhKr8mysXH1AJI4WxNveRwG8oSPfkqlrAOxvyT5gMe9DeNdyCRgd6ja4V0RTYtUdzI1EO30eY0xZGUCOmaIAtWwsrAhSjTUOBxMXIlwJG9u6Cr8qH6fTaw8upj54z49392ErOXJkP3K4j-OaX-ddRG4PU856GSAbQydP3Apcf

[2022-11-12 14:48] brunolnetto commented on #3036
@knsv Do we have any progress on this issue?

[2022-11-12 15:11] michkrej commented on #3036
I've started working on another project, so if someone wants to take a look at this issue instead of me please do :)

[2022-11-12 15:14] brunolnetto commented on #3036
[A working woman.](https://www.youtube.com/watch?v=iIGKlicb8n0)

[2022-11-12 16:58] brunolnetto opened #3789 "Unique-defined node text label"
### Proposal

Mermaid does not want to be verbose, but I am human and still like words. The tool allows me the give multiple text labels but chooses the last definition as the node label. I show an example below.

[code]

May we somehow implement this new feature as I suggest?

### Example

graph TD
      1([]) --> 2{}
      2{} --> 3([])

    nodeText 1 "Description 1"
    nodeText 2 "Description

[2022-11-13 11:49] sjackson0109 commented on #2585
+1 vote

[2022-11-13 20:57] r0b5t4 commented on #2028
Git graphs can achieve a limited swimlane-esque appearance now.

[2022-11-14 05:15] Soleone opened #3792 "[Gantt] Ability to display start and end date of week on x-axis"
**Is your feature request related to a problem? Please describe.**

Currently my diagram displays sundays, e.g. Nov 13 and Nov 20 as the only dates on the x-axis. I have set `excludes weekends`, those weekend days should not be relevant.

**Describe the solution you'd like**

a) By default display Monday and/or Friday dates on the x-axis
b) Ability to customize which days of the week display on th

[2022-11-14 07:41] bjarnesvanberg commented on #2585
@sjackson0109 I think you should use one of the emoticons (or whatever it's called) as a reaction on the original post to upvote.

[2022-11-14 07:42] #3648 closed

[2022-11-14 09:30] carbeer commented on #2852
Would love to see this as well. Just wanted to mention that `m` is used to indicate time in minutes as of now.

[2022-11-14 11:13] Electro-resonance commented on #1530
I agree with the above request.
I'm trying to migrate some Gantt chart plots which display perfectly in Plotly to use Mermaid within Markdown, but the limited display options mean that I end up with plots that are unusable due to the vertical height and horizontal settings not being adjustable.

The issues found so far (mostly linked to rendering) are:
 * Date ranges can not be set. The chart date

[2022-11-14 12:01] Electro-resonance opened #3794 "Default Rendering of Gantt Charts are Unreadable"
### Description

The default rendering of Gantt charts results in unreadable charts with even a small task number such as six tasks.

For basic renderings, the defaults (horizontal and vertisl scaling and date ranges) should result in clearly readable charts with requirement for CSS modifications.

### Steps to reproduce

Basic markdown for Mermaid rendering of six tasks from within an enviroment

[2022-11-14 12:59] SuperCuber commented on #4
@knsv I'm also interested in this. How would I import this from a yarn project?

[2022-11-14 13:59] MelGrubb opened #3795 "Tilde for internal visibility gets turned into an angle bracket"
### Description

Since the introduction of using the tilde to mark generic parameters, I can no longer use it to mark internal (assembly) visibility for methods and parameters. "~InternalProperty" gets displayed as "<InternalProperty". I understand why generics couldn't simply use the regular angle brackets, but why was the tilde chosen as the delimiter when it already had a meaning?

According to

[2022-11-14 17:44] sidharthv96 commented on #3764
[code]

These seem to be the possible links. I extracted it out from the markdown files.

`flowchart` would link to `https://mermaid-js.github.io/mermaid/#/flowchart` with possibility of id links like `https://mermaid-js.github.io/mermaid/#/flowchart?id=links-between-nodes`

[2022-11-14 20:21] krga commented on #177
### Groups & Sections

Groups & Sections (like on [swimlanes.io](https://swimlanes.io/)) would be nice:

![2022-11-14_21h02_35](https://user-images.githubusercontent.com/11859632/201754856-c79e01d0-22f1-47b0-b867-ac97a4120ecb.png)

This helps structuring the content.

To some degree [Background Highlighting](https://mermaid-js.github.io/mermaid/#/sequenceDiagram?id=background-highlighting) can be

[2022-11-14 22:28] weedySeaDragon commented on #3022
There are tools that update changelogs and release notes that do not include emails (which I agree -- is not a good idea).
There are a number of GitHub actions devoted to doing exactly this.  Some allow you to configure exactly what information is/is not included (e.g. by using tags/placeholders/interpolations).

Here's the most popular one currently on GitHub:
https://github.com/marketplace/actio

[2022-11-14 22:43] weedySeaDragon commented on #3775
I just left a comment #3022, but it's probably better left here.

There are good Github actions that automate changelog generation and release notes. They all work off of PRs, and so require some PR standardization -- a small price to pay in order to get nice, consistent, always current changelog and release notes.

Here's a very popular one:
https://github.com/marketplace/actions/release-changelo

[2022-11-14 22:48] azat-io opened #3799 "Property 'initialize' does not exist after upgrading to v9.2.2"
### Description

I'm using mermaid with dynamic import:

[code]

After updating to version 9.2.2 I get the following errors:

[code]

In version 9.2.1 everything works fine

[2022-11-14 22:55] weedySeaDragon opened #3800 "docs: (vitepress) material-palenight theme contrast too low"
### Description

The `material-palenight` theme used by shiki for code does not have enough contrast.
Specifically, comments are _very_ difficult to read.
It fails the minimal WCAG standards for contrast.

### Steps to reproduce

1. Run vitepress dev server:   `vitepress dev packages/mermaid/src/docs`
2. Create this markdown in a documentation page:
[code]
3. View the documentation page on your lo

[2022-11-14 23:55] sjackson0109 opened #3801 "GitGraph support for multiple tags"
### Proposal

Am trying to demonstrate practicing different diagrams to my coleagues for wiki via code repo, using markdown with mermaid support.

I stumbled across an issue trying to add multiple tags to a feature release.

Issue: CANNOT USE MULTIPLE TAGS

my code:
[code]

As you can see before adding the string `tag: "OpenID v1.1" to line 10 above, the diagram rendered perfectly.. except for the

[2022-11-14 23:56] sjackson0109 commented on #3801
Tried all this with no luck:
- Comma-separated list, encapsulated in quotes
- Comma-separated list, without quotes
- Brace separated array
- multiple tag statements

[2022-11-15 05:37] sidharthv96 commented on #3799
Can you share more info on your build setup and a minimal reproduction if possible?

[2022-11-15 05:39] sidharthv96 commented on #3795
Generics should only work when added in pairs. This is a bug.

[2022-11-15 09:13] sjackson0109 commented on #2585
@bjarnesvanberg - yeah upvoting is probably better. DONE. Thanks for the suggestion.

[2022-11-15 13:53] olivierduquenoy commented on #3779
Try this :
flowchart TD
        classDef withmargines fill-opacity:0.0,color:#FFFFFF,stroke-width:0px;
        subgraph foo [<font size = 6>Example of a subgraph that HAS space between name and top node]

            foo1["<p style='width:100px;height:0px;margin:0'>Hauteur 50</p>"]:::withmargines
            box1["Some space above this box and the title"]

            foo1 ~~~ box1-->box2
    end

[2022-11-15 15:52] azat-io commented on #3799
@sidharthv96 I created demo repo:
https://github.com/azat-io/mermaid-ts-errors-9.2.2

1. `pnpm install`
2. `pnpm test`

[2022-11-15 17:10] sidharthv96 commented on #3799
[code]

Seems to fix the issue.

[2022-11-15 17:36] sidharthv96 commented on #3799
@aloisklink, changing `"type": "module",` in our package.json also fixes the problem.

Also, I was checking `tslib`, another dependency of `docusaurus` and they don't have a `type` in their package.json.
When I removed it from ours, **EVERYTHING** works.

[code]

So, why don't we just remove that from package.json?

[2022-11-15 18:17] azat-io commented on #3799
Because another package requires it.

Downgrading to v9.2.1 also fix problem.

[2022-11-15 21:05] weedySeaDragon opened #3803 "bug: docs - vitepress config fails on shiki.getHighlighter"
### Description

Prior to 2022-11-13, `packages/mermaid/src/docs/.vitepress/config.ts` worked with the following lines:
[code]

But after the commits to develop on the 13th to 15th, when I ran vitepress I started getting an error in `.vitepress/config.ts` on that `await shiki.getHighlighter...` line: **shiki was undefined**

A quick search on SO revealed that others had similar problems.
Am submit

[2022-11-15 21:23] PackElend commented on #448
GREAT 😃 is there somewhere documentation on how to use it?

[2022-11-15 21:33] jonn-smith commented on #1113
I'm interested in seeing this feature as well.

Having both `width` and `height` directives would be great for more complex graphs that require more canvas space.

[2022-11-16 04:44] dpal commented on #3779
This is a nice hack, thank you! It adds a hidden box at the top - OK. But it works around the problem (which is fine for me) but really does not fix the actual limitation of lack of support of margins and spacing. I think the issue is still valid as described.

[2022-11-16 04:46] #3803 closed

[2022-11-16 07:47] sidharthv96 commented on #3799
@azat-io can you try [9.2.3-rc.1](https://www.npmjs.com/package/mermaid/v/9.2.3-rc.1) ?

[2022-11-16 13:22] sidharthv96 commented on #3799
Will release 9.2.3 once the issue is confirmed to be resolved.

[2022-11-16 16:58] azat-io commented on #3799
@sidharthv96 I have updated mermaid to v9.2.3-rc1 and the problem is still there:
https://github.com/azat-io/mermaid-ts-errors-9.2.2

[2022-11-16 18:42] ryanpeach commented on #2583
Needed for sure

[2022-11-16 20:45] aloisklink commented on #3799
https://github.com/azat-io/mermaid-ts-errors-9.2.2

Confirmed, I'm having the same issue. If you disable `noEmit` and use `// @ts-ignore` to hide the TypeScript error, running the generated `index,js` file works fine, so this seems like an error in the `types` file.

@azat-io, can you try using `"moduleResolution": "node"` in your `tsconfig.json` file? That works for me.

The new `"moduleResolutio

[2022-11-16 20:48] azat-io commented on #3799
Are you considering migration to pure ESM?

[2022-11-16 23:20] aloisklink commented on #3799
See https://github.com/mermaid-js/mermaid/issues/3590

I'm pretty for it, since it would make things a lot simpler.

Currently the CommonJS version of Mermaid only works because it bundles together all dependencies (some of them, like `d3` are ESM only now). And making packages that are cross-compatible with both CommonJS and ESM is pretty easy if you're just targeting Node, but if you're targetin

[2022-11-17 08:33] sidharthv96 commented on #3799
Weird, I tested with the locally modified package, and it was working fine. But the release version is failing for me too. Hmm....

[2022-11-17 09:21] sjackson0109 opened #3805 "direction TD not working in v9.2.2"
### Description

[mermaid.live](https://mermaid.live) produces an error for me rendering `direction TD`:
Error: Parse error on line 2: ...raph direction TD subgraph 1 ----------------------^ Expecting 'SEMI', 'NEWLINE', 'EOF', 'AMP', 'START_LINK', 'LINK', got 'ALPHA'

Trying with visual studio code and i get `undefined`.

According to [this](https://mermaid-js.github.io/mermaid/#/flowchart) articl

[2022-11-17 15:41] TweedleDim commented on #2073
Still no workaround for this issue ? Indeed having the legend below the pie would be nice.

[2022-11-17 18:22] Ircama opened #3806 "Multiline title in flowchart subgraphs is overlapped by nodes"
### Description

Multiline titles in flowchart subgraphs (e.g., `subgraph C["multiline text"]`) are overlapped by nodes.

### Steps to reproduce

Check this example:

[code]

[code]

[Another example with the Mermaid Live Editor](https://mermaid.live/edit#pako:eNo9T8tqwzAQ_BWxpxac4Gfs-FBIE8ipp_bUKAfF2toC64EkQ13H_17Fpp3T7jxgZoJGc4QaWstMRz5OVJEAN9xW4nihcCDG6gadI75jfjUIR1pUaFnfj4RxbTxyCtdVfOBwOXZWOC-

[2022-11-17 19:13] aloisklink commented on #3800
Hi @weedySeaDragon, I've made a PR (#3807) that refactors the highlighters so that there is a single place to modify the shiki theme, as well as changing the default theme to `github-dark`.

`github-dark` has a contrast ratio of 4.43:1 for comments, which is technically not good enough for WCAG 2.0 level AA, as it requires a contrast ratio of at least 4.5:1 for normal text, but 4.43:1 is pretty cl

[2022-11-17 23:42] thomasbtf commented on #1604
Would appreciate this!

[2022-11-18 00:26] weedySeaDragon commented on #3800
Thanks @aloisklink  -- this theme is better.  I spent a little time looking at dark themes provided with shiki and none of them are great.  (Some have higher contrast but are horrifically ugly IMNSHO.)

I agree -- right now it's not a good idea to manually modify the theme.

I will open an issue with vitepress.

[2022-11-18 00:43] ksdavidc commented on #1321
upvote

[2022-11-18 01:34] aloisklink commented on #3800
I believe part of the problem is that vitepress doesn't use the `shiki` background color. Instead, it uses it's own background color, and because it's a grey-ish/purple-ish color, that reduces the contrast more.

Such is the way of accessibility/UX vs design :smile:

Many modern fonts are the same way, they may be beautiful but difficult to read (although I do like [Atkinson Hyperlegible](https://

[2022-11-18 08:34] kinachan commented on #1945
+1

[2022-11-18 08:58] cpelley opened #3812 "labels containing 'interpolate' causes 'Syntax error'"
### Description

Labels containing 'interpolate' causes mermaid to return 'syntax error'
Potentially related to https://github.com/mermaid-js/mermaid/issues/2388 which seems similar except that refers to node id in that case.  I assume these 'reserved words' wouldn't apply to labels.

I can get things to behave as expected by using double quotes as per [mermaid docs](https://mermaid-js.github.io/m

[2022-11-18 09:38] #3637 closed

[2022-11-18 09:46] #3764 closed

[2022-11-18 17:40] #3800 closed

[2022-11-18 18:15] aloisklink commented on #3703
Fixed by https://github.com/mermaid-js/mermaid/pull/3738

Thanks for reporting this issue :)

We now have a GitHub Action that automatically checks for broken links, so we should hopefully avoid future errors like this!

[2022-11-18 18:15] #3703 closed

[2022-11-18 19:08] weedySeaDragon commented on #3581
@Aniket1026 - I just submitted  PR #3814 that revises the instructions for contributing/developing.
Can you please review it? I'd love your feedback.

Hopefully I can incorporate your feedback and address your issue with it.

[2022-11-18 21:54] McShelby opened #3815 "mindmap: configuration directive breaks rendering"
### Description

If a mindmap is preceeded with a configuration directive, the graph will not be rendered.

As a minor thing, even if no configuration directive is given, leading line breaks will also cause the graph not to be rendered.

This can also be seen in the live editor.

### Steps to reproduce

Create a mindmap with configuration directive.

### Screenshots

_No response_

### Code Sample

[2022-11-19 00:02] hsolbrig opened #3816 "Generalization relationship should be represented by a hollow triangle, not a solid one."
### Description

According to section **9.2.4.2 Other elements** in [the UML 2.5.1 Specificatiion](https://www.omg.org/spec/UML/2.5.1/PDF),
A Generalization is shown as a line with a **hollow triangle as an arrowhead** between the symbols representing the involved Classifiers. The arrowhead points to the symbol representing the general Classifier.

The models on the [Mermaid webpage](https://merma

[2022-11-19 05:45] Mister-Hope opened #3817 "Bug: type issue in ts@4.8+ with esm"
### Description

The package is shipping esm files, but package.json is missing "type": "module"

So typescript will assume users are importing a commonjs module, so it will report issues with:

[code]

Saying the expression is not callable.

That's because a cjs module will have it's module.exports on default key, so:

[code]

is ok to typescript, but it's not acually working (because we do have

[2022-11-19 11:32] endolith commented on #3228
Can there be a style/option that ignores ranks and renders flowcharts like a more conventional graph diagram, minimizing length of edges?  Like this editor that automatically arranges the nodes in a "lowest energy configuration": https://csacademy.com/app/graph_editor/

[2022-11-19 17:49] dionjwa opened #3864 "External png or svg render fails"

[2022-11-19 18:21] aloisklink commented on #3817
Potentially a duplicate of https://github.com/mermaid-js/mermaid/issues/3799

Although that one is explicitly about using dynamic `import()` in CommonJS, which is a bit more complicated in TypeScript.

[2022-11-20 05:03] endolith commented on #200
Technically you probably want Euler diagrams, not Venn.

![image](https://user-images.githubusercontent.com/58611/202886494-c6ad8f0c-a624-4c67-a80f-411c2e918836.png)

[2022-11-20 05:23] endolith commented on #177
Probably all the people asking for Venn diagrams actually want Euler diagrams...

https://en.wikipedia.org/wiki/Euler_diagram#Relation_between_Euler_and_Venn_diagrams

![image](https://user-images.githubusercontent.com/58611/202887008-679de43f-bca1-4b0d-8c08-78b0cde05944.png)

![image](https://user-images.githubusercontent.com/58611/202886837-82c09153-562c-4cfd-b496-d30994978f5f.png)

[2022-11-20 06:55] flywire commented on #2977
My concern was the shape of the boxes and I see `style 14` fixed that, and surprises me that the first example was generated.

[2022-11-20 06:56] runspired commented on #3228
I struggled with this for a basic triangular flow when trying to communicate that the response from A to B was intercepted by C. The trick of building this without directional arrows works though the arrows would be preferrable.

A --> B
B --> C
C --> A

[code]

[2022-11-20 13:19] brunolnetto commented on #177
@endolith They may use my libraries. :-P

python: https://github.com/quivero/eule
javascript: https://github.com/web-needle/eulejs

[2022-11-20 15:53] sjackson0109 commented on #2977
@flywire - creating a cascade of nested shapes to ‘push the icon into position’ is NOT a solution, it’s a workaround.

draw a box, put an image inside, set position to absolute, then bottom-right align it.  It works in CSS , outside of mermaid, with a div and image. But not using mermaid shapes.

In-fact mermaid shapes with a very small number of characters in the body also don’t render images pro

[2022-11-20 16:09] maliberty opened #3824 "broken output in docs for class diagram"
### Description

When visiting https://mermaid-js.github.io/mermaid/#/classDiagram I see errors like:
![image](https://user-images.githubusercontent.com/761514/202912742-737b40fc-be6f-44f6-bbee-6385ea8db459.png)

### Steps to reproduce

As above

### Screenshots

As above

### Code Sample

_No response_

### Setup

**Desktop**

- OS and Version: Windows
- Browser and Version: Chrome Version 107.0.

[2022-11-20 20:29] sunt05 commented on #2267
related #2776

[2022-11-20 20:47] weedySeaDragon opened #3826 "Refactor duplicated code diagram svgDraw files"
### Description
There are many versions of `svgDraw` in the individual `diagrams/`

Refactor code common to all diagrams into a separate .js file in `diagrams/common/svgDraw`.

This will help reduce the overall package size (in addition to all the benefits of DRY).

### Steps to reproduce

compare the files (esp `diagrams/c4/svgDraw` and `diagrams/sequence/svgDraw`

### Screenshots

_No response_

[2022-11-20 21:03] jirayu3141 commented on #3532
same

[2022-11-20 21:04] brian-methodical commented on #3307
I would find this useful.

[2022-11-20 21:06] sidharthv96 commented on #3826
SvgDraw does take up significant portions of our bundle. jison files are the biggest overall, I think.

<img width="706" alt="image" src="https://user-images.githubusercontent.com/10703445/202926064-61e20108-0faf-40e3-8694-39e54fe9ffcd.png">

[2022-11-20 21:58] weedySeaDragon commented on #3826
The jison files are definitely biggest, but this would be really easy first step. :-)

[2022-11-21 07:11] sidharthv96 commented on #3826
Yes, replacing/optimizing jison is not at all an easy task.

[2022-11-21 08:16] PackElend commented on #448
solved by https://mermaid-js.github.io/mermaid/#/mindmap

[2022-11-21 10:28] knsv opened #3830 "Regression issue:"
### Description

The images test "Configuration-and-directives---nodes-should-be-light-blue-Theme-variable-from-initialize,-theme-from-directive---nodes-should-be-red" fails.

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/5837277/203027405-995f42bd-283b-45da-b758-ac563e5bcb1a.png">

### Steps to reproduce

Run cypress tests

### Screenshots

<img width="1158" alt="im

[2022-11-21 10:44] #1433 closed

[2022-11-21 10:54] knsv opened #3831 "Regression issue: ER diagrams is ignoring themes"
### Description

Regression issue: ER diagrams is ignoring themes. The cypress image comparison test fails as the er diagrams ignores the theme settings.

### Steps to reproduce

Run the cypress tests theme.spec.js and look at the er diagrams.

### Screenshots

<img width="1231" alt="image" src="https://user-images.githubusercontent.com/5837277/203032187-80c97011-ea35-4ace-8305-42371923f066.png">

[2022-11-21 11:11] knsv opened #3832 "Regression issue: Mindmaps with a single node crashes silently during rendering"
### Description

This was fixed for the release 9.2 but the fixes must have been lost in transit.

### Steps to reproduce

Add a single node to a mindmap, notice that the execution on the page stops and no subsequent diagrams are rendered. The size of the mindmap is also not set.

### Screenshots

_No response_

### Code Sample

_No response_

### Setup

**Desktop**

- OS and Version: [Windows, Li

[2022-11-21 12:30] Kochise commented on #2789
https://mermaid-js.github.io/mermaid/#/flowchart?id=direction-in-subgraphs -> **A clarification is in order here.** at the bottom

[2022-11-21 12:31] #3666 closed

[2022-11-21 12:31] #3705 closed

[2022-11-21 12:31] #2626 closed

[2022-11-21 12:50] #3778 closed

[2022-11-21 13:04] knsv opened #3835 "Path elements not affected by user defined classes when using non-html labels"
### Description

User defined classes does not apply to path elements when not using html labels.

### Steps to reproduce

render this diagram using non-html labels in mermaid 9.2.2:
[code]

### Screenshots

_No response_

### Code Sample

_No response_

### Setup

**Desktop**

- OS and Version: [Windows, Linux, Mac, ...]
- Browser and Version: [Chrome, Edge, Firefox]

**Smartphone**

- Device: [S

[2022-11-21 13:40] #3835 closed

[2022-11-21 13:43] #3831 closed

[2022-11-21 14:14] DanInProgress commented on #1494
This has definitely been a pain-point for me, and looks like some new discussion has opened up about this on  #3650 ,
if I have time I'm going to try to experiment with this some time in the next month.  (maybe too little, too late for your use)

Seems like this issue has gone a bit stale, and is duplicated by discussion on #3650 , so might be worth closing this and continuing conversation over th

[2022-11-21 14:17] fidel-ruiz commented on #1318
@dwhelan I'm having an issue that might be caused by the ids issue although I'm not certain., I didn't wanted to spam another issue if this one already cover it

I reported an issue to mkdocs-material that was linked above which seems to be related

When clicking the participant test it should open up the actor popup menu. the event is not triggered. I'm using the native support with mermaid with

[2022-11-21 14:42] stephenandary opened #3839 "Connect Mermaid Subgraphs For Actor/Functional Style Diagram"
### Proposal

I would like to be able to define nodes without connections and categorize them within subgraphs. Then connect the subgraphs.  I want to do this to make it possible to more easily document function and actor-style architecture flow.
I believe this will make it a lot easier to define connections between subgraphs for functional and actor-style diagrams. This syntax makes it easier to

[2022-11-21 15:12] stephenandary commented on #3839
Closing. Works in Live Editor. Must be my mermaid version.

[2022-11-21 15:12] #3839 closed

[2022-11-21 17:23] Mogztter commented on #3650
I think we should use the `title` element with an `aria-labelledby`: https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title

[2022-11-21 17:46] DanInProgress commented on #3650
Also just to make sure I understand the issue you're describing:

1. A diagram is rendered as an svg on one computer, (say a server)
2. The server decides on the spacing/size of elements using their calculated width
3. The svg is saved and transferred to a second computer where mermaid is not present
4. The svg is opened and without mermaid/d3 to recalculate, the elements overlap or text is cut of

[2022-11-21 20:14] Mogztter commented on #3650
That's correct!

Actually, Mermaid calculates the spacing/size of boxes based on the rendered size of the text (contained in it) using a given font and rendering engine (browser).

When you open the generated SVG generated on another machine/browser the font will be rendered differently, small differences on the letter spacing but in then end the text can exceed the box width.

[2022-11-21 23:41] cbandy commented on #2902
Related?
- #2793

[2022-11-21 23:43] cbandy commented on #3381
Related?
- #2131

[2022-11-22 00:42] aloisklink commented on #3650
It would be better to bundle the fonts somehow (e.g. if using `Satori`, there's the font embedding option, see https://github.com/vercel/satori#font-embedding).

The only issue is then we'd be limited to fonts with an open-source license (but that's probably a good thing! The default Mermaid font of Tahoma is owned by Microsoft, so can be hard to install on Linux. Maybe https://fonts.google.com/sp

[2022-11-22 15:49] apeacock1991 commented on #3482
Closed by https://github.com/mermaid-js/mermaid/pull/3706

[2022-11-22 15:49] #3482 closed

[2022-11-22 17:12] weedySeaDragon commented on #3824
Whomever works on this:  I suggest that you put the failing diagrams (the diagram text) into a test so it doesn't happen again.  :-)

[2022-11-22 17:50] jzabroski commented on #147
A quick analysis reveals nobody uses .mm, and people use either mmd or mermaid extension (I like mermaid personally):

https://github.com/search?q=sequenceDiagram+extension%3Amm+extension%3Ammd+extension%3Amermaid+extension%3AmermaidDiagram&type=Code&ref=advsearch&l=&l=

Also a useful search query to see examples of other people using these diagrams!

[2022-11-22 20:08] weedySeaDragon commented on #3484
@emersonbottero @sidharthv96 Is this accomplished?  Can it be closed?

If it's not finished, what's left -- and can I help in any way?

[2022-11-22 21:23] weedySeaDragon commented on #3744
@sidharthv96 or @knsv or whomever -- I can do a PR for this. (You can assign it to me if no one is already working on it)

[2022-11-22 21:28] sidharthv96 commented on #3484
The main thing left is supporting rendering using library version of mermaid instead of another plugin. I have a branch that works with sync rendering, but not async (mindmaps).

[2022-11-23 08:12] huineng commented on #3666
It's all great work we solve these vulnerabilities. But it can only be really closed once a package is published.
Is there an outlook or process when something get's published ?

[2022-11-23 09:23] #3832 closed

[2022-11-23 10:36] sidharthv96 commented on #3484
@weedySeaDragon https://github.com/mermaid-js/mermaid/pull/3846

[2022-11-23 17:00] sander commented on #2623
Related: #660

[2022-11-24 01:46] leighc-qb commented on #1239
Timing diagrams would be very useful to me.

a wavedrom plugin maybe?

[2022-11-24 02:13] jacob-shuman commented on #2352
I love sequence, pie, git charts etc, but it would open up so many possibilities for me to be able to generate a simple bar chart with mermaid!

[2022-11-24 03:36] nitsujri commented on #3225
In my search for this feature, I found [d2](https://github.com/terrastruct/d2) which I am using. Large entity graphs get very hard to read without some logical

Would love Mermaid to be able to do this so I can stay in one DSL!

[2022-11-24 10:54] florianmonfort commented on #3239
Would love this as well! Notion and other tools support this, would be great to have this as an add-on in Powerpoint as well.

[2022-11-24 11:10] sidharthv96 commented on #3830
![image](https://user-images.githubusercontent.com/10703445/203770070-4e248ee0-cc1f-48ce-afd6-f233461c8c05.png)
Individual test also works.

[2022-11-24 12:02] mbanerjeepalmer opened #3848 "Sync stops working after deleting entire code section"
### Description

When deleting all the code the preview and export stop updating.

### Steps to reproduce

1. Start a diagram
2. Delete all code
3. Start writing new code
4. Expected: preview syncs (as it always used to)
5. Actual: preview stays blank

### Screenshots

https://user-images.githubusercontent.com/31225563/203779765-dbc13d30-f647-468b-a53f-654241d677c5.mp4

### Code Sample

[code]

##

[2022-11-24 12:04] jfontsaballs opened #3849 "Activation not working in sequence diagrams"
### Description

Activation does not show. Arrow does offset to make room for activation lane.

### Steps to reproduce

See code sample and screenshots

### Screenshots

![imagen](https://mermaid.ink/img/pako:eNpNjjEKwzAQBL8iro3zARWGmLSp0qo5pI0tsKREOhXG-O-RYwy5arlZllnJJgfSVPCpiBZ3z2PmYKJqd1PXvr-oQWlVUoBMPo4HGXbS-B9QmAuoo4Ac2Lu2ue5dQzIhwJBu0eHFdRZDJm6tylXSc4mWtOSKjurbsZwK5xPOS8qPQ_Nnu30Bh5U7Lg?type

[2022-11-24 12:16] jfontsaballs commented on #3849
It renders when you deactivate it. This works:

[code]

[2022-11-24 12:16] #3849 closed

[2022-11-24 18:50] serranomorante commented on #2899
This would be really nice, please!

[2022-11-24 18:56] serranomorante commented on #2899
Current workaround

[code]

[2022-11-25 06:03] sidharthv96 opened #3850 "Subtle rendering issues for diagrams"
### Description

- [ ] Misplaced label https://github.com/terrastruct/text-to-diagram-site/pull/25/files#diff-41b7f97d22bf5bc6d77b286fcbcff8ca4c73ac57573c956cafc248eee97c9fec
- [ ] Arrows added. Might be a fix, need to verify. https://github.com/terrastruct/text-to-diagram-site/pull/25/files#diff-f18388b2dee29a539dca7a003ce7bb16c1230a668e55cd3f96e5910a5e6906e4
- [ ] Text cropped https://github.com

[2022-11-25 08:44] domeniczz opened #3851 "Change direction of erDiagram"
### Proposal

We can't change the direction of ER Diagram now, the default direction is Top to Bottom

For example the following code

Using keyword "direction" to adjust the direction

### Example

[code]

### Screenshots

_No response_

[2022-11-25 16:23] skogsbaer commented on #3001
I open the same issue: #1953
It with fixed by @Xstoudi in PR #2269 but apperantly it only works in certain cases. @Dampfwalze mentioned this already in the original PR #2269

[2022-11-25 16:45] skogsbaer commented on #1687
I would really appreciate an fix here. Mermaid is just plain wrong regarding generalization arrows.

[2022-11-26 03:07] JESii opened #3853 "Error messages show incorrect line number reference"

[2022-11-26 03:22] JESii opened #3852 "Misleading error messages displayed when entering data"
**Describe the bug**
While entering data into the code block, error messages display that are misleading. In this example, I've just entered one line: `classDiagram` and pressed enter to go to a new line. It's not at all clear what the error message displayed below is trying to tell: is there an error on line 1? That is exactly what the error message is saying -- that there is an error at the end

[2022-11-26 03:59] sidharthv96 commented on #3852
Thanks @JESii!
Transferring it here as this is where the errors are generated from.

[2022-11-26 06:07] JESii commented on #3852
Whew... I thought for a moment that I'd entered the bug ticket in the wrong place :=))

[2022-11-26 08:31] lfuhr commented on #1687
I think we should make a point what solution developers should go for.

Give me a thumbs up here if you think
**--|> should be changed to transparent.**

[2022-11-26 08:32] lfuhr commented on #1687
Give me a thumbs up here if you think
**it would be better to Introduce another arrow like --i> , --[>, --o> or --|:>**

[2022-11-26 08:33] lfuhr commented on #1687
Give me a thumbs up here if you think
**It is just fine as it is**

[2022-11-26 09:30] WolfgangFahl commented on #1687
UML sets the standard so i think this could be a way to avoid further discussion:
![grafik](https://user-images.githubusercontent.com/1336221/204081959-01c39bf1-9b95-4dc2-a9c1-d9b406df6a6b.png)

[2022-11-26 10:51] nguyenyou opened #3854 "Flowchart Subgraphs Overlap in Next.js"
### Description

I'm trying to integrate mermaid into my Next.js application, everything works fine in development mode (`next dev`). However, after building the application with (`next build`), the flow chart was broken.

Mermaid version: `9.1.7` (currently, I have to use this version, because 9.2.x version cause `addHtmlLabel` not  found bug :bug: after being built)
Next.js version: latest (13.x

[2022-11-26 11:49] skogsbaer commented on #3001
@AlexanderGrasberger  Please re-open, there is now a PR #3855

[2022-11-26 21:09] ehuelsmann opened #3856 "Placement of labels far away from heavily curved transition arrows in state diagrams"
### Description

When I create a large number of transitions between two states in a state diagram (notably this happens when multiple events transition back into the original state), the labels get far away from the arrows as shown in the attached screenshot, so far even that labels and arrows are getting mixed in their positioning: labels of other arrows are being placed on top of - or closer to

[2022-11-26 23:01] bbusschots opened #3857 "UML Class Diagram Cardinalities not Rendering SVG or Live Editor (Rendering as Expected in PNG)"
### Description

When rendering to SVG with the CLI, or when using the live editor, cardinalities in UML Class Diagrams are not rendered, but they do render as expected when outputting to PNG from the CLI, or when saving to PNG from the live editor.

### Steps to reproduce

Render the following diagram on the live editor:

[code]

The cardinalities will not be shown. Click the PNG button on the li

[2022-11-27 10:56] luiz00martins opened #3858 "Unable to reference named composite state"
### Description

1. When using a named composite state, such as `state "State Name" as s1`, trying to reference it (`s1 --> something`) results in a new state being created instead.

### Steps to reproduce

See code sample and screenshot below.

### Screenshots

Wrong layout (because the composite state is named):
![image](https://user-images.githubusercontent.com/43142209/204131218-aa15f95d-dba5-

[2022-11-28 10:12] Knochi commented on #177
I would love to see a [radar-chart (or spider-chart](https://en.wikipedia.org/wiki/Radar_chart).

![Spider_Chart2](https://user-images.githubusercontent.com/5979046/204251694-03f70bb2-3d4b-41cd-b67b-d16b59ce7394.jpg)

[2022-11-28 20:49] dometto commented on #3153
@MasonM there's an improvement on `v9.2` since there is no longer the second iframe (with the same id as the first), and so the page as a whole doesn't break. However, the standard mermaid "Aparse error occurred" svg is not displayed (screenshot below). Is that expected behavior?

<img width="836" alt="Screenshot 2022-11-28 at 21 48 51" src="https://user-images.githubusercontent.com/147111/2043779

[2022-11-29 12:44] wildmichael opened #3865 "C4Context: `$borderColor` has no effect"
### Description

Using `UpdateElementStyle()` to set the `$borderColor` of an element in a `C4Context` diagram has no effect.

### Steps to reproduce

1. Create a `C4Context` diagram
2. Add an element, e.g. a `Person(person, "A person")`
3. Call `UpdateElementStyle(person, $borderColor="green")`
4. Observe that the border color is not green.

### Screenshots

![image](https://user-images.githubuse

[2022-11-29 13:06] knsv commented on #3864
The root cause for issue rendering the graph at github was that the diagram type **graph** was used. That is the legacy flowchart renderer which can not use links to and from subgraphs. It is possible to configure mermaid to always use newer render, this is not how it is configured at github. The type flowchart can though, (I updated the issue description).

I think that the real issue has somethi

[2022-11-29 13:47] MateiMitran opened #3867 "Syntax Error in Rendering Class Diagrams"
### Description

I have created a NextJS app with a markdown textbox that on pressing the button, it would render MermaidJS syntax into a diagram using the Mermaid renderer on a card. Some diagrams I have created work and some do not. There is no syntax error and the diagrams do render in the top left of the card. This environment works perfectly locally but behaves like this in production.
I'm ru

[2022-11-29 16:13] #3484 closed

[2022-11-29 16:41] sidharthv96 commented on #3864
Hmm, replacing graph with flowchart does solve the issue in github and mermaid.ink.

[code]

![image](https://user-images.githubusercontent.com/10703445/204589428-d548093c-137a-4f60-943b-4b227d35fd12.png)

[2022-11-29 20:09] Funinja commented on #1930
Hi, I m new to this project and would like to contribute! Can I be assigned to this issue?

[2022-11-29 23:22] dionjwa commented on #3864
Awesome, that's good to know, and an easy fix on my end.

Thank you!!!

[2022-11-30 02:28] MasonM commented on #3153
@dometto Yeah,seems there's a second bug here. When I step through the code, there's an "svgEl.viewBox.baseVal is null" error triggered by the following line:
https://github.com/mermaid-js/mermaid/blob/9a0d5e31b77fcea6b20338078e46c78d5a8a7c3c/src/mermaidAPI.ts#L326

[2022-11-30 15:26] cdgeorge opened #3870 "Small time intervals does no longer work in gantt"
### Description

This example from https://mermaid-js.github.io/mermaid/#/gantt does work anymore:

[code]
It worked in version 9.1.6 but not in version 9.1.7 or later (9.2.2)
It can parse in the new versions of Mermaid but it gives a wrong presentation.  All the bars are gone.

### Steps to reproduce

This Html works using the old 9.1.6 version:
[code]

This does not when using version 9.1.7 or n

[2022-11-30 16:25] olivierduquenoy commented on #3746
You need to set the size of your shape with the style attribute.

Try this :

    SVG1["<p style='width:40px;height:40px;margin:0px'/p><img src='../images/networking/vnet.svg' />"]
    SVG2["<p style='width:40px;height:40px;margin:25px'/p><img src='../images/networking/vnet.svg' />"]

More funny, you can either use the table attribute. Try this :

    SVG3["<table><tr><td><p style='width:40px;heig

[2022-11-30 16:39] olivierduquenoy commented on #3723
Yes, it will be a great improvement !!

[2022-11-30 16:51] sjackson0109 commented on #3746
I could be wrong; but HTML v1-5 all support IMG object types, and all forms of styling (attribute or inline styling or css styling).. they all support WIDTH and HEIGHT attributes.Wrapping the image in another object, span/table/paragraph, that has those attributes set, is not a solution - it’s a workaround.On 30 Nov 2022, at 16:25, olivierduquenoy ***@***.***> wrote:﻿
You need to set the size of y

[2022-11-30 17:15] olivierduquenoy commented on #3148
You can do This with HTML Tags :

    Tips1["<p style='width:250px;height:25px;margin:0px;'>centered</p>"]
    Tips2["<p style='width:250px;height:25px;margin:0px;text-align:right'>right align</p>"]
    Tips3["<p style='width:250px;height:25px;margin:0px;text-align:left'>left align</p>"]

[2022-11-30 17:44] endolith commented on #2583
You can vote here: https://github.com/mermaid-js/mermaid/issues/177#issuecomment-345474864

But do you really want Venn diagrams or do you want Euler diagrams?

https://en.wikipedia.org/wiki/Euler_diagram#Relation_between_Euler_and_Venn_diagrams

![image](https://user-images.githubusercontent.com/58611/202887008-679de43f-bca1-4b0d-8c08-78b0cde05944.png)

![image](https://user-images.githubusercont