[2019-10-21 19:14] prtuson commented on #1020
I am using mermaid.min.js 4.2.6 on my mobile phone application, I downloaded that using npm. It is 726kB in size as is declared on UNPNG.

I downloaded the mermaid.min.js direct from UNPKG and it was 2.1MB is size. It starts with an html declaration as:
<!DOCTYPE html><html lang="en"><head><script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-140352188-1"></script><script>window.dat

[2019-10-21 19:20] Dunning-Kruger commented on #398
@bebuch Hey, I believe this is the same issue reported on #975. If not, please provide a link to a live editor with a reproduction. Thank you.

[2019-10-21 19:54] Dunning-Kruger commented on #1020
For details on how to use UNPKG you can check out [their docs](https://unpkg.com/).

If you don't want to link to their CDN directly, you have to download the raw file, not their HTML page (which is what you are doing by right clicking and "save link as...").

[2019-10-22 09:03] bebuch commented on #398
@Dunning-Kruger You are right, thanks!

[2019-10-22 13:21] Dunning-Kruger commented on #398
Duplicate of #975

[2019-10-22 13:21] #398 closed

[2019-10-22 13:24] #838 closed

[2019-10-22 13:24] #945 closed

[2019-10-22 14:46] janat08 commented on #866
Issuehunt.io

[2019-10-22 18:41] Pyrolistical opened #1022 "State diagram long name renders incorrect as description compared to plantuml"
Given
[code]
renders
![Screen Shot 2019-10-22 at 11 39 11](https://user-images.githubusercontent.com/463642/67318627-9871be00-f4c0-11e9-9c4c-6c19c9c96244.png)

But the equivalent diagram in plantuml is
[code]
renders
![SoWkIImgAStDuUAArefLqDMrKmWsv08AbgGgA0NdvwOgvEJdfIla9UQcAYaa5eCakHnIyrA0EW00](https://user-images.githubusercontent.com/463642/67318765-c1924e80-f4c0-11e9-9c75-f0136745be5e.png)

Th

[2019-10-22 19:10] Pyrolistical opened #1023 "State diagram failed to render \n in transition labels compared to plantuml"
Given
[code]
renders
![Screen Shot 2019-10-22 at 12 09 09](https://user-images.githubusercontent.com/463642/67321735-c527d480-f4c4-11e9-8e59-fb31fd6b427a.png)

but with plantuml given
[code]
renders
![SoWkIImgAStDuUAArefLqDMrKmWsv0esXB2Ch1HoylFI5N8oyr8LIeipWSoCajmScwGYVRlYZFpId9GyzHA5yloYRBWMOqmjgSN9YGMfCNaG7H3bN5mEgNafG7i1](https://user-images.githubusercontent.com/463642/67321789-da9cfe80-f4c4-1

[2019-10-22 19:39] Dunning-Kruger commented on #1023
Kept as a bug since, I believe, the original intention was to utilize plantuml's syntax.

[2019-10-22 19:41] Dunning-Kruger commented on #1022
Kept as a bug since, I believe, the original intention was to utilize plantuml's syntax.

[2019-10-23 01:59] forivall commented on #1023
I found that `<br>` works instead of `<br/>`

[2019-10-23 03:53] liyuanqiu opened #1024 "Some logs are out of logLevel"
**Describe the bug**
These `console.warn` are not controlled by `logLevel` option:
https://github.com/knsv/mermaid/blob/0157f665a305b0616e7932360a2f9fb2fa154668/src/diagrams/state/stateRenderer.js#L281
https://github.com/knsv/mermaid/blob/2da55993e0e7f5a35c8d2b3132d4588c1189a149/src/diagrams/state/shapes.js#L109
They print logs to browser no matter what `logLevel` is.

**To Reproduce**
1. Open sta

[2019-10-23 15:03] Shanmugapriya001 opened #1026 "Is there a way to break the link to next line in mermaid js diagram?"
I have a long diagram with many nodes in mermaid js . Here is the sample code >>
graph LR
       A-->B
       B--Event1-->C
       C-->D
       D--Event2-->E
       E-->F
       F--Event3-->G
       G-->H
       H--Event4-->I
When the diagram is long the node size is decreased to fit into the screen sadly. In mermaid the links are either horizontal or vertical [ >> graph LR or >> graph TD ] . I ne

[2019-10-23 15:23] epower commented on #664
This might be a related issue (at least for Pandoc/Latex) https://gitlab.gnome.org/GNOME/librsvg/issues/428

[2019-10-23 16:46] knsv commented on #1024
Thanks @liyuanqiu, I will remove these.

[2019-10-23 17:41] knsv commented on #1023
I will make <br/> and <br> work even though they won't in plantUML. This is they work in sequence diagrams so it will be consistent in that sense.

New lines there are a bit trickier... will need to think about those, they will mess upp the grammar a bit as this:
[code]

is really the same as the code below when mermaid receives it. Should work will be poercieved as two new states.
[code]

[2019-10-23 17:45] Pyrolistical commented on #1023
Then you are missing an encoding step between the raw text and by the time mermaid gets it.

Makes me wonder if there's a security issue if there's a form of automatic interpretation of `\n`. What else is unintentionally interpreted?

[2019-10-23 17:58] forivall commented on #1023
PlantUML automatically interprets `\n`. (the escape character, not the literal ␤)

[2019-10-23 18:02] knsv commented on #1023
In this case it will be up to the integrator to handle the escaping but then br, br/ and \n could be supported.

[2019-10-23 18:54] ashishjain0512 opened #1027 "Update Pie Charts to render Legends and Percentage for each section"
**Is your feature request related to a problem? Please describe.**
The current Pie Chart only shows labels but gives no context of the percentage a particular section has.

**Describe the solution you'd like**
Pie Chart must render the percentage each section makes and for better UX and visibility the labels should be rendered separately as legends to accommodate long texts for labels as well.

[2019-10-24 05:22] MadMaxChow commented on #645
Fix the dislocation patch of mermaid when windows high DPI configuration.

Patch code:
[code]

Supporting basic environment information code:
[code]

[2019-10-24 12:51] #1009 closed

[2019-10-24 17:21] knsv opened #1029 "After effects from PR #1018"
The upgrade to new dagre-d3 from its master branch caused side effects in the form of cut flowcharts.

[2019-10-25 07:34] penenkel opened #1030 "IE11 Compatibility: IE throws syntax errors on mermaid.js"
I'm trying to use mermaid with an IE11 browser. Unfortunately the IE throws syntax errors when importing the mermaid.js script (also happens when importing mermaid.min.js). Apparently it is a lot more picky than modern browsers. I'm hoping that this can be fixed by tweaking the transpilation settings, but im no js expert.

I have haphazardly tried several of the newer mermaid versions 8.1, 8.4 fro

[2019-10-25 08:53] GDFaber commented on #1030
AFAIK IE11 does not support ECMA 6 nor promises (took the info from caniuse.com). I had to include bluebird and a fetch polyfill for c3.js to work properly in IE11, could there be any polyfills that take care of this for mermaid as well?

[2019-10-25 08:57] nothingismagick commented on #1030
It seems that https://github.com/knsv/mermaid/blob/master/babel.config.js is just transpiling for node (although I assume thats just for jest). One of the problems with switching e2e to cypress is that chrome is virtually es2018 compliant - and for IE11 arrow functions (among MANY, MANY other things) just don't exist. Although Cypress is awesome for compliance testing and visual diffing it is not

[2019-10-25 14:59] ashishjain0512 commented on #177
Keeping this open for fresh ideas for new diagrams to come in.

[2019-10-25 21:00] rajasekaran2003 opened #1031 "strict mode checks fails with latest version 8.4.0"
Error		Strict-mode does not allow duplicate property names: rankdir
Error		Strict-mode does not allow duplicate property names: padding

[2019-10-26 10:09] knsv commented on #1031
Thanks for reporting this. I will add some more rules to the code standard, for instance the no-dupe-keys.
https://eslint.org/docs/rules/no-dupe-keys

[2019-10-27 14:30] knsv opened #1033 "State diagrams does not handle newlines in notes properly"
New line of br wshould break to a new line in the rendered note.

[2019-10-27 18:10] benlk opened #1034 "In HTML context, neutral/null theme doesn't work; CSS injected via themeCSS doesn't take effect"
## Describe the bug
I've tried setting `theme: null` or `theme: "neutral"` to disable the pre-defined mermaid theme (https://mermaidjs.github.io/#/mermaidAPI?id=theme), and I've tried providing css for the `themeCSS` option in the config object passed to `mermaid.initialize()`.

However, the default theme is still applied, and the styles passed to `themeCSS` are not applied to the SVGs.

If I set

[2019-10-27 18:18] benlk commented on #1034
Might be related to https://github.com/knsv/mermaid/issues/746

[2019-10-27 19:17] knsv commented on #1034
Thanks for reporting!

To the one that looks into this. This is a good first issue. It would be nice to have rendering tests for each diagram type with different themes applies.

[2019-10-28 12:38] #1033 closed

[2019-10-28 13:29] IOrlandoni opened #1036 "Automatically lock merged pull requests"

[2019-10-28 13:32] IOrlandoni opened #1037 "We need an issue triage document"

[2019-10-29 05:53] kickbk opened #1038 "Letter "s" injected to the node ID"
This could be my implementation, but has anyone experienced having the letter "s" injected to the node ID starting with version 8.2?

[2019-10-30 13:46] csebille opened #1040 "Square shapes break chart parsing when there is a slash in the label"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. [Using a slash without quotes in a square box](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcbiAgICAgICAgY2hlbWluW1wiL3RoaXMvaXMvYVwiXSAtLT4gcFsvcGF0aF0iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ/error/UGFyc2UgZXJyb3Igb24gbGluZSAyOgouLi5zL2

[2019-10-31 17:14] SgtPooki commented on #372
The link is broken; https://mermaidjs.github.io/#/flowchart?id=interaction seems like the proper link now.

[2019-10-31 17:16] Dunning-Kruger commented on #372
@SgtPooki Hey, it seems like you're answering to a year and a half old issue/question. Feel free to open a new issue if you need any assistance. I'll lock this issue soon.

[2019-10-31 17:18] SgtPooki commented on #372
@Dunning-Kruger I was just updating the documentation since the info in this issue was no longer valid. I don't have a particular issue, but there is a bug with the click event. thanks for the quick response :)

[2019-10-31 17:26] Dunning-Kruger commented on #372
@SgtPooki  I appreciate the intention but issues are not an authoritative source of information. The link was valid at the time this issue was open and that is enough. Otherwise, we'd have a full-time job of keeping the ever-growing list of closed issues updated, or be flooded by notifications of comments "updating" closed issues.

As for the "bug with the click event", in case you're not talking

[2019-10-31 21:47] brychanrobot opened #1042 "class annotations make the parser very sensitive with indentation"
**Describe the bug**
As soon as annotations (added in #963) are added to a classDiagram, the parser becomes very sensitive about white space changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mermaidjs.github.io/mermaid-live-editor/#/view/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBTaGFwZXtcbiA8PGludGVyZmFjZT4-XG4gIG5vT2ZWZXJ0aWNlc1xuICBkcmF3KClcbn1cbiIsIm1lcm1haWQiOnsidGhlbWU

[2019-10-31 22:12] brychanrobot opened #1043 "Class diagram parser breaks depending on length of content between brackets"
**Describe the bug**
Here's a sample. Just add or remove letters from the content between brackets.

https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBGb297XG4gIGJhcigpOmxpc3Q8Q0hBTkdFVEhJUz5cbn0iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

**To Reproduce**
Steps to reproduce the behavior:
1. Open sample above.
4. Add or remove letters from the content be

[2019-10-31 22:21] chris579 commented on #1043
Can't reproduce in the live editor with 8.4.0. Which mermaid version did you use?

[2019-11-01 09:41] tmatz opened #1044 "Multiple class diagrams are not rendered correctly"
**Describe the bug**

When there are multiple class diagrams in a same page, diagram's layout break.

**To Reproduce**

Following markdown code:

[code]

Result is this (Visual Studio Code + Markdown Preview Mermaid Support extension):

![image](https://user-images.githubusercontent.com/4199487/68015799-57568680-fcd6-11e9-997f-63a57764e262.png)

**Expected behavior**

Second diagram should be same

[2019-11-01 13:41] Dunning-Kruger commented on #1044
I believe this is not an issue with the library but of how the extension uses it.
If you have any extra information, we'd be happy to help.

[2019-11-01 13:45] Dunning-Kruger commented on #1043
Yeah, there's something weird. The length of the word between brackets breaks or not the parser.
Here's a sample. Just add or remove letters from the content between brackets.

https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBGb297XG4gIGJhcigpOmxpc3Q8Q0hBTkdFVEhJUz5cbn0iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

[2019-11-01 13:48] Dunning-Kruger commented on #1043
Edited the title and opening post so it's clear for whoever wants to pick the issue up.

[2019-11-01 13:51] chris579 commented on #1043
Right, that must be a flaw in the parser definition I added. Gonna grab this one.

[2019-11-01 13:56] Dunning-Kruger commented on #1042
Duplicate of #1043.

[2019-11-01 13:56] #1042 closed

[2019-11-01 13:58] Dunning-Kruger commented on #1043
@chris579 You're right. Also, note that this only occurrs when there is an annotation that uses `<>`

[2019-11-01 14:00] chris579 commented on #1043
Yep, there's a connection between that. This does also happen when using two brackets. Strange stuff going around.

[2019-11-01 15:20] dak commented on #1038
It looks like this issue was introduced in 8.2.4 with the BREAKING CHANGE (why was this not a minor update?) that IDs could not be numbers. Also, what was the point of that change?

[2019-11-01 15:23] Dunning-Kruger commented on #1038
It might be a bug, not an intentional change. Could you provide some steps to reproduce the issue on the live editor?

[2019-11-01 15:25] dak commented on #1038
@Dunning-Kruger we just debugged this and are rushing out a fix, but I'll try to provide a simple test case. From our perspective, we were generating a uuid (at least for nodes), so sometimes, but not always, the id would get prepended with an 's' and subtly break.

[2019-11-01 15:42] tmatz commented on #1044
Unfortunately, this is bug of this library.

I already have fixed this bug in my clone repository, and confirmed the vscode extension works correctly.

I'm looking how to implement test for multiple diagram.

This bug seems have fixed once at #832, but re-introduced by #795.

[2019-11-01 15:47] Dunning-Kruger commented on #1044
@tmatz You could do an e2e test. Check [the guide](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md) for some pointers . People might also be able to help you out or point you in the right direction [on slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQxOTI2OTg4YmE1ZmJkY2Y4MTU3ODliYmIwOTY3NDJlYjA0YjIyZTdkMDMyZTUwOGI0NjEzYmEwODcwOTE).

[2019-11-01 20:12] penenkel commented on #1030
So, is it feasible to change the transpilation settings? Or do I have to figure out a solution on my end?

I can certainly understand not wanting to support ancient legacy browsers, unfortunately there are still some situations where the IE cannot be avoided :/

[2019-11-02 15:37] klemmchr opened #1046 "Update NPM readme"
As the Readme got reworked with #1045 it also needs to be updated on [npm](https://www.npmjs.com/package/mermaid). The images are broken currently because they are referenced by a relative path. They might need to be replaced with an absolute url.

[2019-11-02 17:12] chris579 commented on #1046
Maybe we also should automate that. A little workflow updating the readme on npm when the readme in the repo changes.

[2019-11-03 13:11] chris579 opened #1048 "Create workflows for commits, prs and releases"
To simplify the way of working there should be workflows for subsequent builds of commits and prs. This will replace travis after some time and testing. This follows the strategy to move to GitHub Actions.
The workflow should include a matrix build for node `10` and `12` (optionally also `8` as long nothing breaks for that).

Additionally there should be a workflow for publishing releases to npm.

[2019-11-03 14:07] chris579 commented on #1043
Tried to reproduce this on latest `development` and failed to do so. I modified the length of the annotation string, added whitespaces to the class and the member names. Can someone reproduce this?

[2019-11-05 10:48] dennisvandenende commented on #586
tylerlong write it is not common use. But i disagree. For example to create a subflow as a sidestep.
As it is now it will be one long row to the left or bottom.
But a flow to the left van have a sidestep down.

For example something like this:
graph LR
    one.a1-->three.a1
    subgraph one
    a1-->a2
    end
    subgraph two
    b1-->b2
    end
graph BR
    subgraph three
    b2-->d1
    d1-->d2

[2019-11-05 12:45] Dunning-Kruger commented on #586
Hey, you're commenting on a closed issue. Feel free to open a new issue if the problem still persists.

[2019-11-06 08:32] georgelichen opened #1051 "In a workflow graph, how to show text under a shape (like rectangle)?"
Currently the text can be displayed in the center of a step shape (let's say a rectangle) in a workflow graph.  In addition to showing the name of the step, sometime I need to show some additional information, like the step execution time, under or above the shape.  How can I achieve this?

[2019-11-06 11:47] ramirlm commented on #866
I wanna help you guys! Awesome project!! Joining slack channel

[2019-11-06 12:45] queses opened #1052 "Add `package` to class diagram"
**Is your feature request related to a problem? Please describe.**

Hello! *Иon-native English speaker warning*

I'm relative frequently drawing class diagrams. For now I'm using MagicDraw but I would like to try text-to-scheme solution.

I like your syntax for class diagrams and I would be very happy to use it for my work but I frequently using `packages` in my schemes. Like `class A` goes to `pa

[2019-11-06 12:48] Dunning-Kruger commented on #1052
Perhaps namespace instead or package?

[2019-11-06 12:57] queses commented on #1052
Well, I just sticked to MagicDraw and Java terms. Its absolutely okay if this thing will be called "namespace"

[2019-11-06 13:03] chris579 commented on #1052
How does this look in MagicDraw? Could you provide a screenshot of the resulting diagram?

[2019-11-06 19:14] knsv commented on #1023
Part of release 8.4.1

[2019-11-06 19:14] #1023 closed

[2019-11-06 19:14] knsv commented on #1022
Part of release 8.4.1

[2019-11-06 19:14] #1022 closed

[2019-11-06 19:14] knsv commented on #1027
Part of release 8.4.1

[2019-11-06 19:14] #1027 closed

[2019-11-06 19:14] knsv commented on #1029
Part of release 8.4.1

[2019-11-06 19:14] #1029 closed

[2019-11-06 19:14] knsv commented on #990
Part of release 8.4.1

[2019-11-06 19:14] #990 closed

[2019-11-06 19:14] knsv commented on #990
Part of release 8.4.1

[2019-11-06 19:15] knsv commented on #1024
Part of release 8.4.1

[2019-11-06 19:15] #1024 closed

[2019-11-06 19:36] Dunning-Kruger commented on #1051
@georgelichen Could you provide a base sample in the live editor and a crude image of what you're trying to achieve?

[2019-11-06 22:40] georgelichen commented on #1051
Here is an sample graph.  My goal is to show additional information under each "Task*" node.  Please help me about this.
 Thank you.
https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcbiAgICBBW1Rhc2sxXSAtLT58VGV4dHwgQihUYXNrMilcbiAgICBCIC0tPiBDe0RlY2lzaW9ufVxuICAgIEMgLS0-fE9uZXwgRFtUYXNrM11cbiAgICBDIC0tPnxUd298IEVbVGFzazRdIiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1bHQifX0

[2019-11-07 08:16] queses commented on #1052
Well there is two packages - "Специалист" ("Specialist") и "Ядро" (Core). There are modules in my app.

![image](https://user-images.githubusercontent.com/14962059/68371444-8c445c80-0160-11ea-861a-198e8b6f4b8c.png)

[2019-11-07 09:04] chris579 commented on #1052
Cool, that might be a slightly bigger task, if someone is up to grab it. Should packages be nestable?

[2019-11-07 09:26] queses commented on #1052
As for my task it's not required, because I use them as modules. Modules in my applications structure shouldn't be nested. However I believe that somebody would be happy with nested packages.

So, answering your question - I think that it depends on how hard it will be to implement nested modules. If it creates significant technical complexity then don't do it :)

[2019-11-07 12:47] knsv commented on #1038
Is there a fix in the horizon, if not I will look at this. Please let me know.

[2019-11-07 15:39] knsv commented on #1038
The underlying reason for this issue if that the ids for nodes in the graph is used as element ids in the generated SVG and css selectors is not allowed to start with a number. I don't want to disallow this ids starting with numbers as this would break graphs for end users and potentially break existing documentation out there.

**I strongly discourage grammar changes that break existing diagrams*

[2019-11-07 17:37] ashishjain0512 commented on #1051
@georgelichen This is not supported right now. How do you intend to use it, like a short single line or more like text block? Also, could you suggest how the syntax should look like?

[2019-11-07 18:58] erelling opened #1053 "Easier and more contextualized documentation"
Not being a frontend developer, I sometimes find the documentation is geared towards a skillset I haven't got.

I find mermaid to be an amazing tool but often find I need a bit more context and getting-started hints.

[2019-11-07 19:25] chris579 commented on #1053
Thanks for your issue. It would be awesome if you could enhance the docs so they provide more value from a beginner aspect. You self assigned this issue, so I assume you want to work it out?

[2019-11-07 19:41] erelling commented on #1053
Yes, will do!

[2019-11-07 19:45] chris579 commented on #1053
Awesome! Make sure to have a look at our [contributing guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md).

[2019-11-08 00:11] jgreywolf commented on #770
As far as I can tell this is no longer an issue with 8.4.1.  @thekalinga can you validate that what I tried matches what you are trying? [Live Editor](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBTaGFwZXtcblJlYWN0aXZlSHR0cElucHV0TWVzc2FnZSA6IEZsdXg8RGF0YUJ1ZmZlcj4gZ2V0Qm9keSgpXG59XG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ)

[2019-11-08 02:05] KeisukeYamashita opened #1054 "How can I remove the <style> mermaid-svg-internal-css in the svg?"
## What

I want to remove the `<style ... title="mermaid-svg-internal-css />` in the `svg`.

How can I do that?

Thank, you.

[2019-11-08 06:23] knsv commented on #1038
Part release 8.4.2, please verify and reopen if problem remains.

[2019-11-08 06:23] #1038 closed

[2019-11-08 14:29] georgelichen commented on #1051
Thank you for the reply.  Multi-line text would be better to show under the node.  Regarding the syntax, we could put the text after the node notation.  And it seems character `  is rarely used, we could take advantage of it to separate the lines of a multiple line text.  The text in the node and on the line can also take advantage of this delimiter to separate lines.  Based upon this idea, the ex

[2019-11-08 17:23] kickbk opened #1055 "Letter "s" injected to the node ID - continued"
You locked my older post https://github.com/mermaid-js/mermaid/issues/1038#event-2781832932 and only allowed collaborators to reopen. Just letting you know we will not be using the new version, for now. Really appreciate your efforts working on this wonderful lib, but your solution only works partially. You prepended a `mermaid-dom-id`- to the IDs. It's more of a change than a bugfix/solution.

[2019-11-08 18:02] #1044 closed

[2019-11-08 18:52] knsv commented on #1055
Sorry, the locking is done by automation.

It is is your call if you use the latest version or not. The current solution will work fine unless the author of the diagram calls its id "mermaid-dom-id" and happends to have an existing id with the same name as in

[code]

This diagram would render an arrow to itself...

Good news though as I think I know a way to fix this with better selectors. Let ke

[2019-11-08 21:56] mfaujour opened #1056 "mermaid installation problem"
running in this problem :

[code]

server :
[code]

[2019-11-09 13:01] MaanasArora commented on #1040
Can I help with this issue?

[2019-11-09 13:46] chris579 commented on #1040
@MaanasArora Sure! I assigned this issue to you. Feel free to make the needed changes and just create a pr afterwards. Please notice our [contributing guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md) and feel free to join our Slack if you need some assistance. The invite link is at the end of the contributing guidelines.

[2019-11-09 15:21] volkanunsal opened #1057 "Error parsing stateDiagram"
**Describe the bug**

Trying to use the new `stateDiagram` and running to the following error:

[code]

This is my diagram file:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Include "volkanunsal/mermaid#build" and "volkanunsal/mermaid.cli#build" in your dependencies
2. Run `yarn`
3. Create a file called `foo.mmd` and include the stateDiagram description above
4. Run `mmdc  -i foo.

[2019-11-09 15:57] volkanunsal commented on #1057
I think this was fixed by 8.4.2.

[2019-11-09 15:57] #1057 closed

[2019-11-11 07:03] Baudin999 opened #1058 "Class Diagram scales to fit."
Thank you for the wonderful product and adding the class diagram feature!

I have a question on the `svg` size on the page. I am looking for a way to size the `svg` to the actual size of the diagram I'm rendering. I am currently losing parts of the diagram and it blows up really big on my page.

Please let me know if there is more information I could provide. I think it might be something I am doi

[2019-11-11 08:05] Shanmugapriya001 opened #1059 "Mermaid Sequence Diagram is not rendered in script"
When I try sequence diagram  from function that renders an svg with a graph from a chart definition. Sequence diagram is not rendered.
Here is the sample code:
<script>
mermaid.initialize({
     startOnLoad:true
 });
 $(function(){
     var graphDefinition = 'sequenceDiagram \nparticipant Browser';
     console.log(graphDefinition);
     var cb = function(svgGraph){
         console.log(svgGraph);

[2019-11-11 09:10] jackycute opened #1060 "Date might cause infinite loop"
**Describe the bug**
We found mermaid might fall into a infinite loop when the syntax contains some kind of date.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://mermaidjs.github.io/mermaid-live-editor
2. Paste below example:

[code]
3. the page freeze

**Expected behavior**
Should render the diagram or showing some error instead of freezing the page.

**Screenshots**
If applic

[2019-11-11 12:41] chris579 commented on #1056
Which version of node are you using? I would guess `8.10` from the output. Currently there is no active support for node `8`, however you could try to install node `8.12` like stated in the output.

[2019-11-11 16:06] ChristopherStryker opened #1061 "Cannot mark members as protected in classDiagram"
Attempting to mark a member as protected in a class diagram by using the octothorpe (hash) character causes the graph to not render. I'm attempting this based on the [classDiagram documentation](https://mermaidjs.github.io/#/classDiagram?id=visibility).

Specifically, the following code:

    classDiagram
    class MyClass
    MyClass : #mytest

Causes the following error:

    Parse error on line

[2019-11-11 16:12] Dunning-Kruger commented on #1061
The documentation shows to use `#` for protected. I assume this SHOULD work as the opening post suggests. Kept as bug.

[2019-11-11 17:13] Dunning-Kruger commented on #581
This has been supported for a while. [Sample here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkFbL0NocmlzdG1hcy9dXG5cbiIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In19).

[2019-11-11 17:13] #581 closed

[2019-11-11 17:16] Dunning-Kruger opened #1062 "Parallelogram shaped nodes are not in documentation"
Parallelogram nodes are supported but not shown in the documentation.
[Sample here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkFbL0NocmlzdG1hcy9dXG5cbiIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In19).
[Docs here](http://mermaid-js.github.io/mermaid/#/flowchart?id=nodes-amp-shapes).

[2019-11-11 17:22] Dunning-Kruger commented on #1043
It cannot be reproduced on latest version.

[2019-11-11 17:22] #1043 closed

[2019-11-11 19:04] jgreywolf commented on #1061
Interestingly, if you define the class with members inside of {}, this error does not happen. So it only appears to be when you are adding members individually

[code]

[(Live Editor)](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBCYW5rQWNjb3VudHtcbiAgK1N0cmluZyBvbndlclxuICArQmlnRGVjaW1hbCBiYWxhbmNlXG4gICNkZXBvc2l0KGFtb3VudClcbiAgK3dpdGhkcmF3bChhbW91

[2019-11-11 21:29] GDFaber commented on #1062
I'd like to add this to the docs, should get to it this weekend.

[2019-11-12 00:41] jgreywolf commented on #999
Besides using upper case letters you can also remove the "punctuation" character (the `-`), or add another character to the beginning or end of the text "style".

Not great options, to be sure.
But just some things I noticed while investigating

[2019-11-12 06:15] kRyM1337 commented on #866
this looks fun! I need all the JavaScript in my life right now, and this would be my first open source collaboration! Thanks for starting this, and it gives me ideas and inspiration to do the same in the future.

[2019-11-12 08:09] chris579 opened #1063 "Generic type support for class diagrams"
I want to be able to define a generic class in class diagrams. This currently breaks because the parser doesn't allow `<` or `>` in the class name.

[code]

[Live editor example](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBUZXN0PFQ-IHtcbisgdGVzdDogaW50XG59XG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ/error/UGFyc2UgZXJyb3Igb24gbGluZSAyOgouLi5zc0RpY

[2019-11-12 11:42] FransBouma opened #1064 "Click event on a node in a classDiagram"
Hi,

(using 8.4.2)

The documentation doesn't mention any 'interaction' section for classDiagram (or I have overlooked it ;) ) and the syntax for flowDiagram nodes on a classDiagram apparently doesn't work:

[code]

This results in the error:
[code]
however I can't find the right syntax, or is this feature not supported on classDiagrams?

TIA!

[2019-11-12 12:15] chris579 commented on #1064
I'm not aware of any interaction logic for class diagrams. However, if there is some logic for that in flow diagrams, it could be ported over.

[2019-11-12 13:06] ChristopherStryker commented on #1061
jgreywolf, that's good to know. Unfortunately, I can't use the {} syntax at this time due to a GitLab bug: https://gitlab.com/gitlab-org/gitlab/issues/35584

[2019-11-12 13:31] chris579 commented on #1061
Regarding your filled issue, the errors you described there are associated to older versions of mermaid. GitLab needs to update their mermaid version to resolve this issues. Especially the one with the reversed property order. That has been resolved in 8.3 I think.

[2019-11-12 13:34] ChrisStrykesAgain commented on #1061
Changing accounts, as I was signed in to the wrong one previously. Sorry for any potential confusion.

I assumed that GitLab needs to update their mermaid version to resolve the {} issue (and a couple others), but the original post still reproduces using the latest mermaid live editor, as linked.

[2019-11-12 13:42] ChrisStrykesAgain commented on #1061
Sorry for the double post, but as of this morning, the `#35;` workaround doesn't seem to work, unless I'm inept. [Mermaid Live Editor](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBBY3RvclxuICAgICBBY3RvciA6ICMzNTtBY3RvckNvcmUoKSIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In19/error/UGFyc2UgZXJyb3Igb24gbGluZSAzOgouLi4gQWN0b3IgICAgIEFjdG9yIDogIzM1O0FjdG9yQ29

[2019-11-12 16:07] crusty opened #1065 "Possibly incorrect dagre-d3 version in package.json"
Hi,
I'm experiencing an issue while trying to install version ~8.4 via npm.

Let me expose it in an empty environment:
`sudo docker run --rm -it node:12.3-alpine sh -c "npm i -g --loglevel verbose mermaid@~8.4"`

This unfortunately results in:

[code]

This issue might be related with: ca5e60b38b98448695d1a00ce1bdd1feeefa046d, since the version specified here is not numerical.

[2019-11-12 16:37] mfaujour commented on #1056
mik@mermaid:~$ node --version
v8.10.0

ok, i will try to install a more recent node version.

[2019-11-12 17:23] jgreywolf commented on #1061
I dont think you are inept.  I would be surprised if this works, since it still starts with "#" which is defined as PUNCTUATION in the code :)

I am going to continue looking into this, in my attempts to get a better understanding of the mermaid code.  Maybe I can even contribute ;)

[2019-11-12 17:26] chris579 commented on #1061
@jgreywolf great, can't wait for your contribution! Until then, I assigned that issue to you so nobody grabs it. Make sure to have a look into our [contributing guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md) and join our Slack if you need assistance. You can find the invite link at the bottom.

[2019-11-13 09:17] peetervois commented on #552
The change is going to be published soon. Stay tuned.

[2019-11-13 09:24] KendokaM commented on #1065
###**+1**

[2019-11-13 13:14] knsv commented on #1065
I am having issues reproducing this without docker).

First I thought this might be related to you using node 12 as we do not officially suppott that yet so I tries first with node 10 and then with node 12 on macos.

Here with node v10
![image](https://user-images.githubusercontent.com/5837277/68766241-6214f380-05d3-11ea-89d7-9b7db6b8d8b5.png)

Then I tried with node v12.
![image](https://user-ima

[2019-11-13 14:53] ginger-tek opened #1066 "Parse method does not return a boolean"
**Describe the bug**
The `mermaid.parse()` method is supposed to return a boolean when passed a string of mermaid markdown, but it is instead returning `undefined` for valid markup, and an `Uncaught` error on invalid markup.

**To Reproduce**
`mermaid.parse('graph TD\n')` = returns `undefined`
`mermaid.parse('graph TD\n{')` = returns `Uncaught {str: "Parse error on line 1...`

**Expected behavior*

[2019-11-13 15:02] simpltek commented on #959
Just a thought, but with certain graphs and fonts, zooming in and out seems like it might require a re-render if the font scaling doesn't match up with the SVG element scaling, no?

[2019-11-13 15:02] chris579 commented on #1066
Right, the docs are not matching the [implementation](https://github.com/mermaid-js/mermaid/blob/master/src/mermaidAPI.js#L335). There is no sign of returning a boolean. It would make sense to return a boolean in the first place, however the thrown error contains the information about the parser error.

If you would change the method in a way that it returns a bool and doesn't throw an exception,

[2019-11-13 15:07] simpltek commented on #988
Are you viewing this on a High DPI screen? Maybe the crispness is not visually accurate on non-High DPI screens :/

[2019-11-13 15:25] chris579 commented on #1065
This is reproducable with `node:12.3-alpine` and `node:12.3-slim` but not in `node:12.3`. This basically happens because `git` is missing in `alpine` and `slim` but not in the full docker image. Installing git manually before installing mermaid works fine too.

I'm just curious why this happens? It should grad `d3` from npm, shouldn't it?

[2019-11-13 15:27] simpltek commented on #1066
I see what you mean, but having the ability to return both boolean and error info would be great. Maybe the return value can either be an object instead? That way you can still easily implement simple checking, but still get detailed error info upon invalid markup.

The object would probably be something like this, with a nullable error property :
[code]

For example:
[code]

[2019-11-13 15:32] chris579 commented on #1066
Still the `parse` function would throw an exception (because removing that would be a breaking change). Regarding execution flow, it would stop if you don't catch the exception. And if you catch it, you automatically know that the parser failed. Imo that's a suitable solution that would also fit the code you posted (if you change it a bit).

[2019-11-13 23:15] stevenengler commented on #988
It's 1080p, but I think that only makes the problem more noticeable; it would still be incorrect on higher resolutions. It would be fine if all of the lines were rendered in the same way, but since only the browser can control that, my recommendation would be to render them normally.

[2019-11-14 09:14] RobCoPKC commented on #644
+1 would make mermaid-js even more useful

[2019-11-14 17:13] simpltek commented on #1066
Hmm, then maybe this method shouldn't really be sold as a validation check, or the docs should say that *you* need to use a try catch to return what you want to return. That, or just make a separate method called `validate()` implementing a try catch around `parse()` specifically for validation checking only, which would return something similar to what I wrote above

[2019-11-14 18:20] chris579 commented on #1066
You're right, I also consider that to be a flaw in the docs. I like the idea of a separate method, that could be handy. Will implement that.

[2019-11-15 10:49] sulabh-msft opened #1068 "FlowChart: Node text is getting clipped in chrome for browser zoom <100%"
**Describe the bug**
FlowChart: Node text is getting clipped in chrome for browser zoom <100%

**To Reproduce**
Steps to reproduce the behavior:
1. In Chrome browser, go to [Flowchart demo live editor](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkFbQ2hyaXN0bWFzXSAtLT58R2V0IG1vbmV5fCBCKEdvIHNob3BwaW5nKVxuQiAtLT4gQ3tMZXQgbWUgdGhpbmt9XG5DIC0tPnxPbmV8IERbTGFwdG9wXVx

[2019-11-15 14:58] lukewlms commented on #47
This doesn't work in the Live Editor, version 8.4.2.  Ideas?

Very simple diagram:

[code]

Result:

[code]

[2019-11-15 15:25] lukewlms opened #1069 "Repeatable freeze: adding new class before other class in classDiagram in Live Editor"
**Describe the bug**
While adding a new class in the Live Editor, the editor freezes.  Repros on Chrome and Firefox (latest versions).

**To Reproduce**
Steps to reproduce the behavior:
1. in Live Editor, add this simple classDiagram:

[code]

2. Between classDiagram and class Foo (one newline before and after, if that matters), start typing `class Bar {}`

So, you're trying to achieve:

[code]

*

[2019-11-16 00:56] dchjmichael commented on #1052
Desperately need this feature 😂

[2019-11-17 16:45] GDFaber commented on #1062
Done, my PR is in #1070.

[2019-11-18 04:05] damiandennis opened #1071 "Dependency on github lib dagrejs/dagre-d3"
Hey,

Could we possibly get the dependency changed from a github repo to an rpm lib "dagrejs/dagre-d3".
The main reason I am having issues with this is I am behind a corporate firewall and we have an internal repo for npm but nothing that caters for github dependencies. I hope this is not a big ask.

Thanks

[2019-11-18 06:31] chris579 commented on #1071
Duplicate of #1065

[2019-11-18 06:31] #1071 closed

[2019-11-18 08:15] #1056 closed

[2019-11-18 12:20] yoyomule opened #1072 "display associated information when the mouse is moved over"
I hope it will support the ability to display associated information when the mouse is moved over the flowchart icon.Thanks

[2019-11-18 12:22] yoyomule commented on #1051
Very useful requirements, which are useful for enriching the associated information of a flowchart.

[2019-11-18 13:39] Dunning-Kruger commented on #1072
Which graph are you referring to?
Also, how do you imagine the syntax to define the "associated information"?

[2019-11-18 13:41] #1062 closed

[2019-11-18 13:48] Dunning-Kruger opened #1073 "Comments don't work on class diagrams"
[This](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG4lJSBhc2RcbmNsYXNzIEJhciB7XG59XG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ/error/UGFyc2UgZXJyb3Igb24gbGluZSAyOgpjbGFzc0RpYWdyYW0lJSBhc2RjbGFzcyBCYXIge30KLS0tLS0tLS0tLS0tLS0tLS0tXgpFeHBlY3RpbmcgJ0NMQVNTJywgJ0FOTk9UQVRJT05fU1RBUlQnLCAnTUVNQkVSJywgJ1NFUEFSQVRPUicsICdVTklDT0RFX1RFWFQnLCAnTlVNJywgJ0FMUEhBJywgZ

[2019-11-18 13:48] crusty commented on #1065
I think it shouldn't be done in this way, especially that:
1. The dependency version can be marked as "at least" (ie. >=version)
2. I haven't noticed the practice of requiring git for any other node modules.

This would essentially make any slim and alpine docker images useless for anyone who uses mermaid for their project.

[2019-11-18 13:50] Dunning-Kruger opened #1074 "Comment syntax is not in documentation"
Original issue with the implementation of comments: [here](https://github.com/mermaid-js/mermaid/issues/47).

`%% Comment`

[2019-11-18 15:20] chris579 commented on #1065
That requires that the package is available on npm which isn't the case. Like I mentioned already the latest release of dagre-d3 is one year old.

I agree that this is bad practice. Especially for docker users and as most builds these days are done in slim or alpine docker images this is a bad thing too. Also this is trappy for enterprise users sitting behind a restrictive firewall like in #1071.

[2019-11-18 15:30] nothingismagick commented on #1065
I might be indirectly to blame, as I raised the issue in this discussion:
https://github.com/mermaid-js/mermaid/issues/990

[2019-11-18 16:12] chris579 commented on #1065
@nothingismagick  Well, it passed the review so no blame here. However, I would be glad if you could take this issue and search a solution that doesn’t involve referencing GitHub packages.

[2019-11-18 16:27] nothingismagick commented on #1065
It does seem a bit strange that the changes to dagre-d3 were merged, but no release since 2017!!!

If this doesn't get resolved I see two options: import it as a git submodule (which might actually have the same / similar / worse issue in docker) or flat-forking the repo and binding the source into mermaid itself (which is an option I don't like either...)

[2019-11-18 18:03] chris579 commented on #1065
Yeah, that are really bad options. Either way we have the source with us which is a PITA. Plus, Submodules are a nightmare. The question is how fast we need to react to this issue. We now have at least 2 confirmed users that have a setup that they are affected. @knsv @Dunning-Kruger whats your opinion on that? I would say like 2 weeks, maybe contact the author via mail, he's a Microsoft employee s

[2019-11-18 18:06] nothingismagick commented on #1065
Alternative would be to fork and publish master to npm as dagre-d3-mermaid.
If that's wanted, I can do it tonight.

[2019-11-18 18:07] chris579 commented on #1065
I thoght of that but I consider that as the worst solution because then we need to maintain another repo.

[2019-11-18 18:12] Dunning-Kruger commented on #1065
The unofficial publication of dagre-3d would be my choice, under a name such as "dagre-3d-unofficial" or something like that, making it **VERY** clear that it is not an official release.

Maintaining it should not be an issue: all we do is point people to the official repo. If we need to, we can pull changes from upstream and re-release (but this should be rare, I guess).

I would keep the fork in

[2019-11-18 18:14] chris579 commented on #1065
Alright, so what's the time schedule then? @nothingismagick already commented on the pr, so wait a week, contact via mail, wait another week, create the fork?

[2019-11-18 18:29] nothingismagick commented on #1065
Let's create it right now. The PR was merged a month ago and people have
broken installations right now. As soon as upstream gets published we can
go back.

On Mon, 18 Nov 2019, 19:14 Christian Klemm, <notifications@github.com>
wrote:

[2019-11-18 23:20] keenanjt33 commented on #1063
New contributor here! I'm interested in taking this on. Looks like the grammar in _flow.json_ will need to be added to.

[2019-11-19 00:31] CAFxX commented on #1006
Another example of erratic edge behaviors:

- on the left, edge overlaps unrelated node
- on the right, two edges gratuitously cross and overlap

![image](https://user-images.githubusercontent.com/408018/69105662-53d14680-0aaf-11ea-971f-06411dfbe385.png)

[code]

[2019-11-19 00:56] Dunning-Kruger commented on #1063
@keenanjt33 Don't forget to check the [contribution guide](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md) and [join us in slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQxOTI2OTg4YmE1ZmJkY2Y4MTU3ODliYmIwOTY3NDJlYjA0YjIyZTdkMDMyZTUwOGI0NjEzYmEwODcwOTE) if you need any pointers/help. Leave a comment when you're sure you'll work on it and we'd

[2019-11-19 06:14] chris579 commented on #1063
This issue is about class diagrams, not flow diagrams.

[2019-11-19 19:50] klemmchr opened #1076 "Remove jest packages"
I think jest-environment-puppeteer, jest-image-snapshot and jest-puppeteer could be removed

_Originally posted by @knsv in https://github.com/mermaid-js/mermaid/pull/1049#pullrequestreview-319266591_

[2019-11-19 20:28] knsv opened #1078 "arrowMarkerAbsolute not set properly"
When flowcharts are generated the arrow markers are always set to absolute. Se the example below where the url is set to the full url by default:
[code]
The proper behaviour is as per the documentation to have the marker urls set to relative as per below:
[code]

This can cause issue rendering the arrows in some contexts.

[2019-11-19 20:30] klemmchr opened #1079 "Add docs for workflows"
Add some docs for workflows.

[2019-11-19 21:31] arimus opened #1082 "Supporting documentation for Angular 2.x use / consider removing dependency"
**Is your feature request related to a problem? Please describe.**
Integration of mermaid into an Angular 2.x project may result in an error like:

[code]

This can be resolved by polyfill'ng adding the following to polyfills.ts:

[code]

Note that all of this is due to 'crypto-random-string' which relies on 'crypto' which pulls in a bunch of wedges intended to emulate node libs in the browser, so

[2019-11-20 00:02] RangerMauve commented on #625
Any opposition to including emoji in the unicode text range? Basing this off of [this GH issue](https://github.com/diasks2/pragmatic_tokenizer/issues/20#issuecomment-374352212) and looking at the code for parsing [UNICODE_TEXT](https://github.com/mermaid-js/mermaid/blob/51e902cd36430be1fb6ea0d15bfe789bc690ed7e/src/diagrams/flowchart/parser/flow.jison#L102) tokens.

[2019-11-20 00:03] jgreywolf commented on #1073
Interestingly - if you remove the `%%` before the comment, it does work (meaning, the diagram renders, and the text does not display)

[See here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5hc2RcbmNsYXNzIEJhciB7XG5pbnQgbWVtYmVyXG59XG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ)

[2019-11-20 00:07] jgreywolf commented on #891
@GDFaber

Could you please reproduce the issue in https://mermaidjs.github.io/mermaid-live-editor/ and post a link back here? In my testing I am not seeing a big distinction between when the hover happens for the link/action

[2019-11-20 07:51] knsv commented on #1082
It should be possible to replace crypto-random-string.

[2019-11-20 11:56] GDFaber commented on #891
Hi @jgreywolf, I have provided a minimal example here:

https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkN7TGV0IG1lIHRoaW5rfVxuY2xpY2sgQyBcImh0dHA6Ly93d3cuZ29vZ2xlLmNvbVwiXG4iLCJtZXJtYWlkIjp7InNlY3VyaXR5TGV2ZWwiOiJsb29zZSIsInRoZW1lIjoiZGVmYXVsdCJ9fQ

My point is that you should be able to click on the node on any position to open the URL, but that does only happen w

[2019-11-20 12:43] tjrobinson commented on #1082
We are facing a similar issue with Angular 8.

The error is:

[code]

We have worked around it for now by adding this to the `package.json`:

[code]

Based on this suggestion for a similar problem in another library: https://github.com/iden3/snarkjs/issues/17#issuecomment-497218961

To explain the workaround:

`mermaid` has a dependency on `crypto-random-string` (which is only used for the git gra

[2019-11-20 13:37] Dunning-Kruger commented on #891
I agreed with that, so I left it as a bug. If not, we'll move it over to "enhancement".

[2019-11-20 13:50] lukewlms commented on #1073
@jgreywolf Interesting workaround!  I'm not confident that will continue to work long-term though.  For now we're checking comments into code at the top, but not pasting them in when we render.  Would be convenient to be able to intersperse comments where appropriate as spec'd.

[2019-11-20 13:52] Dunning-Kruger commented on #1073
I think, assuming it's feasible, all graphs should share the comment syntax.

[2019-11-20 15:55] RangerMauve commented on #625
Started playing around with the idea here: https://github.com/RangerMauve/mermaid/tree/emoji

[2019-11-20 16:03] Dunning-Kruger commented on #625
@RangerMauve Join us [in slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQxOTI2OTg4YmE1ZmJkY2Y4MTU3ODliYmIwOTY3NDJlYjA0YjIyZTdkMDMyZTUwOGI0NjEzYmEwODcwOTE) if you need some help/feedback/answers and be sure to read the [contribution guide](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md)!

[2019-11-20 18:23] arimus commented on #1082
So, in my case it actually fetches the crypto-browserify dep when it detects a browser environment. And clearly tries to do the same all the way down the chain, however these browser deps don’t seem to bring their own polyfills or move on when they don’t have access to a few things. Apparently, some of this is related to webpack version, which used to auto provide global, etc. Either way, it’s klu

[2019-11-20 19:09] chris579 commented on #1082
I think you don't intended to close this issue.

[2019-11-20 19:15] #1048 closed

[2019-11-20 20:06] chris579 opened #1085 "Coveralls not working for GitHub builds"
Coveralls not working for GitHub builds when created from a fork.

[2019-11-20 21:16] arimus commented on #1082
@chris579 Indeed. Oops! Was on a temp phone when I commented...and must have clicked the wrong button. That's a first for me. My apologies!

[2019-11-21 02:58] Dunning-Kruger commented on #1085
[This issue](https://github.com/coverallsapp/github-action/issues/7) in the action's repo might be relevant.

[2019-11-21 05:57] Grenston commented on #431
the arrow head is not changing colour
i used
`linkStyle default fill:none,stroke-dth:4px,stroke:red`

[2019-11-21 13:32] Dunning-Kruger commented on #431
Hey, @Grenston. Appreciate the report but you're commenting on an old closed issue. Feel free to open a new issue if necessary!

[2019-11-21 19:08] jgreywolf commented on #891
Thanks @GDFaber When I tried to reproduce with a rectangle there was hardly any space left over to see the issue :)

[2019-11-21 20:02] jgreywolf commented on #1073
Im working on this one :)

[2019-11-21 21:22] #1085 closed

[2019-11-21 22:28] jgreywolf commented on #1073
I should say, I have started looking at this one.  Still trying to wrap my head around the logic flow within Jison, and how things are actually being parsed.  Porting functionality from flowcharts, but doesnt appear to be an easy mapping :)

[2019-11-22 07:13] jianghu-coding opened #1087 "how to change sequenceDiagram width?"
## Help us help you!

![image](https://user-images.githubusercontent.com/26567462/69405374-79be4b80-0d3a-11ea-821f-6e0b8b3452a6.png)

[2019-11-22 12:58] depfryer commented on #403
hi
any update please ?

[2019-11-22 13:26] chris579 commented on #403
@depfryer  Hi, you're commenting on an issue that has been closed because it went stale. Does this issue still exist? If so, please be so kind to reproduce it in our [live editor](https://mermaidjs.github.io/mermaid-live-editor) and provide the link to your repro. Thanks!

[2019-11-24 19:55] jpetro416 commented on #487
I want this feature... I hate that there is such a lack of dynamic manipulation in this package. Compare this to Go.js and it's almost day and night. Not sure why we can't just reference a node like an array element `mermaid.changeNodeColor("ID", "CSS COLOR");  `

[2019-11-25 00:10] jpetro416 commented on #483
` Graph after layout (4) ["[*]", "Email_Node", "Next_Node", "fail"]
mermaid.js:99153  19:09:06.947 : WARN :  Node [*]: {"id":"[*]","label":"[*]","width":44.359375,"height":43,"x":22.1796875,"y":21.5}
mermaid.js:28888 Uncaught DOMException: Failed to execute 'querySelector' on 'Document': '#mermaid-1574640546947 #[*]' is not a valid selector.`

Seriously the more I use this, the more I don't unders

[2019-11-25 04:44] tastevens commented on #487
This seems like a such a basic thing to have :/

[2019-11-25 15:16] Dunning-Kruger commented on #487
@jpetro416 @tastevens We're always welcoming new contributors. If you'd like to help out, feel free to check our ["collaborators wanted"](https://github.com/mermaid-js/mermaid/issues/866) issue, read our [contribution guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md), and [join us in slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQ

[2019-11-25 18:18] knsv commented on #483
Hi I am sorry things are resisting your efforts... :)

Could you supply a generated example where the parsing fails in the liveeditor for me to look at?
https://mermaid-js.github.io/mermaid-live-editor/#/edit/

[2019-11-25 19:04] Jmedders commented on #625
Just stumbled across this solution after addressing when an end-user puts in breaking characters like: `(` or `{`
See: http://mermaid-js.github.io/mermaid/#/flowchart?id=special-characters-that-break-syntax.

Basically just wrap in double quotes and pasting in emojis is not an issue.
[code]

<img width="132" alt="Screen Shot 2019-11-25 at 11 51 19 AM" src="https://user-images.githubusercontent.com

[2019-11-26 01:17] jgreywolf commented on #1073
Well, Im more than a little confused now.  I've been trying to port the way that comments are handled in flowcharts (based on jison), and it does not seem to be working - meaning I get something like the following:
[code]
 As I started reading more about bison/jison I noticed that how the `flow.jison` file is setup did not seem to match what I would have expected.  So I started removing the commen

[2019-11-26 07:45] georgelichen opened #1088 "In workflow graph, the text on the link can't be wrapped by <br/> tag if the link is styled explicitly by linkStyle in the code"
In workflow graph, the text on the link can be wrapped by <br/> tags in the text.  Here is an example code:

[code]

Live editor url:
https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcbiAgICBBW1Rhc2sxPGJyLz5MaW5lMl0gLS0-fFRleHQ8YnIvPkxpbmUyfCBCKFRhc2syPGJyLz5MaW5lMikiLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

But, if this link is styled by linkStyle in the code, the `

[2019-11-26 14:10] etimau commented on #487
Sorry if I didn't understand the question but, for me, color in a classDef is working...
(with named color, #rrggbb or #rgb)
See [online editor](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcblxuJSVjbGFzc0RlZlxuY2xhc3NEZWYgY2xhc3NBbGVydCBmaWxsOnJlZCxjb2xvcjp3aGl0ZSxzdHJva2Utd2lkdGg6MnB4LHN0cm9rZTpkYXJrUmVkO1xuY2xhc3NEZWYgY2xhc3NPayBmaWxsOmdyZWVuLGNvbG9yOiMwMEZGMDAs

[2019-11-26 22:29] damiandennis commented on #1065
Hey Guys,

Any update on this? are we still waiting on the author of the dependency to get back?

Cheers

[2019-11-26 22:46] nothingismagick commented on #1065
Yeah, its been a week, and my advice to host a fork at this org is probably the best way forward.

[2019-11-26 23:58] jgreywolf commented on #999
I'm not sure that it is appropriate to handle this as a bug. Though It could be argued either way.  This is not just an issue with `style`, it's also an issue with ANY keywords used as a node name.

I would think that the fix for this would need to be at a broader scale than just making it possible to use `style` within a node name, etc.

Im guessing it is the same for other diagram types, though

[2019-11-27 00:06] kmuncie commented on #999
Yes, absolutely! As I noted in the original report, simply adding a mechanism for escaping reserved keywords would be the best universal fix in my opinion.

[2019-11-27 06:49] knsv commented on #1065
Ok, I have forked the repo to mermaid-js.

[2019-11-27 06:54] knsv commented on #1065
Just to summarize, we need an unofficial realase of the head of the fork to the npm repo, (not githubs repo)?

Then we update the dependencies in mermaid in release/8.4.3 branch wich is on its way out.

[2019-11-27 07:01] bluezald opened #1091 "Is there a way to have LR graph type with TB subgraphs"
Is there a way to have LR graph type for the main graph and having a different type in its subgraphs?
Like this diagram? (this is photo edited)
![diagram](https://user-images.githubusercontent.com/1034742/69700909-a0a7c380-1126-11ea-80e3-85448f8ec8b8.png)

[2019-11-27 07:15] GDFaber commented on #723
Using ```(* Text *)``` would cause a minor change in behaviour though, because it can be used to produce the node text "* Text *" (which works in the live editor). Should stick to it anyway or rather use another syntax?

[2019-11-27 10:49] dotancohen commented on #723
@GDFaber You are correct. I just checked the live editor and `([ Foo ])` does not have this problem. It also looks like the element produced, so is very fitting for Mermaid's intuitive behaviour.

Use `([ Foo ])` syntax.

[2019-11-27 12:28] Gaudeval opened #1092 "Mangled output with multiple Class Diagrams on the same page"
**Describe the bug**
When inserting multiple class diagrams on the same page, anything but the first one gets mangled and all classes' boxes end up in the top left corner.

The log seems to indicate the correct position information is available for both diagrams, but it does not appear in the output SVG.

The issue also occurs when calling `mermaid.render` or `mermaid.init` with the selected eleme

[2019-11-27 12:46] chris579 commented on #1065
Exactly, we need the latest `master` as a npm package (like `dagre-d3-mermaid`) so we can get rid of it. I assume you want to do the release, do you also want to update the dependency?

[2019-11-27 13:08] chris579 opened #1093 "Docs wrong about updating the docs"
[The docs](https://mermaid-js.github.io/mermaid/#/development?id=updating-the-documentation) say that our docs are done with [mermaid gitbook](https://github.com/mermaidjs/mermaid-gitbook) which isn't the case any more. The section about updating the docs should be fixed and filled with some further information.

[2019-11-27 13:09] knsv commented on #1065
Yes, I'll do both

[2019-11-27 13:16] GDFaber commented on #723
This seems to be a good opportunity to shake hands with the mermaid flowcharts code, so I'd like to give this one a try.

[2019-11-27 13:30] chris579 commented on #723
Great, looking forward for your PR.

[2019-11-27 13:48] Gaudeval commented on #1092
After a bit of experimentation, it seems the order in which the diagrams appear on the page and the order in which they are processed does matter. With the same html as before, using the following script will result in the correct output:
[code]

[2019-11-27 16:26] Dunning-Kruger commented on #1074
@jgreywolf I would like to assign this issue to you before closing it so it permanently shows you fixed it. Could you leave a comment so you show up as a possible assignee? Thank you!

[2019-11-27 18:23] knsv commented on #1065
This is now pushed to the 8.4.3 release branch and available from the github package repo, https://github.com/mermaid-js/mermaid/packages/46638

[2019-11-27 18:49] jgreywolf commented on #891
After further investigation I am not 100% sure if this is something that can be addressed within mermaid - or at least not as just a bug?.

If I am following the code correctly, when an href link is found it is added to the object as a property called `link`.  Eventually this is associated with a `ForeignObject` that represents the `vertexNode` for the label text.  This is then provided as an argu

[2019-11-27 18:52] jgreywolf commented on #1074
This is a comment :)

[2019-11-27 19:02] Dunning-Kruger commented on #1074
@jgreywolf I think you mean `%% This is a comment :)`! Just kidding. Thanks for everything!

[2019-11-27 19:02] #1074 closed

[2019-11-27 19:06] Dunning-Kruger commented on #891
@jgreywolf  I'm thinking about this from a different perspective and I might be completely wrong but here it goes:
Wouldnt stretching the `<a>` so it fills the node solve this issue in a nice way? Instead of also making the node clickable, just filling it with the clickable element.

[2019-11-27 19:09] ramstein74 opened #1094 "State diagrams not showing as expected"
Hello i was trying this code from your repo
[code]
but the result is note the same , please see attached pic.
State1 does now show in the image !!!!
![image](https://user-images.githubusercontent.com/1210858/69752590-7a474f80-1149-11ea-9c0e-ce0d84a4ad18.png)
can you help ??

[2019-11-27 19:20] Dunning-Kruger commented on #1094
The result you're showing is consistent to the diagram markdown you added, and matches what the documentation shows:

![image](https://user-images.githubusercontent.com/1564825/69753118-bd40fd00-1120-11ea-8bee-40bc19fdc51d.png)

"State1" is the state with the text "The state with a note" as description. The relevant part of the doc shows that syntax here:

![image](https://user-images.githubuserco

[2019-11-27 21:43] jgreywolf commented on #891
No, that is what I was thinking as well, I just have not been successful in making that happen.  When the click event is just a link the url is added to the object, and at render time a svg link element is generated, the shape text is added as a child of the `linkElement`, and the linkElement (which has no `parentElement` yet)  - is provided as the `label` parameter to the `g.setNode` function cal

[2019-11-27 22:14] jgreywolf commented on #770
Small clarification, looks like you can do this in for objects _inside_ of a class (property/method), but not the class level itself.  Since there is another issue raised that is specifically regarding class level generics (https://github.com/mermaid-js/mermaid/issues/1063) should this be closed in favor of that issue?

[2019-11-27 22:50] chris579 commented on #770
Right, this issue does not longer exist and for class level generics there is #1063

[2019-11-27 22:50] #770 closed

[2019-11-28 00:19] jgreywolf commented on #403
This should be supported at least as of 8.4.2.  See link:  https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBDbGFzc18wMVxuQ2xhc3NfMDEgOiBpbnQgc29tZV9Qcm9wZXJ0eVxuQ2xhc3NfMDEgOiBTb21lX01ldGhvZCgpXG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

[2019-11-28 03:14] clockbook opened #1096 "Markdown files with mermaid as html"
Hi all,

I have several mermaid sequence diagrams written up in markdown files. I'd like to be able to convert the markdown to html and have the mermaid diagrams render correctly.

I know it's possible to write mermaid syntax inside a div and have the browser render it as a svg. However, is it possible to render from a markdown file directly?

[2019-11-28 05:39] 400thecat opened #1097 "unable to create an arrow to subgraph"
I have simple graph, and I can create arrows to members of subgraph

graph TB
  router
  subgraph Network
    server1
    server2
  end
router --> server1
router --> server2

However, I cannot create an arrow to the subgraph itself:

graph TB
  router
  subgraph Network
    server1
    server2
  end
router --> Network

[screenshot here](https://ibb.co/DVq3LrJ)

How can I create an arrow to subgrap

[2019-11-28 10:08] ramstein74 commented on #1094
Guess you are right.
I just dont know where i saw it wrong.
Please close the issue.
Regards

Em qua., 27 de nov. de 2019 às 19:20, Nacho <notifications@github.com>
escreveu:

[2019-11-28 12:39] AshokkumarPesarlanka opened #1099 "IE 11 unable to see flowcharts"
unable to see flowcharts in IE 11 windows 10 it was showing empty any alternative

[2019-11-28 12:49] ramstein74 opened #1100 "Callback for state diagrams"
Hello i noticed that i can use callbacks/interaction in flowcharts but not in state diagrams.
Is that so ?
Regards

[2019-11-28 13:16] GDFaber commented on #1099
This issue seems to be connected to #1030 if you ask me.

[2019-11-28 13:26] #403 closed

[2019-11-28 13:27] Dunning-Kruger commented on #1094
@ramstein74 For future reference, you can always close your own issues if you think they are resolved! Thank you!

[2019-11-28 13:27] #1094 closed

[2019-11-28 13:30] Dunning-Kruger commented on #1099
Closed as a duplicate of #1030. Thank you @GDFaber!

[2019-11-28 13:30] #1099 closed

[2019-11-28 13:32] GDFaber commented on #891
Just for the record I leave my workaround here, maybe it can be improved to be worth integrating.
[code]

[2019-11-28 15:35] Dunning-Kruger commented on #552
@itprdev If you'd like, leave a comment here so I can assign the issue to you so nobody else works on it and when we close it you'll permanently show up as the user that fixed it!

[2019-11-29 04:38] AshokkumarPesarlanka commented on #1030
what is the approach to make it work in IE 11 as well ?
or can you please confirm it will not work in IE 11.

[2019-11-29 11:12] crusty commented on #1065
What's the estimated date of 8.4.3 being released and pushed to npm?

[2019-11-30 03:08] adaJQD opened #1104 "Class diagram: support for abstract members"
How to represent an abstract method in class diagram?

[2019-11-30 22:07] chris579 opened #1106 "Release management"
Automated releases and stuff

[2019-11-30 23:42] #1053 closed

[2019-11-30 23:44] #1030 closed

[2019-12-02 09:18] etimau opened #1108 "Flowchart - add a default root element to prevent "lone trees""
Hi and sorry if this request has already been sent.
Could you add a feature to flowchart (at least) that would allow a node to become the "default root element" of every trees in the flowchart.

For example, [this flowchart](https://mermaidjs.github.io/mermaid-live-editor/#/view/eyJjb2RlIjoiZ3JhcGggVERcbkFbU1RBUlQgT0YgVEhFIEZMT1ddXG5CW1NURVAxXVxuQ1tTVEVQMl1cbkRbU1RFUDNdXG5FW1NURVA0XVxuXG5BIC0tPiBC

[2019-12-02 12:54] #1065 closed

[2019-12-02 14:03] #1073 closed

[2019-12-02 15:10] chris579 commented on #1104
In UML it would be written italic, however this case is not supported by mermaid currently.

[2019-12-02 19:58] knsv opened #1110 "Composit States sometimes render with incorrect paddings."
Composit States sometimes render with incorrect paddings. Example
[code]

[2019-12-02 23:19] jgreywolf commented on #834
Should this be closed as duplicate of #916 ?

[2019-12-02 23:28] jgreywolf commented on #1063
@keenanjt33 Just checking - Are you working on this?

[2019-12-03 11:23] etimau commented on #384
When using <br> in a sequenceDiagram, when exported to SVG it is translated to </text><text> tags.
[See this example](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG5BLT4-QjogYSB2ZXJ5IHNpbXBsZSBtdWx0aTxici8-bGluZSBzZW50ZW5jZSIsIm1lcm1haWQiOnsidGhlbWUiOiJuZXV0cmFsIn19)

Is it possible to have the same behavior in flowcharts?
If you try [this](https://mermai

[2019-12-03 13:21] Dunning-Kruger commented on #384
@etimau Hey! You're commenting in an old closed issue. Feel free to create a new issue if you found a bug, need help, want to request a feature or anything!

[2019-12-03 13:23] Dunning-Kruger commented on #1108
I don't quite see the benefit over just actually writing the connections to the "root element" if that's what you wish your flowchart to represent.

[2019-12-03 13:26] Dunning-Kruger commented on #834
@jgreywolf I believe they are different. One allows for one node to be linked to multiple. The other allows for multiple to be chained. `A -> B; A -> C` vs `A -> B; B -> C`

[2019-12-03 13:49] etimau commented on #1108
Thanks for your answer.
In fact, I'm generating quite complex trees and I can't determine in advance if a node is isolated or part of the "big tree".
To do so, I would need to parse my own data as a tree, which I have delegated to mermaid ;)
I hope this clarifies why I'm requesting this feature...

[2019-12-03 13:55] etimau opened #1111 "Handle br tag in flowchart the same way as in sequenceDiagram (especially when exporting to SVG)"
When using `<br>` in a sequenceDiagram, when exported to SVG, it is translated to `<text></text>` tags.
See [this example](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG5BLT4-QjogYSB2ZXJ5IHNpbXBsZSBtdWx0aTxici8-bGluZSBzZW50ZW5jZSIsIm1lcm1haWQiOnsidGhlbWUiOiJuZXV0cmFsIn19)

Is it possible to have the same behavior in flowcharts?
If you try [this](https://m

[2019-12-03 14:09] etimau commented on #1108
Would be nice, once the root element defined, to be also able to define the link style to use to connect the isolated nodes to the root element.
View [this commented example](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiUlTGV0J3Mgc2F5IEEgaXMgdGhlIGRlZmF1bHQgcm9vdCBlbGVtZW50XG4lJVdoeSBub3Qgc29tZXRoaW5nIGxpa2VcbiUlcm9vdE5vZGUgQSAtLi1cbkFbU1RBUlQgT0YgVEhFIEZMT1ddXG

[2019-12-03 14:28] GDFaber commented on #1108
I might be wrong about what is needed here, or maybe I just don't get it :)

But, given that a node only knows its connections to other nodes AFAIK, I guess it would be difficult to determine which node is the root of a "lone tree". If my assumptions are true, what about STEP 3, 22 and 23 then? These are obviously not "lone trees", but how can the model get to know that?

[2019-12-03 14:35] Dunning-Kruger commented on #1108
Basically, given a `node X`, if you find no other node in the graph connecting to `node X` you could assume they are "lone" and need a connection from the "root", if there's any...

To be fair, I don' think this actually fits what a flowchart is for. It would basically connect flowcharts that should be separate to the same "root node". Is this a supported feature in any other flowchart solution?

[2019-12-03 14:56] etimau commented on #1108
Thanks for your answers and sorry for my not-good-enough-english to explain you this better.
I don't know if other flowchart solution have this feature.

This is how I see things:
1- Given [this model](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkFbU1RBUlQgT0YgVEhFIEZMT1ddXG5cbkJbVFJFRTFdXG5DW1NURVAxXVxuRFtTVEVQMl1cbkVbU1RFUDNdXG5cbkIgLS0-IENcbkIgLS0-IERcbkQgLS0

[2019-12-03 15:01] Dunning-Kruger commented on #1108
@etimau Your English is more than fine! Don't worry! We understand the request and, implementation complexity aside, we'll see if other people have the same requirement as you and what other contributors think about it.

[2019-12-03 15:23] chris579 commented on #1108
I think I understand what you want to achieve but not really why you want to do this. What data are you parsing and how? Just curious.

[2019-12-03 17:25] Dunning-Kruger opened #1112 "Revert to official version of dagre-d3"
After [asking politely](https://github.com/dagrejs/dagre-d3/issues/380), [dagre-3d got updated on npm](https://www.npmjs.com/package/dagre-d3).

We need to stop maintaining/referencing the unofficial version.

- [x] Remove reference to unofficial dagre-3d from mermaid

With that done, we can:
- [ ] Delete / archive unofficial repository

**Note**: The unofficial **npm package MUST** remain availab

[2019-12-03 21:06] alexomics opened #1113 "Set flowchart dimensions?"
## Set the dimensions of a flowchart

[Live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgYShTdGFydCkgLS0+IGluXG4gIGluIC0tPiB8ZGF0YSBzdHJlYW18IGdSUEMgLS0+IGNhY2hlXG4gIGNhY2hlIC0tPiB8ZGF0YSBzdHJlYW18IEFcbiAgQSAtLT4gfGRhdGEgc3RyZWFtfCBmaWx0ZXJcbiAgZmlsdGVyIC0tPiB8ZmlsdGVyZWQgc3RyZWFtfCBtb2RpZmllclxuICBtb2RpZmllciAtLT4gfHRyYW5zZm9ybWVkIHN0cmVhbXwgZGVjaWRl

[2019-12-03 21:46] #1106 closed

[2019-12-03 22:54] jgreywolf commented on #834
You are right. My bad

[2019-12-04 02:01] heavysixer commented on #123
I just pulled master and built it from source and was unable to get the double arrows to render correctly. I see that there are specs (which pass) but when trying it in an editor the double arrow is ignored though no error occurs. Just and FYI.

[2019-12-04 16:29] abnerlee opened #1115 "Crash when nested urly braces in class diagram"
Steps to reproduce the behavior:
1. Go to https://mermaidjs.github.io/mermaid-live-editor
2. input
[code]
3. The page will be Not Responding

 - OS: macOS 10.15.1
 - Browser Chrome
 - Version 78

[2019-12-04 16:34] Dunning-Kruger commented on #1115
@abnerlee Thank you for the report! Duplicate of #1069

[2019-12-04 16:34] #1115 closed

[2019-12-04 18:20] Dunning-Kruger commented on #1112
Moving assignee for deletion / archival of unofficial repository.

[2019-12-04 18:59] heavysixer commented on #999
I think this is a non issue. You can't do something like `let var = "foo"` in JavaScript, and the same case is true here. The issue is that conceptually mermaid has a textual visual model of the graph, which tends to make the reserved words _disappear_. My suggestion is to use some sort of naming convention like [Hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation) to bypass this

[2019-12-04 19:03] heavysixer commented on #1108
I think this is solved by post processing of the graph before being fed into Mermaid. I believe that Mermaid should not know or care about what trees are unbound from each other.

[2019-12-04 19:40] chris579 commented on #1108
Totally agree on that. Regarding the introduction statement in the README:

[code]

This is the scope of the library. mermaid expects to become valid input data and should not be responsible for doing any unstated behaviour like connecting/unbounding trees or anything like that. As a user I would consider this as unintended behaviour if mermaid does any magic in the background about your definitio

[2019-12-04 23:59] rlopezro opened #1117 "Is there a way to prevent lines from going under nodes?"
Hi all! In large diagrams I see lines going under nodes. Is there a configuration option that will force lines to never go under nodes? Here is a screenshot.

<img width="235" alt="Screen Shot 2019-12-04 at 3 52 34 PM" src="https://user-images.githubusercontent.com/15841313/70191822-dca2d180-16ae-11ea-946d-b45fc05c78aa.png">

Thanks!

[2019-12-05 00:06] Dunning-Kruger commented on #1117
@rlopezro Hello! It seems this is, basically, a duplicate of #1006! Sadly, it appears there's no solution to the problem for large diagrams, for now. Feel free to follow up on it on #1006

[2019-12-05 00:06] #1117 closed

[2019-12-05 21:03] jgreywolf commented on #1063
I have taken an initial attempt at this one.  Please see forked branch at: https://github.com/jgreywolf/mermaid/tree/1063-GenericTypeSupportInClassDiagrams

Im not 100% happy with it, due to how I am splitting the classname from the type...  but I will continue to refactor and fiddle I am sure :)

[2019-12-05 21:32] chris579 commented on #1063
Great. Please make sure to give a sign you're on working on an issue so we can block it for you and nobody else grabs it.

[2019-12-05 22:11] jgreywolf commented on #1063
I was holding off on that waiting to see if the original person who said they were going to work on it piped up. And yet still worked on it to get the experience ;)

[2019-12-06 09:22] wolfcoming opened #1118 "graph 能支持上下和左右方向嵌套使用吗"
graph 能支持上下和左右方向嵌套使用吗

[2019-12-06 11:11] IceflowRE opened #1119 "Class diagram specify return type"
At the moment i didnt found a way to specify a return value/type from a funtion
[code]

It will only be put in the right place if it has a `)` at the end

[2019-12-06 11:13] chris579 commented on #1119
Right, that's a known limitation I'm also not happy with. However, I don't see a better way of detecting if something is a method than just looking for a closed brace in the end. The alternative would be to do some regex stuff which could be error prone.

[2019-12-06 11:26] chris579 commented on #1118
Hi, could you please elaborate your issue in English so everyone understands it? Thanks!

[2019-12-06 20:06] jgreywolf commented on #1052
I would like to take this on, if no one is opposed...

[2019-12-06 20:28] chris579 commented on #1052
Great. Love to see how active you are!

[2019-12-07 00:34] mrkchang commented on #717
The above works in codesandbox but not when I try to incorporate it into my reactjs code for my webapp

[2019-12-07 01:59] mrkchang commented on #717
Had to do the following :

        mermaid.initialize({
            mermaid : {
                startOnLoad: true,
            },
            securityLevel: 'loose',
        })

[2019-12-07 05:02] blizzardengle opened #1122 "Is there a way to build / transpile mermaidAPI for ES5?"
I am a novice when it comes to webpack and babel. I tried my best at changing the webpack files to build the `mermaidAPI.js` but it still left require statements in the compiled code.

Is it possible to build `mermaidAPI.js` into a single ES5 file?

[2019-12-07 08:27] #1078 closed

[2019-12-07 08:29] #1055 closed

[2019-12-07 08:30] #1061 closed

[2019-12-07 09:00] #989 closed

[2019-12-07 11:09] maxschons opened #1123 "Fold out / collapse flowchart"
**Problem: Complicated flow charts are hard to grasp**
Creating complex flowcharts makes them overwhelming for users. Nevertheless they are sometimes necessary. Users will not use a complicated flow chart or one has to abandon complexity for the sake of users using them.

**Solution: Collapse the flowchart at the beginning and extend branches to the next split**
As a user I would like to see only

[2019-12-07 15:30] chris579 commented on #1122
For now we use [babel preset environment](https://babeljs.io/docs/en/babel-preset-env) which does the ES-Version micromanagement for us. It's targeting the [majority of web browsers](https://github.com/mermaid-js/mermaid/blob/master/babel.config.js#L6) including `IE11` for example. I don't really understand what you try to achieve and what you did in particular. Could you elaborate more on what's

[2019-12-07 15:33] knsv commented on #1091
That is currently not possible. The library we are using for layout does not support this so it would also be be difficult to achieve this.

I could see a way to getsub graphs function is their own little graphs with their own directions but then linking to individual nodes from in one subgraph to a node in another subgraph would not be possible. Linking from subgraphs to subgraphs would work thou

[2019-12-07 15:38] knsv commented on #1051
@georgelichen I like your idea of using ` character. We have been using ```<br/>``` for this in other graphs. Would it interfere with markdown parsing maybe? Here is how I usually write my mermaid graphs from markdown:
<pre>
[code]

[2019-12-07 15:42] knsv commented on #1007
Are you integrating mermaid into the wiki or are you using a wiki with mermaid support as a content provider or are you administrating a wiki with mermaid support?

Slightly different answers depending on which category you fall into.

[2019-12-07 15:47] knsv commented on #561
I would like to se some solution to this but this is hard due to the reason described above that the layout engine does not support this.

I could see a way to get subgraphs function as their own little graphs with their own directions but then linking to individual nodes from in one subgraph to a node in another subgraph would not be possible. Linking from subgraphs to subgraphs would work though

[2019-12-07 15:58] knsv commented on #1006
If we render using dagre + graphlib but not dagre-js we could expose more options layout to the synax. (https://github.com/dagrejs/dagre/wiki) Like ranker and align for instance.

[2019-12-07 16:07] knsv commented on #723
@GDFaber How are things going? Let me know if you are stuck. I would be glad to assist either by chat or call.

[2019-12-07 18:24] blizzardengle commented on #1122
I am using a markdown parser for an application and it does not support diagrams of any kind. A long time ago I hacked in a solution where it would use `mermaid` to do that. Now that I'm looking to update the application I noticed that `mermaid` has grown and the newest version recommends that I use `mermaidAPI.js` for what I'm doing instead of `mermaid.js` or `mermaid-core.js`.

The markdown pars

[2019-12-07 19:13] chris579 commented on #1122
I assume you already visited our [installation guide](https://mermaid-js.github.io/mermaid/#/usage).

I think you are referring to this statement in the docs:

That warning is right. `mermaid` more or less is just a wrapper around `mermaidAPI` and I would always favour for using the latter one because the first one is just legacy stuff.
However, [here in the docs](https://mermaid-js.github.io/merm

[2019-12-07 19:24] chris579 opened #1124 "Docs api usage mentions wrong include"
However, [here in the docs](https://mermaid-js.github.io/mermaid/#/usage?id=api-usage) an obscure `mermaidAPI.js` is mentioned I've never seen before. I'm quite sure that the docs are outdated.

_Originally posted by @chris579 in https://github.com/mermaid-js/mermaid/issues/1122#issuecomment-562878314_

The docs are wrong about that. You don't need to include any other file than `mermaid.js`.

[2019-12-07 20:08] blizzardengle commented on #1122
Thank you! Your right, the documentation was leading me astray. I used `mermaid.render(...)` and its all working again.

[2019-12-07 23:53] GDFaber commented on #723
Hi @ksnv, I had no time to start with this until now, but I'll get to it tomorrow night and give it a try. I will let you know how it gets along. Thanks for offering, I will surely let you know via Slack if I run into problems.

[2019-12-08 01:06] GDFaber commented on #723
That was fun :) I think it works properly, but I'll fill in the tests first and hand in my PR tomorrow night.

[2019-12-08 07:54] knsv commented on #935
@sulabh-msft Thanks for your the issues you have reported on mermaid. They are all good ideas, valid and excellently reported. I have been looking at UML diagrams during autumn but will give flowcharts more focus now.

[2019-12-08 09:34] knsv opened #1127 "Upgrade serialize-javascript to version 2.1.1 or later, remove vunerability"
# GHSA-h9rv-jmmf-4pgx
moderate severity
Vulnerable versions: < 2.1.1
Patched version: 2.1.1
regular expressions Cross-Site Scripting (XSS) vulnerability
Impact
Affected versions of this package are vulnerable to Cross-site Scripting (XSS). It does not properly mitigate against unsafe characters in serialized regular expressions.

This vulnerability is not affected on Node.js environment since Node

[2019-12-08 15:56] GDFaber commented on #723
Done, my PR is at #1130.

[2019-12-08 21:21] Dunning-Kruger commented on #717
@mrkchang Hey! You're commenting in an old closed issue. Feel free to create a new issue if you found a bug, need help, want to request a feature or anything!

[2019-12-08 21:22] Dunning-Kruger commented on #916
Hey @jgreywolf. I would love to leave this issue assigned to you before closed so it permanently displays that you developed it. Could you leave a comment or something so I can assign you this story?

[2019-12-08 21:26] Dunning-Kruger commented on #1122
@blizzardengle Don't forget to close the issue it it was solved! Thank you for reaching out!

[2019-12-08 22:32] #1122 closed

[2019-12-09 13:34] GDFaber commented on #1088
My first guess (without further investigation) is that replacing <br/> does not work in that case because the regex search expects <br> to be used. But <br> seems to be automatically completed to <br/> when creating the flowchart, which I have just tested in the live editor.

If that is correct, the regular expression could be modified to solve the problem. I can take a look at it during the week

[2019-12-09 18:37] #916 closed

[2019-12-09 21:40] GDFaber commented on #910
I've stumbled across this while working on #1088 today and got it basically fixed, but need to do more testing to make sure it's working properly with different settings.

[2019-12-09 21:43] chris579 commented on #910
I will assign you in the meanwhile. If you verified that you fixed it, make sure to mention both issues in your pr. Thanks!

[2019-12-09 21:50] GDFaber commented on #1088
This can be solved by changing the regular expression from ```/<br>/g``` to ```/<br ?\/?>/g``` to catch ```<br>``` as well as ```<br/>``` and ```<br />```.

[2019-12-09 22:14] jgreywolf commented on #1104
I will go ahead and take this one.  One implementation question: in some cases UML diagram for an abstract class could also include `{abstract}` under the class name.  Should we follow that convention?  Or just the italics

[2019-12-09 23:14] chris579 commented on #1104
This issue is about abstract methods in classes. Classes itself can already be marked as abstract by using annotations. I find that suitable enough.

[2019-12-09 23:16] GDFaber commented on #910
Thanks, will do.

[2019-12-09 23:46] jgreywolf commented on #1104
Sorry - yes.

[2019-12-10 03:00] asiaon123 commented on #1096
@clockbook You need to customize your markdown parser to support mermaid rendering
This is what i do for rendering with hacking markdown-it parser
[code]

[2019-12-10 03:01] GDFaber commented on #1088
My PR is at #1132.

[2019-12-10 03:02] GDFaber commented on #910
My PR is at #1132.

[2019-12-10 12:32] waterdrop01 opened #1133 "How to insert an image in flowchart?"
Hello,

looking at https://github.com/mermaid-js/mermaid/issues/548, I still couldn't figure out how to insert an image in my flowchart.

I'm using the online editor : https://mermaidjs.github.io/mermaid-live-editor

And here is the code I'm using:
[code]
And here is the error:
![Screenshot from 2019-12-10 13-32-38](https://user-images.githubusercontent.com/47316824/70529747-98ea1500-1b51-11ea-993

[2019-12-10 13:39] Dunning-Kruger commented on #1133
[Here's your sample](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgRElSKFwiPGltZyBzcmM9J2h0dHBzOi8vaWNvbnNjb3V0LmNvbS9tcy1pY29uLTMxMHgzMTAucG5nJzsgd2lkdGg9JzMwJyAvPlwiKSIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0Iiwic2VjdXJpdHlMZXZlbCI6Imxvb3NlIn19) corrected to render the image.
Note that I had to set `securityLevel` to `loose` in order for mermaid to not escape th

[2019-12-10 14:29] waterdrop01 commented on #1133
@Dunning-Kruger Awesome! That looks great, thanks so much

[2019-12-10 14:29] #1133 closed

[2019-12-10 17:52] waterdrop01 opened #1134 "Improve display & accessibility on mobile devices"
Hello,

mermaidjs flowchart looks great on a Desktop device. But when on a mobile device, display/layout is quite bad and text it illegible. Here is an example to open on a mobile browser: https://bit.ly/2PtpyW2

And here is how it renders on my phone:
![Screenshot_20191210-184225](https://user-images.githubusercontent.com/47316824/70554379-4c1c3380-1b7d-11ea-89e1-be051e5d246e.jpg)

As you can see

[2019-12-10 18:09] Dunning-Kruger commented on #1134
Hey, have you tried using the maxWidth configuration so it does not fill the screen like that? Are the fonts still illegible?

Note that in actual uses of the library, the graph would be "constrained" by the width of the container so the rendering might differ from what you see in the live-editor.

---
* Updated the opening post to replace bit.ly to real link.
* Updated the opening post to shrink

[2019-12-10 18:17] Dunning-Kruger commented on #1123
Hello! Thank you for reaching out!

I feel like this is outside of the scope of mermaid. The library goes from markdown-like text to a graph markup/image.

Some of the mentioned solutions (collapsing, graying out) could be implemented post generation of the graph, and others (questionnaire) don't even require the generation of the graph markup at all.

You could also consider re-generating the mar

[2019-12-10 18:53] waterdrop01 opened #1135 "How to render an image in .html page?"
Hello,

I'm trying to do the same as on the Mermaid online editor, but in my own .html page.

here is the code:
[code]
It's working on [Mermaid online editor here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgRElSKFwiPGltZyBzcmM9J2h0dHBzOi8vaWNvbnNjb3V0LmNvbS9tcy1pY29uLTMxMHgzMTAucG5nJzsgd2lkdGg9JzMwJyAvPlwiKSIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0Iiwic2VjdXJpd

[2019-12-10 19:02] Dunning-Kruger commented on #1135
In your html, you're using this markup:
[code]

In your editor sample, you're using the following:
[code]

They are not the same.

[2019-12-10 20:01] waterdrop01 commented on #1135
Well you are right, my editor auto formatted the code. Here is now copy paste from gedit:

[code]
still not working though :(
![Screenshot from 2019-12-10 20-59-37](https://user-images.githubusercontent.com/47316824/70564204-0321aa80-1b90-11ea-971b-7cbf9180b33c.png)

Thanks a lot for your help

[2019-12-10 20:32] GDFaber commented on #1135
Leave out the semicolon before the 'width' attribute in your img tag and try again. Does it solve the problem?

[2019-12-10 23:58] waterdrop01 commented on #1135
no, I tried without the semicolon, still the following error:
[code]
thanks for your time

[2019-12-11 10:44] GDFaber commented on #1135
It also seems like ```'``` is transformed into ```"``` somehow in the html code, which is a problem. Is it also due to auto-formatting?

Should look like this: ```DIR("<img src='https://iconscout.com/ms-icon-310x310.png'; width='30' />")```,
but that doesn't fit the error message ```...ms-icon-310x310.png" width="30">")```.

[2019-12-11 13:27] Dunning-Kruger commented on #921
@keenanjt33 If you'd like, please leave a comment so I can assign you the issue.

[2019-12-11 18:09] #1063 closed

[2019-12-11 18:18] #1127 closed

[2019-12-11 18:43] #1104 closed

[2019-12-11 18:48] #723 closed

[2019-12-11 19:04] #910 closed

[2019-12-11 19:04] #1088 closed

[2019-12-11 20:32] #552 closed

[2019-12-12 02:37] bluezald commented on #1091
thanks @knsv
you mention linking from subgraphs to subgraphs.
I'm note sure how is this done?

[2019-12-12 10:02] hatemjaafar commented on #225
Hello,

What is the parms that was included and how to add it?

[2019-12-12 10:04] hatemjaafar commented on #225
Hello,

What is the params that was included and how to add it?

i have trouble with marker-end when url is spécified.

thanks

[2019-12-12 10:13] hatemjaafar opened #1138 "marker-end remove url (arrowhead dosen't appear)"
Hello,

I need  to remove  url specified in the  marker-end attribute when generating SVG.

exemple:
marker-end="url(http://some url#arrowhead2)"   => dosen't work.
marker-end="url(#arrowhead2)"   => work.

I make search and i found that it have to be specified in configuration but i don't understand how.

thanks for your help

[2019-12-12 12:18] jkromski commented on #177
component diagram

[2019-12-12 12:28] ramstein74 opened #1139 "how to use hiperlink in state diagrams"
Hello in flowchart you have a description about using css and event callbacks.
But in state diagrams you dont.
Can i have in a state diagram a link from a node do another htlml page ? how ?
Or change css colors? how ?

regards

[2019-12-12 12:54] jdavis61 commented on #1124
Opened https://github.com/mermaid-js/mermaid/pull/1140 for this ticket. Please review and provide feedback.

[2019-12-13 08:52] wangdayong228 opened #1141 "Is there a way to add notes in flowchart?"
Hi,
I found most of the other diagrams could add notes, but not found in flowchat, could I add notes in mermaid flowchart like this? thank you.

![image](https://user-images.githubusercontent.com/11971608/70786880-8fb6ad80-1dc8-11ea-8c69-bb01a581d424.png)

[2019-12-13 08:59] chris579 commented on #1141
There is no documented way of doing this. You could attempt to create a node at the top of your graph definition that has no connections. However, I would consider this to be more of a hack than a real solution.

[2019-12-13 09:32] marcinn commented on #177
Use case diagram. It's a base tool.

[2019-12-14 00:32] ex-nerd commented on #962
Not only that, but the box styling of the link is lost if you add styling to a specific link (though strangely not if you add a `linkStyle default ...`).

[2019-12-14 09:06] knsv commented on #1138
What version of mermaid are you using? There has been a recent bugfix for that in version 8.4.3

**This will give releative path in the marker-end attributes, like you want:**
[code]
This will give full path is marker-end attributes:
[code]

[2019-12-14 13:13] #903 closed

[2019-12-14 13:22] #1110 closed

[2019-12-14 13:23] #1112 closed

[2019-12-14 13:23] #935 closed

[2019-12-14 13:53] GDFaber commented on #702
This seems to be similar to #1088. Looking at the commit mentioned above, the regex ```<br\/?>``` is used to determine the lines. This takes care of ```<br>``` and ```<br/>``` but does not find ```<br />```.

If noone is already working at this issue, I can take a look at it.

[2019-12-14 14:16] GDFaber commented on #1111
I can take a look here, because I'm also interested in #702 which also is about line breaks in sequence diagrams.

[2019-12-15 08:07] knsv opened #1142 "Simplify the jison grammar for flowcharts"
The grammar in its current state has grown over time and has become somewhat unruly. This makes changing things and adding to the grammar very difficult.

In order to mitigate this some rule can be simplified and be replaced with states in the lexer instead.

[2019-12-15 08:27] knsv opened #1143 "Make the loggers out prettier"
Let the output from the logger use the built in log levels console.debug etc when they are available

[2019-12-15 09:09] #1143 closed

[2019-12-15 12:17] mestaritonttu opened #1145 "Class: interface realization / lollipop"
There doesn't seem to be a way to define this currently: https://www.uml-diagrams.org/realization.html

PlantUML calls it lollipop: https://plantuml.com/class-diagram and supports it like this:
[code]

[2019-12-15 12:24] mestaritonttu opened #1146 "Class: dependency (dashed line with arrow)"
https://www.uml-diagrams.org/dependency.html

I guess this would be solved if we had a way to turn lines to dashed/dotted. Then we could just use ..>

[2019-12-15 14:28] knsv commented on #834
There is a non obvious issue with the syntax here. The problem is that , is a valid character in the node id definition. This is unfortunate. The id statement should have been made strict alphaNum and life would be much easier.

As it is I am reluctant to do grammar changes that break existing diagrams out there.

I think we need to find another separator, maybe space or |

[2019-12-15 21:15] chris579 commented on #1111
So this is a duplicate then?

[2019-12-15 21:19] chris579 commented on #1111
Great! Make sure to make two separate prs for these issues.

[2019-12-15 23:04] eel87 commented on #995
Hi @Dunning-Kruger is this issue related to mermaid-live-editor or mermaid?  I'm a new developer, interested in helping out with accessibility features but I'm a little confused as to where these changes would be made.  Any advice to get started if this issue is still open?

[2019-12-16 06:18] walterheck commented on #1097
I would be very happy to see this functionality also, and it would be even better if we could have relations between subgraphs :)

[2019-12-16 14:22] scrobbleme commented on #1097
+1

[2019-12-16 14:27] Dunning-Kruger commented on #1097
Duplicate of #644

[2019-12-16 14:27] #1097 closed

[2019-12-17 09:21] etimau commented on #1108
I'm parsing execution plans of a MVS: executing a JCL generates a JOR and I use this JOR to draw the execution graph.
My parser just interprets the JCL instructions that have been executed (a STEP is then present in the JOR). I make some simple pre processing before writing the markdown-like definition for Mermaid.
I don't have a tree representation of my data (and I'd like to avoid it). This is w

[2019-12-17 17:19] NebojsaKrtolica opened #1147 "new editor URL: Cannot open Class Diagramm Example page"
**Describe the bug**
Cannot open Class Diagramm Example page https://mermaid-js.github.io/mermaid/#/classDiagram

**To Reproduce**
Steps to reproduce the behavior:
Visit https://mermaid-js.github.io/mermaid/#/classDiagram

**Expected behavior**
The page loads and renders successfully

**Screenshots**

 Uncaught Error: Parse error on line 7:
...+withdrawl(amount)}```
----------------------^
Expecti

[2019-12-18 17:12] #1142 closed

[2019-12-18 17:47] Dunning-Kruger commented on #995
@eel87 This issue is with the default theme (by mermaid) of the Gantt chart. I believe all theme and styling info is here: https://github.com/mermaid-js/mermaid/tree/develop/src/themes

[2019-12-18 18:52] Dunning-Kruger commented on #1147
Fixed here: https://github.com/mermaid-js/mermaid/commit/d53e00ffe0e9dc12d5d2e47c8f9ccc20ea5c88f4

Thanks for the report!

[2019-12-18 18:52] #1147 closed

[2019-12-18 18:53] eel87 commented on #995
@Dunning-Kruger Thank you! I'd like to take stab at this if that's okay.

[2019-12-18 18:55] Dunning-Kruger commented on #995
@eel87 We're always welcoming new contributors. Feel free to read read our [contribution guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md) and [join us in slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQxOTI2OTg4YmE1ZmJkY2Y4MTU3ODliYmIwOTY3NDJlYjA0YjIyZTdkMDMyZTUwOGI0NjEzYmEwODcwOTE)!

[2019-12-19 03:15] georgelichen commented on #923
Thank you jgreywolf for you reply！

[2019-12-19 03:15] #923 closed

[2019-12-19 03:52] jrock2004 commented on #1007
Wiki support built into Azure DevOps @knsv

[2019-12-19 08:07] zodapoplinsky commented on #1007
We are using font awesome very very much in our documentation for our support and maintenance tool nodinite, [example](https://documentation.nodinite.com/Documentation/RepositoryModel?doc=/Message%20Types/Overview)

This also always happens when using [font awesome](https://fontawesome.com/)

![mermaid icon font error](https://user-images.githubusercontent.com/22202696/71155739-af255e80-223e-11ea-

[2019-12-19 10:38] GDFaber commented on #702
PR coming up for the weekend I suppose.

[2019-12-19 17:03] mi-hol commented on #1108
Wow, that will be a 'killer app' when its finished

[2019-12-19 18:45] #995 closed

[2019-12-21 00:45] sdankel commented on #1113
I'm interested in implementing this. Does anyone have ideas how the dimension constraints syntax ought to look?

Alternatively, there could be a resizing feature in the live editor UI, rather than being specified in any mermaid code. Thoughts?

[2019-12-21 01:03] sdankel commented on #1060
This repros on chromium based browsers (I tried Chrome and Brave), but does not repro on Safari. Still investigating...

[2019-12-21 08:31] maxschons commented on #1123
Thanks, appreciated!

I agree that this goes beyond the current 'standard' features but wanted to propose it anyway here to get your guys point of view on it.

In case I want to implement it, any specific pitfalls I should be aware of?

[2019-12-21 10:41] wangdayong228 opened #1152 "How to stretch line length"
This is the graph made by mermaid.
<img width="263" alt="屏幕快照 2019-12-21 下午6 26 46" src="https://user-images.githubusercontent.com/11971608/71306794-046c9600-2420-11ea-8a41-c5a92b7206d8.png">
I want enlarge the link line as follow, could mermaid do this work? Maybe use linkstyle or set a factor for stretch line length?
<img width="468" alt="屏幕快照 2019-12-21 下午6 25 02" src="https://user-images.githu

[2019-12-22 03:02] wangdayong228 commented on #1141
thank you for your reply, your solution is work good. It would be better if use syntax like 'Note node "i am the note of node"', hope enhance this feature:)

[2019-12-22 15:23] mcdafydd commented on #177
wardley map

[2019-12-23 07:56] #1124 closed

[2019-12-23 09:04] #702 closed

[2019-12-23 10:33] mgood2 opened #1154 "Flow diagram DB shape request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'm requesting for a DB symbol in the flowchart.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
graph LR
    id1[(This is the text in the box)]
creates
database symbol

**Describe alternat

[2019-12-23 15:31] knsv opened #1155 "Ability to import only mermaidAPI"
This is related to: #617, #813

The idea with having both mermaidAPI and mermaid are the separation of the actual bootstrapping part of mermaid with the diagram rendering. With bootstrapping I mean the code in mermaid for checking if the document is loaded, finding the elements to render etc. The rendering code is in mermaidApi, the default bootstrapping that looks for elements with the classname

[2019-12-23 20:55] jpetro416 opened #1158 "What is actually a NEWLINE? (Creating Markdown Dynamically With JS)"
If I have an error like the one below (because I'm dynamically creating a string in javascript). How do I add a "NEWLINE". I've had some success with "; " and " ". But it's very inconsistent with each graph type. The documentation is not helpful for actual dynamic scenarios.

**TLDR:  How to create a new line for markdown text and not for labels?**

` diagram_txt_tmp +=  node_list[id].getNodeID()

[2019-12-23 22:14] GDFaber commented on #1158
Hi @jpetro416, is it possible that new lines ```\n``` are converted to ```<br/>``` tags in your code before handing over the markdown to mermaid? If not, can you provide a minimal example of your markdown right before it is rendered?

[2019-12-23 23:32] GDFaber commented on #1111
This can be solved by turning ```<br>``` into ```<br/>``` to have all tags closed in the label text. I will work on this after #1156 has been merged (because it modifies the regex for line breaks in flowRenderer.js and it seems like I need to modify the same code block as well).

[2019-12-24 01:51] GDFaber commented on #790
This issue seems to be solved in mermaid 8.4.4 as the svg download of the new live editor does not show the problem anymore:

https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkFbU29tZXRoaW5nXSAtLT58YmVnZXRzfCBCW1NvbWV0aGluZ10iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ==

[2019-12-24 14:27] p3k commented on #790
confirmed! great, thanks a lot. closing this issue.

[2019-12-24 14:27] #790 closed

[2019-12-24 15:16] jdavis61 commented on #1155
I was able to create a standalone mermaidAPI.js file by changing the below webpack.config.base.js objects. After running `npm run build`, mermaid.js and mermaidAPI.js were present in the dist folder.

**entry**
[code]
**output**
[code]

The below code seems to work. So creating a standalone mermaidAPI.js file is indeed possible. Not sure the above changes are the most elegant solution though.
[cod

[2019-12-24 21:02] chris579 commented on #1155
Imo mermaid should ship as a single file where you can import either mermaid or mermaidAPI. Having two separate files means redundant code.

[2019-12-25 03:11] sdankel commented on #1060
@knsv Ready for review!

[2019-12-25 23:40] GDFaber commented on #891
I'm currently working on a PR for this.

[2019-12-26 23:32] tomiaro commented on #780
If you want to use arrowhead for Inheritance in your GRAPH set:

mermaid.initialize({
       themeCSS: '#extensionEnd { fill: white; }',
  });

[2019-12-27 06:20] smadala commented on #523
@Dunning-Kruger
Looking forward for this support.

[2019-12-27 16:23] Ahmed-Ayman commented on #117
any plans for this?

[2019-12-27 19:40] GDFaber commented on #1154
I wanted to know if this is already possible by just adding a new shape and ended up with a prototype (I asked Google about cylindrical shapes in SVG and was pointed to using a ```path``` element).

Adding the new shape went well as far as I can tell, but there are three things to be taken care of before opening a PR:

1. I did not run into problems during my tests but it would feel better if the

[2019-12-28 10:21] chris579 commented on #780
We now have [class diagrams](https://mermaid-js.github.io/mermaid/#/classDiagram?id=class-diagrams) which support most of this [relation types](https://mermaid-js.github.io/mermaid/#/classDiagram?id=defining-relationship). Flow diagrams are not supposed to be used for UML. This is the scope of class diagrams.

For dependency relations, this is tracked in #1146

[2019-12-28 10:21] #780 closed

[2019-12-28 12:31] GDFaber commented on #1152
AFAIK this cannot be adjusted in mermaid at the moment. According to [this comment](https://github.com/dagrejs/dagre-d3/issues/256#issuecomment-232524943) there are graph settings in dagreD3 which allow to set the distance between nodes. Perhaps these can be added to the flowchart config attributes and applied in the flowchart renderer?

[2019-12-28 13:08] GDFaber commented on #1152
[dagrejs layout settings](https://github.com/dagrejs/dagre/wiki#configuring-the-layout)

[2019-12-29 16:33] chris579 opened #1164 "Static analysis action fails"
The newly added GitHub Action for static test analysis fails.

https://github.com/mermaid-js/mermaid/commit/6cbbf0af2f7bdbfc6bea4dbdfce64c466408a8f0/checks?check_suite_id=377334155

[2019-12-29 16:56] chris579 commented on #1164
@DavertMik could you have a look into this? Seems like your action fails for no reason.

[2019-12-30 07:42] tamvm commented on #123
@phuongnd08 you can "hack" double headed arrows with classDiagram as this example: https://mermaid-js.github.io/mermaid/#/?id=class-diagram-experimental

[2019-12-31 10:16] fbertoia commented on #391
Why this issue has been closed ? It is not yet fixed, isn't it ?

[2019-12-31 10:39] chris579 commented on #391
It meant to be closed with #845. If this issue persists for you please create a new one with a reproduction sample.

[2019-12-31 13:02] jpetro416 commented on #1158
Yes the output example above is for `\n` being converted into `<br/>`. If mermaid is having this much trouble with a string, why doesn't it have an issue when it's raw text being rendered?  There should be a clear way to tell mermaid that this is a new line.... like "\NEWLINE" or something.

On a side note, am I missing the part in the documentation where they show actual examples from a dynamic s

[2019-12-31 15:37] GDFaber commented on #1154
done

[2019-12-31 15:57] #1060 closed

[2019-12-31 15:58] #891 closed

[2020-01-01 08:24] #1154 closed

[2020-01-01 11:41] #921 closed

[2020-01-01 22:25] GDFaber commented on #1111
This won't do much because browsers (at least Chrome) tend to turn ```<br/>``` back into ```<br>``` in order to produce HTML instead of XHTML (if not explicitly set by doctype).

I also tried to wrapping the texts in div-Blocks and replacing the line breaks by ```</div><div>```. This works for security level "strict" but has a drawback in case of "loose": If the html text already includes its own

[2020-01-01 22:41] GDFaber commented on #1111
Turns out, it already works if ```htmlLabels``` is set to ```false``` in the [flowchart configuration](https://mermaid-js.github.io/mermaid/#/mermaidAPI?id=configuration). That's because the text lines get split up into ```<text>``` blocks just as @etimau suggested in the first place.

Is that good enough to work with, or do we need more here?

[2020-01-02 15:05] etimau commented on #1111
Hi and thanks for you answer and best wishes for 2020!

Maybe I'm doing it wrong but, when I turn htmlLabels to false, I don't get a line breaks but I _see_ the `<br/>` tag in the text...

Furthermore, the rendering is a bit messy.
Here is the rendering with htmlLabels set to true:
![htmlLabelsTrue](https://user-images.githubusercontent.com/319380/71673435-1bdd4480-2d79-11ea-817c-f5667b98c8d5.png)

[2020-01-02 15:22] GDFaber commented on #1111
Hi, I also wish you all the best for 2020 :)

Thank you for posting the example, and pardon me, I forgot to say that I tried this on a yet unreleased state of the flowchart renderer which will be included in an upcoming release.

I built from the develop branch of the mermaid repository, which produces the following output for your example graph:

![2020-01-02 16_19_28-Mermaid Quick Test Page](htt

[2020-01-02 16:04] GDFaber commented on #1111
The issues with style classes which you mentioned (for example in node ".fic1") may be connected to issue #487 as there is currently no support to change the text color by mermaid style classes, and setting ```color``` unfortunately only works with HTML labels activated (which is because there is no ```color``` attribute in SVG to style a ```text``` node; instead you would have to use ```fill``` o

[2020-01-02 16:10] #1064 closed

[2020-01-02 16:16] GDFaber commented on #487
I'm going to work on a PR for this as it can improve the visualisation when ```htmlLabels``` are disabled.

[2020-01-02 18:13] #834 closed

[2020-01-02 18:57] knsv opened #1169 "Refactoring: Break out getRows"
**Code duplication**
state/stateRenderer.js and state/shapes.js both contain identical implementations of getRows function.

It should be broken out to a common function. It is also similar to the sanitize function in flowDb. A more generic approach could cater all those use cases.

Create a folder called 'common' with common functions that are shared between the diagrams.

[2020-01-02 19:24] GDFaber commented on #1169
I like the idea of centralizing functionality. Perhaps later on there will be more to put there, like splitting text lines with the line break regex (haven't double-checked that, just came to my mind when I was reading this).

[2020-01-02 19:26] GDFaber commented on #1152
The settings ```nodesep``` and ```ranksep``` can be used to put more space between the nodes (both 50 by default); as mentioned above, this is applied to all the nodes in the graph.

```nodesep``` is the spacing value for nodes of the same rank, while ```ranksep``` holds the spacing value between ranks. In a top-down graph for example, "nodesep" could be seen as the horizontal spacing while "ranks

[2020-01-02 19:26] knsv opened #1172 "Simplify configuration"
**Configuration handling**
The configuration handling internally in mermaid is somewhat unstructured.

* The default values are defined in mermaidApi.
* mermaidApi injects the default values into the config module.
* Then in render the render function injects config into the renderer.

This is overly complex and can be hard to follow.

Instead:
* Move default values from mermaidApi into the config

[2020-01-02 19:41] knsv commented on #1155
I think that with the config above a mermaid.js  and a mermaidAPI.js is generated under dist. The mermaid.js will contain mermaid + mermaidApi thanks to webpack and mermaidApi will only contain mermaidApi.

When a consumer of mermaid creates a bundle with webpack or similar redundant code will be excluded by the bundler so I think this would work.

Thanks @jdavis61. I will test this with webpack a

[2020-01-02 23:29] jdavis61 commented on #1155
Hi @knsv, I have been trying to implement @chris579's feedback but have not been able to configure webpack to allow mermaid to ship as a single file and import **both** mermaidAPI and mermaid.

I will keep researching and hopefully open a PR that implements his feedback. If I cannot figure out a solution, I will open a PR with the above webpack config + some cypress tests as you suggested.

If you

[2020-01-03 05:19] MdMohiuddin opened #1173 "Animation and Arrow sign and CSS in mermaid"
1. Actually I want to do some animation on my flowchart . How can I do it?
2. The edge line is colored but the arrow is not.
3. How I can use CSS in mermaid.
![InkedScreenshot_1_LI](https://user-images.githubusercontent.com/13714230/71708345-d3766300-2e1a-11ea-93a5-9246c1b7efc8.jpg)

[2020-01-03 07:37] etimau commented on #1111
Thanks for those informations. I will check when the new version will be available.
Just one detail: the text over the links is not centered anymore in the new renderer version. Will there be a way to center it?

[2020-01-03 13:48] retsyo opened #1174 "[Question]how to make programming flowchart?"
I mean, the flowchart we can find, for example, on http://flowchart.js.org/

I have read that mermaid supports flowchart, but which is not a flowchart for programming. As we have known, there is a special shape for start/end, decision, and so on. And the lines are vertical or horizontal with arrow.

Thanks

[2020-01-03 17:45] jgreywolf commented on #1145
I will start work on this after January 6th.  Unless someone else is interested :)

[2020-01-03 18:04] ashishjain0512 commented on #1145
@jgreywolf  I think this will be resolved by PR #1171 as that adds supports for dashed lines. After this PR the following relations will be available.

![image](https://user-images.githubusercontent.com/16836093/71740128-b44bf580-2e5b-11ea-9f27-01e0f837fdb9.png)

[2020-01-03 18:08] jgreywolf commented on #1145
I think that resolves part of it.  The other part was being able to do something like the following:

![image](https://user-images.githubusercontent.com/300077/71740387-e8e68f80-2e10-11ea-8d71-c9303a66c94b.png)

[2020-01-03 18:20] jgreywolf commented on #1119
We _could_ always do something similar to PlantUML.  They have an option to explicitly define a member as `{field}` or `{method}'

Or we could just wrap return type in `{}` after the closing brace..

[code]

[2020-01-03 18:25] jgreywolf commented on #1119
On second thought - how should this look?  Because right now you can do this...  sort of

https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5DbGFzczAxIDx8LS0gQXZlcnlMb25nQ2xhc3MgOiBDb29sXG48PGludGVyZmFjZT4-IENsYXNzMDFcbkNsYXNzMDEgOiBpbnQgc2l6ZSgpXG5DbGFzczAxIDogaW50IGNoaW1wXG5DbGFzczAxIDogaW50IGdvcmlsbGEiLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

[2020-01-03 19:12] chris579 commented on #1119
Going with PlantUML sounds reasonable, however I don't like their syntax. Wrapping this in brackets could be convenient.

That's right, but this is not the official syntax for return values or data types.

[2020-01-04 20:42] klemmchr opened #1175 "mermaid fails to load in IE11"
**Describe the bug**
Users expect IE11 support. This was raised in #1030 and addressed in #1103. However, this fix did not worked. This impacts users of products that depend on mermaid too (e.g. [GitLab](https://gitlab.com/gitlab-org/gitlab/issues/32555)).

When loading mermaid with IE11 it failes because of a sytax error în `crypto-random-string`.

[code]

Lamdba functions have been introduced in

[2020-01-05 11:02] #1146 closed

[2020-01-05 22:17] GDFaber commented on #1174
Hi @retsyo,

The start/end shapes have already been added to mermaid and will be part of an upcoming release. Currently there is no subroutine shape though.

Arrows are not a problem, but mermaid uses dagre-d3 to create the flowchart layout. It is very likely that there is no setting in dagre-d3 to draw the lines only vertically/horizontally in a strict way.

You may want to try using the ```curve

[2020-01-06 03:56] EricXing commented on #1118
In English: Can I mix TD and LR in one graph?

[2020-01-06 05:56] 3esmit commented on #177
user interface diagram https://plantuml.com/salt

[2020-01-06 08:33] knsv commented on #1155
I have been trying this out and I am starting to hesitate a little. The solution works and when using webpack it is able to to bundle only the API part of mermaid and not the bootstrapping parts.

Whats makes me hesitate a bit is that the bootstrapping is quite small. The sizes (uncompressed):
* mermaid.js 3669628
* mermaidAPI.js 3561824

Is it worth the additional complexity for the relative smal

[2020-01-06 13:24] GDFaber opened #1177 "Multiline label texts in flowcharts are not centered horizontally with "htmlLabels" disabled"
**Describe the bug**
If ```htmlLabels``` is set to ```false``` in the flowchart configuration, the multiline texts for nodes and lines are not horizontally centered.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [minimal example in live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkIoR288YnI+c2hvcHBpbmcpIiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1b

[2020-01-06 13:26] GDFaber commented on #1111
At the moment multiline texts are not centered if html labels are disabled. Thanks for pointing that out, I have opened a new issue to get the texts centered for non-html labels as well: #1177

[2020-01-06 18:17] jgreywolf opened #1179 "Allow generic types for fields/methods"
Support was added to specify generic types at the class level, but not for fields or methods (parameters and return types)

Should be able to use the same format for defining class level generic type as detailed with issue #1063  (i.e.: `~GenericType~` )

[2020-01-06 18:28] carterbox opened #1180 "subclassDiagram"
I would like to be able to use the [`subgraph`](https://mermaid-js.github.io/mermaid/#/flowchart?id=subgraphs) feature from Flowchart in [`classDiagrams`.](https://mermaid-js.github.io/mermaid/#/classDiagram) This is because it would allow me to show in my class diagram how groups of classes are organized into modules or packages.

[2020-01-06 19:09] Baudin999 opened #1181 "Custom css classes for classDiagram nodes"
Hi, I'm trying to create bigger models and want to have different colored elements for different types of nodes in my class diagram.

For example, in the next image I would like the `Student` to be colored orange.

![image](https://user-images.githubusercontent.com/2974147/71841542-f1182680-30bf-11ea-95b1-af5db54c9ca8.png)

In order to do this I'd like to add a custom css class to my model and sty

[2020-01-06 19:26] chris579 commented on #1180
Duplicate of #1052

[2020-01-06 19:26] #1180 closed

[2020-01-06 19:31] chris579 commented on #1118
I assume that you mean flowcharts, right? That's currently not possible.

[2020-01-06 20:58] GDFaber opened #1182 "Maintenance: "newDagreD3" switch in the flowchart renderer is no longer needed and can be removed"
In order to move safely to the dagre-d3 branch, the flowchart renderer was given the possibility to switch between old and new version for testing purposes. This switch can now be removed.

This issue is a reminder for removing the code for the old dagre-d3 variant in the flowchart renderer. I'll PR the change after #1176 has been successfully merged because maybe there would be merge conflicts.

[2020-01-07 02:48] jiangtj opened #1183 "Support API in nodejs"
**Describe the solution you'd like**

I see that mermaid provides API to operate on the browser side, but why similar API isn't provided in nodejs?

For example:

[code]

Many MD renderers will provide code blocks. We only need to render them into the SVG. Compared with introducting JS in the browser, this solution can improve the efficiency of page loading (after all, it has been processed in nod

[2020-01-07 03:04] GDFaber commented on #743
I suggest splitting the lines up into ```tspan``` items and appending them to the ```text``` in one turn with its creation. As mentioned by @rhz, the y position should be updated as well for multiline texts. I'd like to take a look at it but it may take some time.

[2020-01-07 03:15] 3esmit opened #1184 "Wireframes in mermaid"
I used to write wireframes in text instead of drawing them because dealing with images in documentation is horrible.

Would be interesting if mermaid supported something similar as available in PlantUML https://plantuml.com/salt

Would be good overall if mermaid used the same syntax as possible for this, making future interoperability easier.

[2020-01-07 07:00] chris579 commented on #1183
Mermaid relies on the browser to generate diagrams so you won’t be able to use it without browser.

[2020-01-07 08:16] MatinF opened #1185 "How to force a specific height of a flowchart node?"
Hi all,

I'm trying to create a very basic flow chart - but I'd like to force a smaller height on the nodes. I'm using mermaid via [jekyll-mermaid](https://github.com/jasonbellamy/jekyll-mermaid).

While this works on some desktop browsers (e.g. on my own Chrome), it's creating some incorrect displays on some mobile screens and some PC browsers.

Any suggestions as for a more "correct" way of achi

[2020-01-07 19:20] jgreywolf commented on #1181
For class diagrams the only way to modify the styling is via the steps outlined in documentation here: http://mermaid-js.github.io/mermaid/#/classDiagram?id=styling

Right now it is not possible to set custom styles for specific/discrete class diagram entities.

This is possible for other diagrams, and that functionality could be ported over from somewhere like how flowchart diagram handles this

[2020-01-07 19:24] jgreywolf commented on #1092
So, if I understand correctly - it works correctly if the diagrams are processed in the reverse order?

[2020-01-07 19:43] jgreywolf commented on #1179
FYI - I have the code ready for this, but I havent pushed it yet as it is dependent upon the PR (#1178) for #1119

[2020-01-08 08:58] shpraka opened #1186 "Link is not renderly properly in High Contrast."
**Describe the bug**
Link is not renderly properly in High Contrast. Even in dark theme we can reproduce this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFI7XG5BW01lcm1haWQgbGluayBzdXBwb3J0IGluIEhDXSAtLT4gQlt2aXNpdCBoIGZvcl07Y2xpY2sgQiBcImh0dHBzOi8vd3d3Lmdvb2dsZS5jb21cIiBcIlRoaXMgaXMgYSB

[2020-01-08 09:20] shpraka opened #1187 "Dotted Line not clearly visible in High Contrast Black"
**Describe the bug**
Dotted line is not clearly visible in HCB for default theme.

**To Reproduce**
Steps to reproduce the behavior:
Go to [live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFI7XG5BVFtcInh5elwiXSAtLT4gRFRbXCJhYmNcIl07XG5BVCAuLT4gQVtcIkJcIl0iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ==)

**Expected behavior**
It should be visible in default th

[2020-01-08 10:30] tonytonyjan commented on #117
Today you can use class diagrams to draw an ERD with the latest version of mermaid.

[2020-01-08 11:41] 3esmit commented on #1184
Thanks for approving this issue! Maybe I can help by discussing a MVP for wireframes in mermaid?

The basic elements are:
- label: simply text
- button: text surrounded by brackets
- radio button: like in markdown
- checkbox: like in markdown
- text input: text between double quotes
- drop down: text between
- panel with invisible borders: multiple lines (under indentation) surrounded by starting

[2020-01-08 13:13] GDFaber commented on #743
PR is ready

[2020-01-08 13:32] tonytonyjan commented on #664
I can confirm that this issue still exists with the version 8.4.4

[2020-01-08 17:00] tjrobinson commented on #1175
Re: `crypto-random-string`, see also: https://github.com/mermaid-js/mermaid/issues/1082#issuecomment-555882376

[2020-01-08 17:02] tjrobinson commented on #1175
This isn't my area of expertise, but would this help? https://babeljs.io/docs/en/babel-plugin-transform-arrow-functions

[2020-01-08 17:06] #743 closed

[2020-01-08 17:16] #1152 closed

[2020-01-08 17:58] z3cka commented on #177
ERD! :-)

[2020-01-08 19:14] knsv commented on #1092
I think this was an issue. Then it was fixed but reappeared in develop after the addition of click functions.

It was the removed counter that caused the reappearing issue. I have been working with Ashish for a more intuitive handling of ids where the classDb retains two ids one for the DOM and one for the graph.

[2020-01-08 19:24] chris579 commented on #1175
Right, this **could** be interconnected. However, I fear that this issue goes beyond that.
However, I will put the other issue on hold until this issue is resolved.

[2020-01-08 19:26] chris579 commented on #1082
Probably related to #1175. On hold until the other issue is resolved.

[2020-01-08 19:46] GDFaber commented on #1182
done

[2020-01-08 19:54] jgreywolf commented on #1092
Just looked at the PR referenced here.  I can see where that makes it easier to keep the id consistent between the different sections of code.  I had removed the counter previously because it was not able to identify the correct element since the count part was missing in classRenderer...   :)

[2020-01-08 19:56] #1182 closed

[2020-01-08 20:05] #1092 closed

[2020-01-09 15:22] fgrandel opened #1192 "Class diagram - First character of relation name gets cut off."
**Describe the bug**
When defining a relation without a space between the colon and the relation name, then the first character of the relation is being cut off.

**To Reproduce**
[code]

**Expected behavior**
The relation name should be displayed as "relation"

**Actual behavior**
The relation name is rendered as "elation"

A PR with a proposed fix follows.

[2020-01-09 15:43] fgrandel opened #1193 "Class Diagram - Multiple relations are discarded."
**Describe the bug**
When two classes are related by multiple distinctly labeled relations then only the last relation will actually be rendered.

**To Reproduce**
[code]

**Expected behavior**
Two relations should be rendered with different names.

**Actual behavior**
Only the last relation will be rendered.

As per UML spec multiple relations between classes are allowed, so mermaid should IMHO s

[2020-01-09 15:46] Dunning-Kruger commented on #1193
Live editor sample [here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG4gICAgICBDbGFzc0EgLS0-IENsYXNzQjogcmVsMVxuICAgICAgQ2xhc3NBIC0tPiBDbGFzc0I6IHJlbDIiLCJtZXJtYWlkIjp7InRoZW1lIjoiZGFyayJ9fQ).

[2020-01-09 16:06] Dunning-Kruger commented on #1192
Live editor sample [here](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG4gICAgICBDbGFzc0EgLS0-IENsYXNzQjpyZWxhdGlvbiIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In19).

[2020-01-09 16:13] fgrandel commented on #1193
No idea why the static test fails - seems to be some unrelated setup problem.

[2020-01-09 20:06] joebordes opened #1196 "Node ID appears in flowchart node with "empty" label when a style is used"
Look [at this graph](https://mermaidjs.github.io/mermaid-live-editor/#/view/eyJjb2RlIjoiZ3JhcGggTFJcbkEoKCApKSAtLT58c3RlcCAxfCBCXG5CKCggKSkgLS0-fHN0ZXAgMnwgQygoICkpXG5DKCggKSkgLS0-fHN0ZXAgM3wgRCgoICkpXG5saW5rU3R5bGUgMSBzdHJva2U6Z3JlZW55ZWxsb3csc3Ryb2tlLXdpZHRoOjJweFxuc3R5bGUgQyBmaWxsOmdyZWVueWVsbG93LHN0cm9rZTpncmVlbixzdHJva2Utd2lkdGg6NHB4IiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1bHQifX0)

[code]

![imag

[2020-01-09 20:16] GDFaber commented on #1196
Hi @joebordes,

this has already been fixed and will be included in an upcoming release.

That one is new to me. If the style for node C is removed, it is empty like the others. I would also expect it to be empty if a style is defined.

Thanks for reaching out.

[2020-01-09 20:33] joebordes commented on #1196
1.- Great!!

2.- do you want me to create a bug report?

[2020-01-09 20:44] GDFaber commented on #1196
This issue is now marked as a bug report. I think that's ok because you already provided an example showing the problem.

[2020-01-09 21:43] Dunning-Kruger commented on #1196
We might want to edit the title and opening comment to reflect the bug that still exists only, and exclude the already fixed one.

[2020-01-10 15:46] sappjw commented on #487
It would be nice to have other CSS text attributes available too (i.e., `text-decoration`).

[2020-01-10 16:56] jgreer013 opened #1197 "Tooltip not displaying in Azure Devops and docs"
Tooltip is not displaying next to text in docs, live editor, or azure devops

Here's a link with an example replicating behavior: [Mermaid Live Editor](https://mermaidjs.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiIGdyYXBoIExSO1xuIG1vZGVsW1RoaXMgaXMgYSB0ZXN0XVxuIGNsaWNrIG1vZGVsIG5vQ2FsbGJhY2sgXCJUb29sdGlwXCJcblxuXG4gIiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1bHQifX0)

Tooltip should be displaying ne

[2020-01-12 00:33] jdavis61 commented on #1155
@knsv I personally think allowing mermaidAPI to be imported on its own unnecessary. Or maybe not worth the effort to implement, e.g. doubling the size of the mermaid CDN.

Just my opinion, I am sure there is a valid use case for allowing mermaidAPI to be imported on its own. I just cannot think of  one. I used the below code in a project and it works perfectly.
[code]

This warning does not make a

[2020-01-12 01:55] chris579 commented on #1155
It works for *your* use case. When using view decoupling or mvvm approaches like all modern js framework do, you want to get the rendered svg and inject it into the element on your own.

From a personal standpoint I would never let a library do magic stuff with my page elements. I would generate the svg and inject it into the view on my own. This way I can control it's lifecycle and so on.

[2020-01-12 14:16] GDFaber opened #1200 "Problems with <br /> tags in flowchart label texts"
**Describe the bug**
Line breaks in label texts are not displayed properly if the line break includes a whitespace like ```<br />```. With htmlLabels disabled, only the node labels are affected by this issue, the line labels are ok.

**To Reproduce**
1. see [Live editor example showing the problem](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiICAgIGdyYXBoIExSXG4gICAgQTFbTXVs

[2020-01-12 14:25] Gowa2017 commented on #664
I have the same problem too.

[2020-01-12 18:38] GDFaber commented on #1200
It also looks fine if the security level is set to "loose".

[2020-01-13 10:55] opyate opened #1201 "Open arrow head"
Open arrow heads to denote asynchronous messages as per https://en.m.wikipedia.org/wiki/Sequence_diagram

[2020-01-13 11:01] opyate commented on #1201
Sorry, I initially searched "empty arrow head" and didn't find anything, but I see previous issues for "open arrow head".

[2020-01-13 18:55] #1119 closed

[2020-01-13 22:18] callaertanthony commented on #1193
Hi !
It seems that the solution provided only resolves Class Diagram, is it possible to also consider State Diagram ?
This would offer the possibility for a state to have multiple transitions for a same sink.

[code]

[2020-01-14 05:27] Gowa2017 commented on #664
It's OK when I render gantt.But render graph has same problem.

[2020-01-14 17:35] #1192 closed

[2020-01-14 18:03] jgreywolf commented on #920
This looks to be a duplicate of #494

[2020-01-14 20:37] GDFaber commented on #1196
PR coming up.

[2020-01-15 13:38] securitygeneration opened #1205 "Sequence Diagram Activations error"
**Describe the bug**
Deactivating an inactive Participant throws an uninformative error. With complex flows that have lots of activations and deactivations, it can be easy to get lost with which are active at any given point in time. Some indication as to which line threw the error would be useful.

**To Reproduce**
The following code:
[code]

Produces error:
[code]

**Expected behavior**
A more u

[2020-01-15 15:53] #1200 closed

[2020-01-15 17:27] #1196 closed

[2020-01-15 17:29] #1193 closed

[2020-01-15 18:11] knsv commented on #1205
I can see how this could be a problem. I will take a look at this.

[2020-01-15 18:31] ashishjain0512 opened #1206 "Editing a classDiagram may crash the browser tab (tab becomes unresponsive)"
Adding a class definition to a class diagram may crash the browser tab so that it becomes unresponsive and has to be closed.
The URL is updated, so if we copy that before closing the tab, we can open the editor again with the full diagram.

Steps to reproduce: With google chrome 79.0.3945.117, live-editor is 8.4.5, enter the following diagram code:

[code]

Now try to enter `class A {` in a line b

[2020-01-15 19:48] #1205 closed

[2020-01-15 19:55] #1206 closed

[2020-01-16 09:36] aeneasr opened #1209 "Subgraph label spacing is missing left/right and bottom spacing"
**Describe the bug**

When creating a flowchart with multiple nested subgraphs, spacing is missing below the label (see screenshot section). Additionally, when the subgraph is narrow, there is spacing missing on the left and right of the label.

**To Reproduce**
Check out this [live editor link](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcblxuc3ViZ3JhcGggcGlbUHV

[2020-01-16 10:02] securitygeneration opened #1210 "Option to hide unused sequence diagram participants"
**Describe the solution you'd like**
When creating sequence diagrams, I commonly re-use my entire participant list, so that I can easily reference any actor in my solution as-and-when needed for this particular sequence flow. Mermaid, however, displays all participants, irrespective of whether they were actually used in the flow, meaning I have to go and manually remove the superfluous participant

[2020-01-16 11:57] sudhakar-sekar opened #1211 "Problem wit click event callback in Angular 7 + Typescript"
Hi,

thanks for the super cool mermaid.
I have a questions, because i have problems to set a click event to a Node.

Mermaid   :  v8.4.5
Angular     :  v7.2.4
TypeScript : v3.2.4

Graph Code:

        graph LR
        A --> B
        B --> C

        click A callBackFn

TS Code:
  callBackFn(nodeId) {
     console.log('Hit callBackFn', nodeId);
  }

Here, attached the error image,

![image](https:

[2020-01-16 12:16] chris579 commented on #1211
Please show us a broader sample of what you are doing. Angular uses view decoupling and therefore it might be impossible to use callbacks with Angular.

[2020-01-17 04:04] sudhakar-sekar commented on #1211
Hi @chris579,

I am trying to call the typescript method from node or on node click, need to navigate from page 1 to page 2.

Is either one possible in mermaid using angular and typescript?

[2020-01-17 10:02] chris579 commented on #1211
We can't help you without a sample.

[2020-01-17 15:22] GDFaber commented on #487
Hi @sappjw, I agree but would like to leave this issue to setting the text color only. Feel free to open another issue for the settings you consider most preferable.

[2020-01-17 22:38] vcarl commented on #1183
I pretty briefly dug into this because I was alarmed to find that `gatsby-remark-mermaid` was rendering them using puppeteer, and I was surprised to find such a heavy reliance on DOM APIs to construct the final SVGs. This seems like it would essentially boil down into a full rewrite because of how thoroughly mermaid assumes it's in a browser environment.

[2020-01-18 02:07] GDFaber commented on #487
The SVG attribute for text color is also ```fill``` which is already used to style the node itself. As ```color``` is already used as a workaround, I would like to keep it that way and use the ```color``` settings for disabled htmlLabels as well (it is then turned into ```fill``` for the ```text``` objects in the node). I'm going to submit a PR this weekend.

[2020-01-18 16:33] alessandrocaprarelli commented on #117
Hi @tonytonyjan , yes class diagram can be used but many ERD features are missing. It would be amazing to have at least different visibility for primary key, not null, unique.

[2020-01-19 16:55] GDFaber opened #1212 "Class definition is not applied to flowchart nodes with links"
**Describe the bug**
If a classDef is assigned to a node which has a link defined, the style is not applied to it.

**To Reproduce**
Steps to reproduce the behavior:
[Live editor example](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiICAgICAgZ3JhcGggVERcbiAgICAgICAgQVtDaHJpc3RtYXNdIC0tPnxHZXQgbW9uZXl8IEIoR28gc2hvcHBpbmcpXG4gICAgICAgIEIgLS0-IEN7e0xldCBtZSB0aGluay4uLjxici8-RG8g

[2020-01-19 16:56] GDFaber commented on #1212
PR coming up.

[2020-01-19 17:03] ssbarnea opened #1213 "class and click are mutually exclusive"
I discovered that I cannot use `class` and `click` directives on the same nodes because only one of them will take effect.

[code]

[2020-01-19 17:15] GDFaber commented on #1213
Hi @ssbarnea, thank you for reaching out. This is a bug which is currently being fixed in #1212.

[2020-01-19 17:28] GDFaber commented on #1213
I just tested your example with the PR for #1212 to be sure it solves the problem (which it does). Yould you agree on clising this issue as a duplicate?

[2020-01-19 17:32] #1213 closed

[2020-01-22 16:59] #1212 closed

[2020-01-23 10:08] rand0me commented on #1211
Hey @sudhakar-sekar it looks like your `callBackFn` is in inner scope of a module. As I know, **mermaid** looks for a callback in `window` scope. The most simple solution would be to do this in your TS file:
[code]
But I don't recommend to put any callbacks in `window`, so it would be great to refactor the code somehow after you make it work

[2020-01-23 11:06] j4nos opened #1215 "Wrong rendered class diagram"
This is the diagram:

[code]

And rendered like this:

<img width="660" alt="Képernyőfotó 2020-01-23 - 12 05 27" src="https://user-images.githubusercontent.com/11924475/72979507-c5dc4980-3dd8-11ea-8434-67b62f8467bf.png">

[2020-01-23 13:54] rajat-gl opened #1216 "Mermaid hangs up current page on large inputs"
**Overview**
When we send in large input to Mermaid for rendering, mermaid hangs up the entire page which results in page being unresponsive.

Implications can be huge when a website saves the mermaid code and displays it to different users. This can cause a denial of service attack.

**Problematic scenario**

- A user enters an unusually large mermaid code:
[mermaid.txt](https://github.com/mermai

[2020-01-23 17:22] slickplaid opened #1217 "StateDiagram `state as` matches any word starting with `as` as an error"
**Overview**

Syntax error handling improperly matches words beginning with `as` as matching token `AS` in `stateDiagram`'s `state` definition.

**Problematic scenario**

Any word used that matches `[aA][sS].+` improperly matches the `AS` token and throws a syntax error.

**To Reproduce**

https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic3RhdGVEaWFncmFtXG4gICAgYXNzZW1ibGVcbiAgI

[2020-01-23 20:52] commonsguy opened #1218 ""#id" Syntax Not Working for Flowchart Click Events"
#689 suggests that `"#id"` should work in `click` to jump to another portion of the current page. This does not appear to be working.

**To Reproduce**

Steps to reproduce the behavior:

1. UnZIP [MermaidIdSyntaxIssue.zip](https://github.com/mermaid-js/mermaid/files/4105342/MermaidIdSyntaxIssue.zip), which will give you a `mermaid-test.html` file, pulling in `https://unpkg.com/mermaid@8.4.6/dist/m

[2020-01-23 21:26] knsv commented on #1216
That was a seriously large diagram. Thanks for reporting this. Even if the diagram is to large it should not hand the page, better to refuse stating that the diagram is to large or similar.

[2020-01-23 21:26] jgreywolf commented on #1215
Adding example in live editor that better displays full picture (right side of diagram is getting cut off)

https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiY2xhc3NEaWFncmFtXG5jbGFzcyBBdWRpdG9yaXVte1xuICBTdHJpbmcgbmFtZVxufVxuY2xhc3MgUHJpY2VTZWN0b3J7XG4gIFN0cmluZyBwcmljZVxufVxuY2xhc3MgU2VjdG9ye1xuICBTdHJpbmcgbmFtZVxufVxuY2xhc3MgU2VhdHtcbiAgRmxvYXQgeFxuICBGbG9hdCB5XG59XG5jbGFzcyBF

[2020-01-23 21:31] jgreywolf commented on #1215
Duplicate of #1058

[2020-01-23 21:48] jgreywolf commented on #1218
It looks like this could be due to security settings (see [documentation](https://mermaid-js.github.io/mermaid/#/flowchart?id=interaction)) . Specifically, if securityLevel='strict' then all links will be changed to `about:blank`.

However, if you changed it to a plain URL and everything worked fine, then I'm a little less sure...

[2020-01-23 21:49] commonsguy commented on #1218
I have:

[code]

So, AFAIK, I already have it set to `loose`.

[2020-01-24 10:13] j4nos commented on #1215
So what can I do to increase viewport? :)

[2020-01-24 13:04] GDFaber commented on #1218
There seems to be a problem concerning click events via function names as well, I'll open a new issue for that. But since this is issue also about click events in flowcharts, I also assign me here.

[2020-01-24 13:09] GDFaber opened #1220 "Flowchart click events with function names do not work in mermaid 8.4.6"
**Describe the bug**
Click events don't seem to work anymore in mermaid 8.4.6; when I tested the interaction example from the docs in the live editor, I got the error `Uncaught TypeError: window[t] is not a function at SVGGElement.<anonymous> (bundle.js:72)` when clicking on the left node.

**To Reproduce**
Steps to reproduce the behavior:
1. [Go to live-editor example](https://mermaid-js.github.i

[2020-01-25 12:18] knsv commented on #1216
Been looking at this one and it turns out that the parser is ok. I first thought that was the critical point but instead it was generating that large amount of nodes in the DOM when rendering the svg.

I see two ways of handling this. Either I limit the diagram on the text size or by the number of generated DOM elements.

The size method is more generic and can be done for all diagrams before the

[2020-01-25 12:33] knsv commented on #1216
This fix will be included in 8.4.7

[2020-01-27 09:11] FxIII opened #1223 "StateDiagram multiple transitions"
**Expectation**
As a state diagram editor,
I want to connect the same two nodes through additional named transitions

**To Reproduce**
[code]

**Current behaviour**
The second transition overwrites the previous one.

[2020-01-27 10:37] spbert29 opened #1224 "Subgraph Coloring"
I am not sure if this is a feature request but i think so.
At the moment there is no easy way to color subgraphs - at big processes which i want to visualize, there are a lot of subgraphs and you simply loose the overview if each single subgraph has got the same fill color

![image](https://user-images.githubusercontent.com/42182294/73167788-d0f4e980-40f8-11ea-824e-3526cae894f0.png)

I would like

[2020-01-27 17:47] jgreywolf commented on #1215
Closing as duplicate - I am starting to work on #1058 now

[2020-01-27 17:47] #1215 closed

[2020-01-27 19:01] #487 closed

[2020-01-27 19:01] #1216 closed

[2020-01-27 19:13] #1218 closed

[2020-01-27 19:14] #1058 closed

[2020-01-28 08:49] securitygeneration opened #1226 "Adding watermark/document security rating to generated diagrams"
**Describe the solution you'd like**
I'd like to be able to add a watermark or document security rating to the diagrams. For example, something that can live in the header/footer somewhere.

**Describe alternatives you've considered**
Not sure if this otherwise has to be done with CSS?

[2020-01-28 13:50] cristeab opened #1227 "New diagram type: network topology"
**Is your feature request related to a problem? Please describe.**
I need to create simple network topologies for testing frameworks involving multiple VMs and switches.

**Describe the solution you'd like**
Simple diagrams showing network connections between the VMs and switches, see this link for some samples: https://github.com/Azure/sonic-mgmt/blob/master/ansible/doc/README.testbed.Topology.md

[2020-01-28 18:06] carlosblanco opened #1228 "Support dashes (-) as part of the actor names in the sequence diagrams"
Support dashes (-) as part of the actor names in the sequence diagrams

Ability to have actors with dash in the names.

`data-client-->data-source: Fetch Data `

[2020-01-29 11:08] pothitos commented on #556
Until this issue is resolved, this is another workaround that applies to the left-to-right graphs too.

[code]

which uses a `subgraph` to display something like

[![Graph with caption](https://mermaid.ink/img/eyJjb2RlIjoiZ3JhcGggTFJcbiAgc3ViZ3JhcGggVGhpcyBpcyBteSBjYXB0aW9uXG4gICAgQSAtLT4gQlxuICBlbmRcbiIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In19)](https://mermaid-js.github.io/mermaid-live-editor/#/

[2020-01-29 13:13] shebanian commented on #1209
Also when you put a `<br/>` in the description of the subgraph it does not fit, and the spacing is not changing. Style css options with padding and margin also do not work.

@aeneasr As a work arround i alwasys use an empty subgraph in the subgraph to create more spacing. https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcblxuc3ViZ3JhcGggcGlbUHVibGljIEludGVybmV0XVxuICA

[2020-01-29 16:28] knsv commented on #1226
I guess the trick would be to make it non removable. Open for ideas.

[2020-01-29 16:28] knsv commented on #1224
Good idea. This should be implemented.

[2020-01-29 19:03] knsv commented on #1223
That makes sense! I added multigraph capabilities to stateDiagrams. This will be available from 8.4.7. It looks a but cramped in your example:
![image](https://user-images.githubusercontent.com/5837277/73388325-51227700-42d2-11ea-95f3-6d6e710bdbb2.png)

This is due to the grade layout mechanism and is hard to fix. It does look good in other examplesthough like the one below:
![image](https://user-

[2020-01-29 19:24] #1217 closed

[2020-01-29 20:02] #1223 closed

[2020-01-29 20:08] #1179 closed

[2020-01-30 07:38] GDFaber commented on #1220
After fiddling with dist/index.html some more, it turned out that the click events work for flowcharts as well as for gantt. I found out by removing everything else from the file and testing only one flowchart/gantt diagram.

However, the flowchart click events don't work if I leave the file as it is (except setting `securityLevel: 'loose'`). I'm going to investigate this further, but I guess this

[2020-01-30 07:38] #1220 closed

[2020-01-30 11:58] Raboo opened #1231 "Duplicate objects in two directions"
I want to write a diagram or flowchart in two directions like this ascii with duplicate boxes(objects).

[code]

The closest thing I can do in mermaid is
[code]
And it ends up looking like this:
![Screenshot 2020-01-30 at 11 52 20](https://user-images.githubusercontent.com/1148206/73443547-2f1f0800-4357-11ea-903b-d98182ce7ff4.png)

So my question is, can I make the two subgraphs align next to each

[2020-01-30 14:12] ghost opened #1232 "Angular 8, mermaid not working properly"
**Describe the bug**
When rendered, the sequence diagram only shows one arrow and other arrows are mashed up into one string and put into title of the first arrow
**To Reproduce**
Found one in earlier [issue](https://github.com/mermaid-js/mermaid/issues/979) awnser, the stackblitz [here](https://stackblitz.com/edit/angular-markdown-mermaid-7jfvvh?file=src%2Fapp%2Fapp.component.ts)

**Expected beha

[2020-01-30 15:12] MechMK1 opened #1233 "Is it possible to move the labels closer to the nodes in Flowcharts?"
I would like to create a flowchart with text on a connecting line. However, sometimes the lines are very long and the text of the line is in the middle of the line, rather than close to the node with the decision. Here is an example to illustrate this:

![Image of Yaktocat](https://mermaid.ink/img/eyJjb2RlIjoiZ3JhcGggVERcbiAgICBEZWNpc2lvbntTb21lIERlY2lzaW9ufVxuICAgIENvbW1vbihOZXh0IENvbW1vbiBUaGluZ

[2020-01-30 18:26] jgreywolf opened #1234 "Refactor support for class diagram scaling"
Refactor the class diagram scaling to check if x position of edges goes beyond the dimensions of the viewport, and only then apply the scaling if true

[2020-01-31 14:06] PaoloneM opened #1235 "Cli error rendering stateDiagram on MacOs"
**Describe the bug**
Error generating image from .mmd with mmdc installed via npm when input file starts with a state diagram:
[code]

**To Reproduce**
Steps to reproduce the behavior:
Test.mmd file content:
[code]
Command line:
[code]

**Expected behavior**
Test.png is rendered

**Desktop (please complete the following information):**
 - OS: macOS Catalina 10.15.2
 - Node version: v10.16.0 and v1

[2020-02-01 05:04] VivekKPatel commented on #1007
This is irrelavent to mermaid, but i want to know what software you are using for documentation.

[2020-02-01 07:46] zodapoplinsky commented on #1007
It is **not Irrelevant to us**. This is a big problem (as is the lack of support for IE and other older browsers)

[2020-02-01 07:53] VivekKPatel commented on #1007
@znxkznxk1030  you misunderstood, I need to write documentation for one of my software, I am planning to use [mkdocs](https://www.mkdocs.org/) to Generate Static HTML site and host it on my server. I want to know what documentation tool did you use?

[2020-02-01 12:31] GDFaber commented on #962
I'll give this one a try next.

[2020-02-02 20:57] GDFaber opened #1236 "Flowchart arrow heads are not colored according to linkStyle settings"
**Describe the bug**
The arrow head color is not affected by link style `stroke` settings.

**To Reproduce**
Steps to reproduce the behavior:
see [live editor example](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkEgLS0-IEJcbmxpbmtTdHlsZSAwIHN0cm9rZTpyZWRcbiIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9)

**Expected behavior**
Arrow heads

[2020-02-02 21:09] GDFaber commented on #962
My PR adds the possibility to set the text color of line labels by `color` setting in the link style. I'll create new issues for the other topics mentioned here.

[2020-02-02 21:11] GDFaber commented on #962
Hi @georgelichen, please refer to #1236 for arrow heads styling.

[2020-02-02 21:16] GDFaber opened #1237 "Flowchart link box styling is lost if a link style other than "default" is applied"
**Describe the bug**
This issue was mentioned in #962 by @ex-nerd:

[2020-02-02 22:18] GDFaber commented on #962
This is not ready yet, I'll move the `styleFromStyleArr` function to utils.js and modify it to return style and labelStyle in one go so it doesn't need to go through all settings twice.

[2020-02-03 05:08] rishabh09 commented on #36
one more year

[2020-02-03 15:01] Tnze commented on #615
I saw this before I was going to create an issue.🧐

[2020-02-03 15:15] Tnze opened #1239 "New diagram type: timing diagram"
**Is your feature request related to a problem? Please describe.**
I hope that Mermaid can draw this kind of diagram to show how one or more pins of electronic devices work in embedded development.

**Describe the solution you'd like**
[code]
Of course, the specific grammar needs to be discussed and determined

**Describe alternatives you've considered**
[Wavedrom](https://github.com/wavedrom/wave

[2020-02-04 00:01] jgreywolf opened #1240 "Refactor: move class diagram DOM code to separate module"
Refactor class diagram render to use separate file for DOM draw actions: to improve readability and prepare for future functionality additions

[2020-02-04 09:44] Redcxx opened #1242 "How to add styling for link text?"
I am using typora to write notes, but my background is dark and the link text is black which make it hard to read, may I know how to style the link text?
![my problem image](https://i.ibb.co/crYPWyc/image.png)

[2020-02-04 09:47] GDFaber commented on #1174
Hi @retsyo, feel free to ask if you need further information on this topic.
If you feel like your questions have been answered, would you agree to close this issue?

[2020-02-04 09:47] GDFaber commented on #1111
Hi @retsyo, feel free to ask if you need further information on this topic.
If you feel like your questions have been answered, would you agree to close this issue?

[2020-02-04 09:53] GDFaber commented on #1242
Hi @Redcxx, thank you for reaching out.

Styling the text color of nodes and links has just been added lately and will be part of an upcoming release.

For further information you can refer to:
#962 (this is what should solve the problem you stated)
#487 (this is about changing the text color of the nodes)

[2020-02-04 10:09] Redcxx commented on #1242
I have added the line  `linkStyle default color:#ffffff` and it should work after the release.
Thanks for the quick reply and help!

[2020-02-05 01:59] rajasekaran2003 opened #1243 "SyntaxError: Malformed arrow function parameter list"
Getting this syntax error after updating the package from 8.3.1 to 8.4.x. All the 8.4's are throwing this error.

Did any syntax change or is this an error with the minified js?

[2020-02-05 15:23] knsv commented on #1243
Thanks for your report, could you please supply a little more info so that we can try to reporoduce the issue?

[2020-02-05 16:11] jcgleissner opened #1244 "Allow gitGraph commit.id to be set"
**Is your feature request related to a problem? Please describe.**
I am always pushing for people to move from SVN or other types of no-versioning-systems to git. To do this a graphic representation does wonders. Mermaid is in a form that makes lends itself to a somewhat

**Describe the solution you'd like**
I'd like to be able to set the id for git commits to a given string. This way I could use

[2020-02-05 16:14] jcgleissner commented on #1244
I'm also up to implement it myself, but might need some pointers.

[2020-02-05 18:29] knsv commented on #1224
This fix will make sure the assigned class set in the diagram is applied to the subgraph in the DOM element. This will make it easy to apply external styling to that class as well as setting the background.

It will not however be sufficient to set the text color. The text color in svgs are set by the fill property which would apply to both the rect and and the title label.

My suggested improveme

[2020-02-05 18:36] #962 closed

[2020-02-05 18:37] GDFaber commented on #1224
That's what we did to enable coloring the text in nodes and link labels, so it would also be consistent. I have a PR for the link labels which adds the method `stylesFromArray` to utils.js, maybe it qualifies here as well.

[2020-02-05 18:42] #1240 closed

[2020-02-05 18:50] knsv commented on #1224
Great, consistency! Must keep it simple for the diagram authors. Will take a look at stylesFromArray.

[2020-02-05 19:06] #1224 closed

[2020-02-05 19:12] knsv commented on #1244
Sounds great! Let me/us know how we can help. It might be a good idea to joi our slack forum. Thats a good place to get in touch. If you do that give me a ping.

[2020-02-05 19:17] knsv commented on #1244
BTW: We looked at the gitGraph recently and concluded that there are some general improvements that need to happen as well. Maybe we can tag team it as in split it up:
* Update grammar for parsing and data gathering
* Update/rewrite rendering

[2020-02-06 02:03] rajasekaran2003 commented on #1243
I'm using mermaid in a web project and I have bundle and minify turned on - https://docs.microsoft.com/en-us/aspnet/core/client-side/bundling-and-minification?view=aspnetcore-3.1&tabs=visual-studio

Nothing fancy with minify. just default of what visual studio provides. I tried it with a very basic loading of mermaid and that fails with the above error.

on the same web project, I'm able to load t

[2020-02-06 02:34] rajasekaran2003 commented on #1243
[sampleApp.zip](https://github.com/mermaid-js/mermaid/files/4162945/sampleApp.zip)

[2020-02-06 20:04] ihabawad opened #1246 "Sequence diagram creation and destruction"
Please support the object "creation" and "destruction" visualizations for sequence diagrams. These are super important for representing the lifecycles of objects, and lifecycles are, in turn, very usefully represented in sequence diagrams!

![Example](https://user-images.githubusercontent.com/14828452/73974148-b3820580-48d8-11ea-9ca1-afab008845d0.png)

[2020-02-06 22:52] azawawi commented on #1227
@cristeab Do you have more ideas/examples for this one? I am willing to help out as I need this one as well.

[2020-02-07 04:23] DCsunset opened #1247 ""window is not defined" when used with Server Side Rendering"
**Describe the bug**
Due to webpack issue https://github.com/webpack/webpack/issues/6784,
the error "window is not defined" occurs when used with Server Sider Rendering (SSR).

**To Reproduce**
Configure SSR correctly and import this package.

[2020-02-07 21:58] DireFolly opened #1249 "Block Comments"
**Describe the solution you'd like**
Block Commenting for verbose explanations and pasting large bodies of text would be very helpful.

Something like:

%%*
Blah blah, blah.

Blah?

Blah.
*%%

**Additional context**
My team uses mermaid & git to document and version control complex processes where there is often a need for detailed explanations.

[2020-02-09 06:32] coreblocks commented on #1239
I too would love to see mermaid integrate timing diagrams. Perhaps it could be based on the gantt chart codebase?

[2020-02-09 06:44] Tnze commented on #1239
I'm not familiar with JS or jison. Otherwise, I would like to study how to add a new type.

[2020-02-10 16:02] securitygeneration commented on #1226
Making it non-removable won't be a possibility with the code/SVGs, but at least you can then easily convert those to PDF/JPG to bake everything in. More of convenience than a baked-in watermark.

[2020-02-11 06:02] #1247 closed

[2020-02-11 17:48] jrcharney opened #1250 "Better control over flowchart shape sizes, title text for charts"
I've been using Mermaid in Typora for a couple of months now as well on the live editor to see if there is something in Typora that is not working yet.

After taking a look at the source code for the Flow Chart shapes, one of the most vexing issues is how decisions ("questions"?) are rendered in diamonds.

Often I feel like they get too big, even when using `<br>` for line breaks to wrap the text.

[2020-02-11 18:35] GDFaber commented on #1250
Adding titles for flowchart diagrams relates to #556.

[2020-02-11 19:12] jrcharney commented on #1250
Good to know. Add it to documentation.

Now there's just the request for better shape size controls to deal with.

[2020-02-12 14:22] gildasio commented on #1227
It would be so nice!!

@azawawi I think that something similar to flowchart as a notation like this:

[code]

Generate something like this:

![image](https://user-images.githubusercontent.com/6231305/74343227-81195200-4d89-11ea-8d30-b452f70b95c1.png)

This image above I created with LibreOffice and [VRT extension](https://extensions.libreoffice.org/extensions/vrt-network-equipment).

[2020-02-12 15:22] jgroom33 opened #1251 "rackdraw diagram"
Support a new graph type of `rack` which will function like this:

http://blockdiag.com/en/nwdiag/rackdiag-examples.html

[2020-02-12 15:58] knsv commented on #1250
I would suggest usage of the hexagon shape:
https://mermaid-js.github.io/mermaid/#/flowchart?id=a-hexagon-node

Its not strictly a rectangle but I thing it is more practical:
![image](https://user-images.githubusercontent.com/5837277/74352491-e2a4e500-4db8-11ea-9f0b-527de02c0c4c.png)

[2020-02-12 20:34] knsv opened #1252 "Refactor gitGraph"
Make it it less error prone and add some rendering possibilities

* arrows or not
* ids or not

etc

[2020-02-13 03:07] DTHerrera opened #1253 "Architecture diagram with Tier layer"
Hello, I am new using Mermaid and want to ask if there is the possibility of generating physical architecture diagrams, like the one shown in the attached image.

![Architecture_01](https://user-images.githubusercontent.com/36610780/74397924-78516c00-4ddb-11ea-99a2-d2ab466097dd.png)

thank you so much for your support
Domingo Tapia

[2020-02-13 19:48] mvandermade opened #1255 "[classDef] Suggestion: extend classDef with default shape"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when I use a class (for example ":::redis" which gives it a yellow colour) I need to manually shape each node. Example:
[code]

**Describe the solution you'd like**
To simplify using a syntax where the classDef also contains the shape

[code]

**Describe alternatives you've considered**
Copy paste a lot

**Additional

[2020-02-14 17:45] andrejpk commented on #1227
It would be useful for cloud situations to allow including some network context (e.g. VNet/VPC). This could be done with indentation like how State diagrams show nexted states.

Also including IP addresses and other metadata is important for some situations. Markup/notes would also be important it some diagrams.

[2020-02-14 17:52] andrejpk commented on #1227
[code]

[2020-02-14 18:09] cristeab commented on #1227
@azawawi I am thinking at something more detailed, like showing how the physical ports of each switch / network device are connected:

networkDiagram
link:
  startDevice: str-msn2700-01
  startPort: Ethernet0
  endDevice: str-7260-10
  endPort: Ethernet1
  bandwidth: 40000
  vlanId: 1681
  vlanMode: access
link:
  startDevice: str-7260-11
  startPort: Ethernet30
  endDevice: str-7260-10
  endPort:

[2020-02-15 18:30] jerryc127 opened #1256 "how to add a scrollbar to gantt diagram in mobile?"
## Help us help you!
You want an answer. Here are some ways to get it quicker:
* Use a clear and concise title.
* Try to pose a clear and concise question.
* Include as much, or as little, code as necessary.
* Don't be shy to give us some screenshots, if it helps!

![image](https://user-images.githubusercontent.com/16351105/74593196-a943d200-5063-11ea-87a8-1a3569818987.png)

the date will mix toge

[2020-02-16 13:36] goutham2688 opened #1257 "cannot add autonumber in sequence diagrams"
cannot add autonumber in sequence diagram's

**Steps to reproduce the behavior:**
1. GoTo Mermaid live editor
2. click on sequence diagrams
3. add "autonumber" tag on top of the sequence
4. "Syntax error" was shown in the editor

**Expected behavior**
Seems like this feature is already implemented per PR#722

**Screenshots**
![2020-02-16 08_34_59-Mermaid live editor](https://user-images.githubuser

[2020-02-16 13:52] knsv commented on #1257
Thanks for this report.

This was not so well documented in the md files and there is no rendering tests for the functionality.

The current approach is to add this configuration sitewide. Like below:
[code]
 I like the approach with turning it on/off per diagram with the keyword autonumber better so I will repair the and modify the functionality for 8.4.8

[2020-02-16 16:14] #1257 closed

[2020-02-16 21:16] GDFaber commented on #1242
This works in 8.4.7, I just tested in the [live-editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggTFJcbkEoXCJQZXJjZXB0aW9uXCIpIC0tPiB8Y29udmVydHxCKFwiUmVwcmVzZW50YXRpb25cIilcbkMoXCJQZXJmb3JtIEFsZ29yaXRobXVzIC8gYW5hbHl6ZVwiKSAtLT4gQlxubGlua1N0eWxlIGRlZmF1bHQgY29sb3I6I2YwMFxuIiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1bHQifSwidXBkYXRlRWRpdG9yIjpmYWxzZX0) to be sure.

[2020-02-16 21:16] #1242 closed

[2020-02-16 23:50] GDFaber commented on #1174
I think we can close this issue, feel free to open a new one if you run into problems.

[2020-02-16 23:50] #1174 closed

[2020-02-16 23:51] GDFaber commented on #1111
I think we can close this issue, feel free to open a new one if you run into problems.

[2020-02-16 23:51] #1111 closed

[2020-02-16 23:57] GDFaber commented on #893
This issue has already been solved by #974 which was merged in October 2019, so  we can close here.

[2020-02-16 23:57] #893 closed

[2020-02-17 00:25] GDFaber commented on #1135
To be honest, I wouldn't consider this a problem being directly related to mermaid. I just tried the [example in the live-editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbkRJUihcIjxpbWcgc3JjPSdodHRwczovL2ljb25zY291dC5jb20vbXMtaWNvbi0zMTB4MzEwLnBuZycgd2lkdGg9JzMwJyAvPlwiKVxuIiwibWVybWFpZCI6eyJ0aGVtZSI6ImRlZmF1bHQiLCJzZWN1cml0eUxldmVsIjoibG9vc2UiLCJmbG93Y2hhcn

[2020-02-17 00:25] #1135 closed

[2020-02-17 01:00] andrejpk commented on #1227
I think it would better to let the user add arbitrary name/value details instead of trying to think of and standardize every kind of metadata.

Maybe have two ways to define meta; a short line-liner or a list of name=value pairs:

[code]

[2020-02-17 08:21] knsv commented on #1255
It sounds like you are looking for the class statement:
[code]

With it you can apply a class to a list of nodes as in the example above.

[2020-02-17 09:42] mvandermade commented on #1255
The class statement is indeed helpful to know, thanks !

Is there also a way to apply shapes to an array of objects ?

I didn't see a way to do that using classDef.

So I can achieve the following:
![image](https://user-images.githubusercontent.com/33425497/74639118-9d443700-516d-11ea-9884-fb7344be170f.png)

https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgY2xhc3

[2020-02-17 12:52] ixdi opened #1261 "Some annoying console.log in the latest release"
Hi,
In the latest release 8.4.7 there are some annoying console.log. Is it possible to remove them?
(specially the console.log(style))
Thanks!

[2020-02-17 17:43] jerryc127 commented on #1261
yes. i also find this
![image](https://user-images.githubusercontent.com/16351105/74675968-d329ff80-51ef-11ea-9baf-78bb6c4f3426.png)

[2020-02-17 17:49] jgreywolf commented on #1227
Can someone provide another example of how something like this would look?  I am not seeing how the examples shared in the first post are different than using flowchart, kind of like:...

Actually, forget that part.  I tried to do this using flowcharts, both with and without a subgraph, and while it _sort of worked_, it did not look very nice

[2020-02-17 17:49] jgreywolf commented on #1227
Sorry - wrong button

[2020-02-17 19:18] meshula commented on #1227
In case it gives you ideas, I wrote this for my own use - https://github.com/meshula/Wires - it's got an extensive vocabulary and rule set for parsing graphs and attributes, documented in the readme. Here's some samples:

[code]

[2020-02-18 16:19] jrcharney commented on #1250
While that is a resourceful idea, that is not what the elongated hexagons are used for.

[This guide](https://www.rff.com/flowchart_shapes.php) shows what each of the flowchart symbols are used for. And while it states that IBM ([who developed the flowchart shapes](http://web.eah-jena.de/~kleine/history/software/IBM-FlowchartingTechniques-GC20-8152-1.pdf)) now discourages the use of the elongated

[2020-02-19 14:09] peaceshi opened #1263 "Responsive layout for multiple display devices"
phone:
![image](https://user-images.githubusercontent.com/10380828/74841157-253f6200-5363-11ea-9d7a-989a4734bb69.png)
PC:
![image](https://user-images.githubusercontent.com/10380828/74841198-3ee0a980-5363-11ea-8574-86ac69820317.png)
https://peaceshi.github.io/GameProgrammingPatterns/02%E6%9E%B6%E6%9E%84%EF%BC%8C%E6%80%A7%E8%83%BD%E5%92%8C%E6%B8%B8%E6%88%8F.html

[2020-02-19 16:08] knsv commented on #1201
Here are the current syntax for arrows:

Type | Description
-- | --
-> | Solid line without arrow
--> | Dotted line without arrow
->> | Solid line with arrowhead
-->> | Dotted line with arrowhead
-x | Solid line with a cross at the end (async)
--x | Dotted line with a cross at the end (async)

The obvious syntax would be `->`. That one is occupied though and we cant make the existing diagrams chan

[2020-02-19 16:09] knsv commented on #1201
A bit concerned with -o as maybe we want arrows ending with a circle one of these days...

[2020-02-19 16:27] jensenbox opened #1264 "Need a list of software that can us MermaidJS"
I think a portion of the readme should either list or link out to a lost of all software that can use MermaidJS.

The 'how" of integration would be awesome as well.

[2020-02-19 17:36] jgreywolf commented on #1201
I was looking at using -o for the _lolipop_ functionality in class diagrams...

[2020-02-20 05:41] chen4221 opened #1265 "How to declares the direction of the subgraph layout?"
Can you help me?
How to declares the direction of the subgraph layout?
[code]
[code]
tks!

[2020-02-20 06:57] knsv commented on #1261
Sorry about that. There will be an 8.4.7 update fixing that soon.

[2020-02-20 14:24] ashrafteleb commented on #1175
To fully support IE11, we should include Mermaid dependencies also

I've changed the file `webpack.config.base.js` and added libraries used in package.json that is not clearly compatible with IE11
[code]

With this change, the mermaid.min.js loads without errors, flowcharts and sequence diagrams work, BUT, other types of diagrams (e.g., Gantt, Class, ...) doesn't work and cause JS errors in the co

[2020-02-21 08:34] forAllBright opened #1266 "Request: support escape character in state diagram"
Some characters, like `.` or `#`, can not be escaped in state diagram, but it will be helpful if we want name the state name of `self.newstate` or some like this.

[2020-02-21 09:23] #1261 closed

[2020-02-21 20:38] jgreywolf commented on #1181
I am currently working on an implementation for this, using the styling functionality from flowcharts as a base

[2020-02-21 20:39] jgreywolf commented on #1169
We have a utility module, should we add things like this here, or not, as this would be common functionality more diagram specific?

[2020-02-21 21:40] GDFaber commented on #684
Let's fix `classDef default` rather than update the docs. As @kohenkatz stated above, it is less error-prone than using 'classDef node` for this purpose. PR coming up this weekend if all goes well.

[2020-02-21 22:34] Pyrolistical opened #1269 "State transition label renders incorrect on safari"
**To Reproduce**
https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic3RhdGVEaWFncmFtXG5cbkEgLS0-IEIgOiB0aGlzIHRleHQgY2F1c2VzIHRoZSByZW5kZXJpbmcgYnVnXG4iLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ

This is what it looks like on Safari
![Screen Shot 2020-02-21 at 14 29 38](https://user-images.githubusercontent.com/463642/75077310-2f727500-54b7-11ea-9a8f-f1ac8d0dbabe.png)

**Expected

[2020-02-22 18:34] mvandermade commented on #1227
So you just want to put a picture/icon instead of a box ?

Tip:
You could also use fontawesome icons and shapes:
<img width="653" alt="image" src="https://user-images.githubusercontent.com/33425497/75097357-3f1eb600-55aa-11ea-9188-e03b2282c5f8.png">

https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcbiAgQiAtLT4gQ3tMZXQgbWUgdGhpbmt9XG4gIEMgLS0-fE9uZXwgRFtMYXB0b3BdXG4gI

[2020-02-22 18:40] mvandermade commented on #1264
Are you looking for something like this?
https://www.npmjs.com/browse/depended/mermaid

[2020-02-22 18:44] mvandermade commented on #1256
The live editor doesn't seem to have the same issue:

<img width="653" alt="image" src="https://user-images.githubusercontent.com/33425497/75097497-b30d8e00-55ab-11ea-83bd-f75dabddaaed.png">

You can try to inspect the code and compare it to yours ?

[2020-02-22 18:53] jensenbox commented on #1264
Not really - something that would list all the software that supports if from the end user side.

Like (as a starting point):

- https://docs.gitlab.com/ee/user/markdown.html#mermaid
- https://marketplace.atlassian.com/apps/1214124/mermaid-plugin-for-confluence?hosting=server&tab=overview
- https://learn.netlify.com/en/shortcodes/mermaid/

I am hoping this could increase the overall visibility and

[2020-02-22 19:01] mvandermade commented on #1264
Yes, for example VScode also has a plugin.

I didn't know gitlab already started using it 2 years ago 👍
If GitHub would start to use it, it would be awesome.

We can start the list in the Wiki of this Github ?

[2020-02-22 19:03] mvandermade commented on #1264
https://github.com/mermaidjs/mermaid-gitbook is the source of the website

[2020-02-22 19:47] chris579 commented on #1264
The website is generated with GitHub Pages and is located [right in this repo](https://github.com/mermaid-js/mermaid/tree/develop/docs). The Gitbook repo isn't used any more. Also, the orga `mermaidjs` is not associated with `mermaid-js` in any kind.

[2020-02-22 21:38] goutham2688 opened #1271 "sequencenumber is not displayed with the text has a <br> tag"
**Describe the bug**
While creating sequence diagrams with autonumber enabled, if i add a <br> tag to the text then the sequence number disappears from the diagram.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Mermaid Live Editor
2. Click on Sequence diagrams
3. Create a sequence that has both autonumber enabled and <br> tag in it and is self referencing (eg., John-->John: lorem ips

[2020-02-22 21:50] mvandermade commented on #1264
imho this page is a good place to start: https://mermaid-js.github.io/mermaid/#/n00b-gettingStarted?id=mermaid-using-plugins

[2020-02-22 21:52] goutham2688 opened #1272 "download png not working for sequence diagrams"
**Describe the bug**
clicking on download png results in an empty png file

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mermaid live editor
2. Click on sequence diagrams
3. click on download png
4. an empty white png file is downloaded

**Expected behavior**
The image of the sequence diagram created

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Brows

[2020-02-22 21:55] jensenbox commented on #1264
That page seems a bit buried. I am thinking of more of a first class citizen so it is really easy just to add yourself to a running list. Nothing fancy, just a bullet list of all in-the-wild implementations.

[2020-02-22 21:56] chris579 commented on #1264
The README would be a good place. Somewhere at the bottom, just a simple bullet list.

[2020-02-23 03:25] osfpu commented on #1256
My similar issue example:
https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ2FudHRcbnRpdGxlIE1hcmNoIFBsYW5cbmRhdGVGb3JtYXQgWVlZWS1NTS1ERFxuc2VjdGlvbiBFbmdsaXNoIFByYWN0aWNlXG7lvoXlrpogOiBhMSwgMjAyMC0wMi0yNCAsIDV3XG5zZWN0aW9uIExvc2UgV2VpZ2h0XG4ya2cgOiBiMSwgMjAyMC0wMi0yNCwgMndcbjFrZyA6IGIyLCBhZnRlciBiMSwgMndcbjAuNWtnIDogYjMsIGFmdGVyIGIyLCAxd1xuc2VjdGlvbiBBSSBMZWFybmluZ1xuU3VtbWFyeS

[2020-02-23 03:27] jgroom33 commented on #1227
#806

[2020-02-23 10:42] mvandermade commented on #1256
About the adding a scrollbar, when I change the width manually, the tick text still overflows:
<img width="1089" alt="image" src="https://user-images.githubusercontent.com/33425497/75110669-2efde980-5631-11ea-8944-a0c7e8813af9.png">

And it seems that the ticks behave irregular:
Here with 7d
<img width="1338" alt="image" src="https://user-images.githubusercontent.com/33425497/75110680-5785e380-563

[2020-02-23 10:45] mvandermade commented on #1256
Here I can fix it by extending an item a couple of days:
https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ2FudHRcbnRpdGxlIE1hcmNoIFBsYW5cbmRhdGVGb3JtYXQgWVlZWS1NTS1ERFxuc2VjdGlvbiBFbmdsaXNoIFByYWN0aWNlXG7lvoXlrpogOiBhMSwgMjAyMC0wMi0yNCAsIDV3XG5zZWN0aW9uIExvc2UgV2VpZ2h0XG4ya2cgOiBiMSwgMjAyMC0wMi0yNCwgMndcbjFrZyA6IGIyLCBhZnRlciBiMSwgMndcbjAuNWtnIDogYjMsIGFmdGVyIGIyLCAxd1xuc2VjdGl

[2020-02-23 15:01] jgroom33 commented on #1227
There are a few libraries that do something similar. They seem to be standardizing on cloud provider icon sets.

This one seems to be the closest to the design goals of mermaid:
https://diagrams.mingrammer.com/docs/getting-started/examples

[2020-02-23 16:08] Baudin999 commented on #1181
I don't know if I'm allowed to add a tip/comment...

I'd use attributes. Class diagrams are different than flowcharts. People tend to want to annotate where the class diagrams have changed and where the accents lie.

If possible an annotation to the diagram would work really well, for example:

[code]

This is just a thought, but it would work well enough and will give you the flexibility you need

[2020-02-24 00:15] GDFaber commented on #684
FYI: During my tests for this issue I realized that text colors are not properly applied if htmlLabels are disabled, but this will be tackled in a new issue entry as this one is about applying the default class definition.

[2020-02-24 15:03] ca0v commented on #1272
Cannot reproduce.  I was able to view the png file in Firefox and Edge Chromium on Windows 10.  Current version is still 8.4.8.

[2020-02-24 15:09] goutham2688 commented on #1272
Issue is seen only for sequence diagrams, and not for other diagrams (i checked FlowChart and Class Diagrams)

[2020-02-24 17:29] lwalker-kforce opened #1276 "Support for C4 Models"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
We adopted C4 Models and use Azure DevOps Wiki's for our documentation. Currently, we model in Vizio, etc. and paste a screen shot into our Wiki docs or have tried to use PlantUML. Azure DevOps supports

[2020-02-24 17:45] jgreywolf commented on #1181
Of course you are!

So, the idea being that you could then have something at the end like:

`style changed background-color:#ffffff;` ?

Actually, I think I like the `.changed` format a little better.

[2020-02-24 18:20] jgreywolf commented on #1276
Just playing around a bit - I created this using current flowchart functionality. I get that this does not completely match the example ([Message Bus and Microservices](https://github.com/RicardoNiepel/C4-PlantUML#advanced-samples)) but like I said, just playing around...

[Repro in Mermaid Live Editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVEJcbiAgICBDdXN0b21

[2020-02-25 14:01] petterostergren opened #1277 "Array Stack/List and Linked-List"
Hey,

I'm always trying to search around for a solution that would allow me to build out an array stack.

I use mermaid extensively in conjunction with [Typora](https://github.com/typora) as my main note-taking tool for school, however, since a lot of lectures include arraylike structures (OS scheduling diagrams, algorithms Arrays/linked list).

Heres some sample images
![arraystack](https://user-

[2020-02-25 16:11] Baudin999 commented on #1181
The `.changed` format is more intuitive but also more related to the CSS syntax. I personally like the `.` notation the best.

The actual styling can be done at the end of the diagram:

[code]

Or in a separate stylesheet of course.

[2020-02-25 17:08] jgreywolf commented on #1264
I have started compiling a list of these.

Includes plugin/extensions for various apps/tools, as well as other systems (like GitLab) that are using Mermaid directly with their markdown

[2020-02-25 18:14] #1169 closed

[2020-02-25 18:17] #1093 closed

[2020-02-25 18:20] #684 closed

[2020-02-26 16:45] #1264 closed

[2020-02-26 16:50] knsv commented on #1269
Thanks for reporting. I will take a look

[2020-02-26 16:57] knsv commented on #1031
@rajasekaran2003 I think this has been fixed. Can you take a look and if it is ok, close the issue?

[2020-02-26 17:27] knsv commented on #1007
IE support has been an issue for a long time. I currently run Mac and have problems working with IE but would gladly support anyone that does.

What other browsers are problematic? Maybe IE11 will resolve it self when Microsoft stops supporting it. Does it work in Edge?

[2020-02-26 17:35] knsv commented on #1175
Thats excellent! Could you maybe make a PR for this?

[2020-02-26 18:59] knsv commented on #1269
The bounding query of bounding box dimensions in safari isnot returning expeced results. Made a workaround that seems to work. Can reproduce the arrow issue though. I suspect that it has to do with the editor.

[2020-02-26 19:09] guyellis opened #1279 "sequenceDiagram Links"
# sequenceDiagram Links

In searching through the docs and trying this out it seems that many of the diagrams support both anchor and JS "links." However, I can't find how to add a link to sequenceDiagram. Basically I want a sequenceDiagram to have one or more clickable links to static pages.

Are links already implemented for sequenceDiagram? If so what are the basics and I'll do a PR  to add thi

[2020-02-26 19:15] guyellis commented on #1279
A quick look at https://github.com/mermaid-js/mermaid/blob/develop/src/diagrams/sequence/parser/sequenceDiagram.jison and also at https://github.com/mermaid-js/mermaid/blob/develop/src/diagrams/gantt/parser/gantt.jison seems to indicate that the latter has it implemented but not the former.

I think that answers my first question.

What would be the "level of effort" required for somebody who does

[2020-02-26 20:08] mvandermade opened #1280 "mermaid-js.github.io shows 404"
Hi,

I am wondering why https://mermaid-js.github.io isn't being forwarded to https://mermaid-js.github.io/mermaid (shows 404)

My question rises, because https://mermaidjs.github.io currently is forwarded.
It is a little confusing to me, because there also exists a github.com/mermaidjs.

So my question, can mermaid-js.github.io also be forwarded to https://mermaid-js.github.io/mermaid as well ?

[2020-02-27 11:00] rajasekaran2003 commented on #1031
Thanks

[2020-02-27 11:00] #1031 closed

[2020-02-27 12:09] spopida commented on #117
Hi - I'm new here.  I've been playing around recently with ERDs and I'd like to have a go at this in mermaid.  My idea is slightly different from reverse engineering an ERD from a physical schema (a set of tables), although I can see the value in that.  I've always used ER diagramming as a modelling tool, before I have a schema, so I propose to simply declare the basic entities and relationships a

[2020-02-27 16:16] knsv commented on #117
Loose thoughts:

Great that someone is willing to take on this issue. The syntax first looked quite daunting and complex, but after reading through it I see that it the ideas and rules behind it are sound and not complex at all. 👍 Though, maybe that initial impression could deter potential users... or maybe its short expressive notation will be one its best features.

Try modeling something real w

[2020-02-27 17:45] spopida commented on #117
Thanks - sound advice.  I'll get something working on a branch and we can play around with a few choices around syntax.  Totally get that it's an important thing to get right and will be hard to change.

[2020-02-27 18:55] MaanasArora commented on #1040
Sorry for the late response—I had been really busy.

I have found the source of the bug: when Jison tries to parse something like `[/path]`, it tokenizes `[/` as `TRAPSTART` rather than `SQS` and `/` (because it prioritizes larger matches over smaller ones). As a result, `[/path]` is tokenized as `TRAPSTART "path" SQE` instead of `SQS "/path" SQE` which as expected results in an error. I am actual

[2020-02-27 21:07] GKJCJG opened #1283 "getBBox crashes older Firefox when called on tspan"
**Describe the bug**

Mermaid Version 8.4.6 and 8.4.8.

While rendering a chart with the following specification:
classDiagram
Class01 <|-- AveryLongClass : Cool
Class03 *-- Class04
Class05 o-- Class06
Class07 .. Class08
Class09 --> C2 : Where am i?
Class09 --* C3
Class09 --|> Class07
Class07 : equals()
Class07 : Object[] elementData
Class01 : size()
Class01 : int chimp
Class01 : int gorilla
Class

[2020-02-28 09:29] llLightTll opened #1284 "Composite State diagram doesn't render description"
[code]
renders
<img width="286" alt="Screenshot 2020-02-28 at 10 25 21" src="https://user-images.githubusercontent.com/61580506/75532680-b1612180-5a14-11ea-84b7-15fa719018b0.png">

expected: instead of "t1" we got "Test 1"
<img width="286" alt="Screenshot 2020-02-28 at 10 25 21" src="https://user-images.githubusercontent.com/61580506/75534246-1f0d4d80-5a15-11ea-961c-a51a15e03ab1.png">

[2020-02-28 09:32] sudhakar-sekar commented on #1211
@rand0me  I have tried, it's not working in my use case. My use case, when I am clicking the node navigate from page1 to page2 and vice-versa.

Thanks for your suggestion. I need brief details about node callback.

[2020-02-28 09:37] sudhakar-sekar commented on #1211
@chris579 please check the below sample,

graph TD
  A[Christmas] -->|Get money| B(Go shopping)
  B --> C{Let me think}
  C -->|One| D[Laptop]
  C -->|Two| E[iPhone]
  C -->|Three| F[fa:fa-car Car]

  click A callbackFn
  click B callbackFn

Callback function method:
callbackFn = (nodeId) => {
   if (nodeId === "A") {
      console.log('NodeId A clicked);
   } else if (nodeId === "B") {
      cons

[2020-02-29 10:42] FranklinYu commented on #1269
We have another example which might be affected by the same bug in Safari SVG engine: https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoic2VxdWVuY2VEaWFncmFtXG5cbmEgLT4-IGI6YyIsIm1lcm1haWQiOnsidGhlbWUiOiJkZWZhdWx0In0sInVwZGF0ZUVkaXRvciI6ZmFsc2V9

So it looks like Safari doesn’t support `marker-end`? But the example at [marker-end](https://developer.mozilla.org/en-US/docs/Web/SVG/A

[2020-02-29 14:49] #1269 closed

[2020-02-29 15:44] mvandermade commented on #1283
I would advise to keep the firefox browser updated. Simply because later versions are working : https://developer.mozilla.org/en-US/docs/Mozilla/Errors

[2020-02-29 20:55] GDFaber commented on #1249
Sorry, this is not resolved yet, I had the changes merged by accident.

Can you please create another pull request containing the changes? Please add unit tests for your changes as well. The ability to use block comments should also be included into the mermaid docs.

Sorry for the inconvenience, @erelling.

[2020-02-29 23:51] erelling commented on #1249
Thanks, no problem😄
Will do next time around, likely the week after next.

[2020-03-01 10:52] apavlyut commented on #494
Any updates fo fix?

I have the same issue on notes in sequences

[2020-03-01 16:46] knsv commented on #1272
Thanks for reporting. This is an issue for the mermaid-live-editor. Please report the issue there instead so you get info about its status when it changes.
https://github.com/mermaid-js/mermaid-live-editor

Thanks

[2020-03-01 16:46] #1272 closed

[2020-03-02 09:39] jackycute opened #1288 "Line been cutoff in flow chart"
**Describe the bug**
Lines been cutoff in flow chart
Given a simple flow chart graph:
[code]

will result in:

<img width="689" alt="螢幕快照 2020-03-02 下午5 41 26" src="https://user-images.githubusercontent.com/2639151/75664221-146ce580-5cad-11ea-9352-89782b799fa4.png">

the line connects a and e nodes should not been cutoff in the output.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ht

[2020-03-02 10:07] dcadc commented on #1288
Looks like the place where `a --> e` was defined matters.
![image](https://user-images.githubusercontent.com/8225179/75666039-16847380-5cb0-11ea-826c-887f78002d99.png)
![image](https://user-images.githubusercontent.com/8225179/75665982-fd7bc280-5caf-11ea-8e28-38424616b03f.png)

[2020-03-02 10:19] JulianHayward opened #1289 "Azure DevOps Wiki - Flow Diagram node text alignment"
In Azure DevOps Wiki using the Mermaid extension the Flow Diagram node text alignment is aligned left and the node width is doubled.

**Steps to reproduce the behavior**

In Azure DevOps Wiki create a new page and use code:
![image](https://user-images.githubusercontent.com/45695032/75667090-4cf1cc80-5c77-11ea-945b-a31533f19ae0.png)

[code]
output looks like this:

![image](https://user-images.git

[2020-03-02 10:35] GDFaber commented on #1289
Hi @JulianHayward, thanks for reaching out. The problem you've run into is also decumented in #1177. Do you agree to closing your issue in favor of #1177?

[2020-03-02 10:40] JulianHayward commented on #1289
hi @GDFaber - sure thing..

[2020-03-02 11:51] Crowds21 opened #1290 "Red line in Gantt"
**Describe the bug**

When drawing a Gantt chart, a red line appears at the beginning of the month
Does it represent the current date?
And how to get rid of it.

**To Reproduce**

[code]
**Expected behavior**
A red line appears in the Gantt

**Screenshots**
![line](https://user-images.githubusercontent.com/48215334/75673899-fc05c680-5cbe-11ea-958d-00ba9bf669a7.png)

**Desktop (please complete the

[2020-03-02 20:36] CapinWinky opened #1291 "Support state diagram transition to child states"
For example, this is currently not supported:

[code]

For complicated state diagrams, allowing direct connections between child states of two different parent states could bring major improvements to render readability.

To be frank, maybe compare Mermaid's state machine engine with State Machine Cat

[2020-03-03 14:21] SaturnIC opened #1292 "Support conditions/pseudostates in state diagrams"
**Describe the bug**
The initial state may be dependent on some condition C.
So depending on C the initial state can vary.
The UML state diagram implements this by having a pseudostate/condition (rhombus shape),
so that the initial transition can go to the condition and split from there to two different initial states.

In Mermaid state diagramm (MSG) if two initial transitions are described, two

[2020-03-04 02:53] tessus opened #1293 "one arrow is partly off screen"
**Describe the bug**
The following code generates an image where one arrow is partly off screen.

[code]
[Live Editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ3JhcGggVERcblx0YSAtLT4gYztcblx0YSAtLT4gZDtcblx0YyAtLT4gZDtcblx0XHRcdFx0XHQiLCJtZXJtYWlkIjp7InRoZW1lIjoiZGVmYXVsdCJ9fQ)

**To Reproduce**
Steps to reproduce the behavior:
1. Render the following code
[code]
2. Obs

[2020-03-04 03:49] fcnyp opened #1294 "Flowchart click interaction does not occur"
When clicking a node with an attached click event in flowchart callback is not triggered. This occurs in the example documentation (https://mermaid-js.github.io/mermaid/#/flowchart) in the "Interaction" section as well as a local instance running 8.4.8. I have tried both the example documentation and local in Firefox and Chrome with the same result.

Expected result:
If clicking "A" in example doc

[2020-03-04 19:16] knsv opened #1295 "Create generic rendering engine"
This engine should:
* wrap dagre
* allow double edge arrows
* allow links between subgraphs
* allow a link between a node and a sub graph
* allow a link between a subgraph and a node

[2020-03-05 12:16] #1289 closed

[2020-03-05 12:22] GDFaber commented on #1293
Hi @tessus, thank you for reporting this. I'm closing your issue in favor of #1288 because it states the same problem.

[2020-03-05 12:22] #1293 closed

[2020-03-06 02:25] azawawi commented on #1227
Same plantuml nwdiag-based previous work with syntax:

https://plantuml.com/nwdiag

[2020-03-06 10:21] hugofragata opened #1296 "Azure DevOps Wiki - Unable to use Hexagon and Database Graph Nodes"
**Describe the bug**
When using the valid Hexagon or Database Nodes in a graph on the Azure DevOps Wiki, an error appears, thus causing the graph not to render.
The error is the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Click in edit on a Azure DevOps Page
2. Input `graph LR;rabbit_mq{{RabbitMQ}}`
3. Click Load Diagram
4. See error

**Expected behavior**
It should ren

[2020-03-06 14:46] tiagolima34 opened #1297 "Support links with interactive text"
I would like the text of the links between the nodes to have tooltips and/or hyperlinks (external or to an existing header on the wiki).

example of tooltip
![image](https://user-images.githubusercontent.com/29544875/76079867-89863680-5f9d-11ea-904d-291f6137d41c.png)

example of hyperlink
![image](https://user-images.githubusercontent.com/29544875/76093644-40dc7680-5fb9-11ea-8f2e-206069716491.png)

[2020-03-06 15:26] Dunning-Kruger commented on #1296
From [their docs](https://docs.microsoft.com/en-us/azure/devops/project/wiki/wiki-markdown-guidance?view=azure-devops#add-mermaid-diagrams-to-a-wiki-page):

Sadly, hexagon shapes are a 8.4.0 feature and of course we have no control over what version azure devops uses so we can't do anything about your issue.

[2020-03-06 15:40] Dunning-Kruger commented on #1292
@SaturnIC Hello! Thank you for the feature suggestion! Any idea on how the syntax for this should look like?

[2020-03-06 15:45] Dunning-Kruger commented on #1290
@Crowds21 Hey! There is no markup/configuration way of removing the line but... it is just an HTML element. You could just CSS it away with something like:
[code]

[2020-03-06 16:08] Dunning-Kruger commented on #1232
@JonasGav The markdown is being parsed by the browser and line endings are being stripped before mermaid process them, resulting in the following markup. One trick is to use a `<pre>` instead of a `<div>`.

Updated stackblitz [here](https://stackblitz.com/edit/angular-markdown-mermaid-7jfvvh?file=src%2Fapp%2Fapp.component.html).

[2020-03-06 21:55] Tilix4 commented on #494
Hi! Same issue for me...

[2020-03-08 18:39] hugofragata commented on #1296
I see. I was unable to find that information on the changelogs. Thanks for the heads up.

[2020-03-08 18:39] #1296 closed

[2020-03-09 00:04] NeilCuzon commented on #1046
hi guys! I've recently contributed to the docs, including some recent edits for the README.md, for mermaid and I would want to help out with this issue as well.

however, I don't have any real experience with updating the documentation for npm.
Point me in the right direction and I'll work on it.

[2020-03-09 10:52] HerbertHe opened #1299 "mysterious prefix 'd' appears at the the id attribute"
I tried to use mermaidAPI in React to develop a markdown real-time-render editor, markdown is rendered by marked.js. When I overwrote, here something happened not as I guessed.

[code]

When I ran the code, at the browser console, it had added new node `<div id="d" + name></div>` when I update the `code`, and then I tried to value `name` as `""`, and appeared mysterious prefix `d`, but I already p

[2020-03-09 12:31] Dunning-Kruger commented on #1046
@NeilCuzon Thank you for the good intentions but the issue is already assigned to someone with permission on NPM.

[2020-03-09 12:36] Dunning-Kruger commented on #1299
@HerbertHe Any chance you could reproduce this on the live editor or a live version of your project? Can't recommend to anyone cloning and running an unknown project.

[2020-03-09 13:36] HerbertHe commented on #1299
@Dunning-Kruger I have uploaded a live version at [Editor](https://server.jieec.cn/editor), not absolute same but the same trouble

[2020-03-09 13:43] Dunning-Kruger commented on #1299
@HerbertHe And how do you reproduce the issue?

[2020-03-09 13:53] HerbertHe commented on #1299
@Dunning-Kruger same as what I said above, before html node, the div node would be added.

like when I inputted(not copied)

[code]

the node would be added! And its id would be `dgraph`

[2020-03-09 13:56] HerbertHe commented on #1299
But the project what I have uploaded to GitHub would show the issue more clearly...

[2020-03-09 16:05] HerbertHe commented on #1299
Add I recommend to add a new method like `mermaidAPI.render()` with removing required `id` just for returning the rendered DOM to provide us inject them to nodes by ourselves, thanks!

[2020-03-10 01:45] jernejp21 commented on #1250
I would appreciate to be able to import custom shapes via SVG image.

I'm working in Japanese company and we have special flow chart (Japanese really, really love Word and Excel hence the special shapes). I would like to modernise flow chart drawing procedure but leave shapes they are already using.

Tried with graphviz but very painful Windows installation because of Cairo lib. Not able to conver

[2020-03-10 14:42] handzlikchris commented on #523
+1

[2020-03-10 15:28] Dunning-Kruger commented on #523
We're always welcoming new contributors. If you'd like to help out, feel free to check our ["collaborators wanted"](https://github.com/mermaid-js/mermaid/issues/866) issue, read our [contribution guidelines](https://github.com/mermaid-js/mermaid/blob/master/CONTRIBUTING.md), and [join us in slack](https://join.slack.com/t/mermaid-talk/shared_invite/enQtNzc4NDIyNzk4OTAyLWVhYjQxOTI2OTg4YmE1ZmJkY2Y4M

[2020-03-11 02:03] xyfuestc opened #1300 "How can I draw a system structure diagram like this??"
I really like mermaid for its lightweight, and I want to use it to draw the graphs of my papers. I tried my best to do, only got this:
![image](https://user-images.githubusercontent.com/62041458/76374632-c330b600-637e-11ea-90de-1ed5cc246750.png)
But my purpose is this:
![image](https://user-images.githubusercontent.com/62041458/76374662-d04da500-637e-11ea-8b4b-2cca1d753016.png)

I wanna two-way ar

[2020-03-11 02:20] ccll opened #1301 "Gantt diagram date text on the horizontal axis overlapped if tasks span a long period of time"
**Describe the bug**

![image](https://user-images.githubusercontent.com/5366582/76375642-49e69280-6381-11ea-91c0-4d022ef534ca.png)

**To Reproduce**
Steps to reproduce the behavior:
Paste below code into [live editor](https://mermaid-js.github.io/mermaid-live-editor/#/edit/eyJjb2RlIjoiZ2FudHRcblx0dGl0bGUgQSBHYW50dCBEaWFncmFtXG5cdGRhdGVGb3JtYXQgIFlZWVktTU0tRERcblx0c2VjdGlvbiBTZWN0aW9uXG5cdEEgdGFza

[2020-03-12 17:10] MyriaCore opened #1304 "Support Properly-Styled Decision Nodes in State Diagrams"
[Decision nodes](https://www.uml-diagrams.org/activity-diagrams-controls.html#decision-node) are an important part of designing UML state diagrams *and* activity diagrams. Even the most simple of diagrams tend to have some form of conditional. Mermaidjs, however, does not support this feature natively - the user has to use a workaround to accomplish the proper style, or ignore styling all-together

[2020-03-13 10:08] mnlin0905 opened #1305 "Serious crossing of icon lines (class diagram)"
![image](https://user-images.githubusercontent.com/17874282/76611495-91be1300-6555-11ea-900a-b5ae1a967cf6.png)

The whole thing looks chaotic

[2020-03-13 11:42] Duzx5517 opened #1306 "Class diagrams optimization"
Idea  class diagrams is  beautiful ,It can distinguish between interface and abstract class.
mermaid class diagrams can only know it's class .

[2020-03-13 15:25] jgreywolf commented on #1306
Can you clarify your statement?

This [section](https://mermaid-js.github.io/mermaid/#/classDiagram?id=annotations-on-classes) of the documentation provides examples of how to indicate a class is abstract, or if it implements an interface.

Is that what you are looking for, or something else?

[2020-03-13 15:27] jgreywolf commented on #1305
Can you provide a link that shows the diagram definition in the [live](https://mermaid-js.github.io/mermaid-live-editor/) editor so that I can look at this in better detail?  The image is a bit fuzzy

[2020-03-13 17:15] Dunning-Kruger commented on #1304
@MyriaCore Thanks for the extense and clear issue. This is a duplicate of #1292 but we'll keep this one instead.

[2020-03-13 17:15] Dunning-Kruger commented on #1292
This issue is now being tracked in #1304

[2020-03-13 17:15] #1292 closed

[2020-03-13 17:26] Dunning-Kruger commented on #1300
The short answer is... you can't automatically generate a graph styled as you want.
You can take mermaid's graph and style it using CSS to fit your needs.

[2020-03-14 01:04] #1306 closed

[2020-03-14 07:35] #314 closed

[2020-03-14 22:49] Braincoke commented on #1054
I also looked for this functionality when I was integrating mermaidjs to Gridsome.
I ended up removing the styles manually with unifiedjs.

[code]

[2020-03-16 01:34] lovingning commented on #1305
[code]

like this

![mermaid-diagram-20200316093413](https://user-images.githubusercontent.com/17874282/76715932-598f1e00-6769-11ea-92f7-5c05df4f20a9.png)

[2020-03-16 14:52] iqmia commented on #1134
I have the same issue. I increased the font size to 300% when on android. but a better solution is yet to be found.

[2020-03-16 15:02] Dunning-Kruger commented on #1134
@iqmia Hey, have you tried using the maxWidth configuration so it does not fill the screen like that? Are the fonts still illegible?

Note that in actual uses of the library, the graph would be "constrained" by the width of the container so the rendering might differ from what you see in the live-editor.